*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/kotlinc.xml
/.idea/gradle.xml
/.idea/encodings.xml
/.idea/compiler.xml
/.idea/codeStyles
.DS_Store
/build
/app/release
/app/debug
/captures
.externalNativeBuild
.cxx
/local.properties
