@charset "utf-8";
@import "../nanumgothic.css";

body.wizardPop {overflow-y: scroll;} /* 팝업 스크롤 */
input[type="checkbox"],
input[type="radio"] {width: 13px; height: 13px; margin: -2px 4px 0 0;}

#errorReport .viva_que_exp,
#scraped .viva_que_exp, 
.wTblList .viva_que_exp,
#targetChange .viva_que_exp {overflow: hidden; position: relative; margin-top: 20px; /* padding: 0 12px 0 0px; */}

#scraped .viva_que,
#testviewEr_1 .viva_que, 
.wTblList .viva_que,
#targetChange .viva_que {float: left; width: 400px; margin-right: 22px; padding-right: 22px; border-right: 1px dashed #d1d3d8;}

.Ex_box2 {overflow: hidden; border:1px solid #ebebeb; background:#fff;}
.Ex_box2 > .Justify:first-child ,
.Ex_box2 > .Justify:first-child {border-bottom: 1px solid #d4d6e1; margin-bottom: 10px; padding-bottom: 10px;}

.first {margin-top: 0;}
.pointBlue {color:#3f77d6;}

.qbank_explan {overflow: hidden; background: #f4f4f4; margin-bottom: 12px; padding: 10px 10px 0 10px; border-top: 2px solid #858ea0; border-bottom: 1px solid #858ea0; background: #f0f2f7;}
.qbank_explan dt *,
.qbank_explan dd * {vertical-align: middle;}
.qbank_explan dt {font-weight: bold;}
.qbank_explan dd {padding: 5px 0; font-size: 11px;}
.qbank_explan_level {padding-right: 25px;}

.wizardPop .examWrap {padding: 0; border-bottom: none;}
.wizardPop .examWrap .qbank_btn {display: none;}

/* 페이징 */
.pagingN * {vertical-align: middle;}
.pagingN {position:relative; margin: 20px auto 0;}
.pagingN:after {content: ''; display: block; height: 0; visibility: hidden; clear: both;}
.pagingN select {position: absolute; top: 0; right: 0;}
.pagingN .pageCnt {text-align: center; height: 20px;}
.pagingN a {display: inline-block; margin:0 2px;}
.pagingN a.btn {font-size: 0;}
.pagingN span a {height: 15px; padding: 3px 5px 0 5px; font-size: 11px; vertical-align: top; text-align: center; color: #757a85; border: 1px solid #ccc; background: url('../../images/common/board/page_bg.gif') 0 0 repeat-x;}
.pagingN span a.on {color: #4a6aff; border-color: #7288e9; font-weight: bold;}
.left_list_num   {position:relative;  top:-22px; float:left;}
.btn_right_area  {position:relative; right:0; top:-25px; float:right;}

.pagingN { position:relative; text-align:center; font:bold 12px verdana; margin-top:20px; }
.pagingN select {position: absolute; top: 0; right: 0;}
.pagingN a { padding:6px 10px; color:#333; border:1px solid #fff; }
.pagingN a:hover, .pagingN a.on { color:#3d78d6; border:1px solid #3d78d6; font-weight:bold; text-decoration:none; }
.pagingN a.btn:hover, .pagingN a.btn2:hover { border:1px solid #fff; }
.pagingN a.last { padding:6px 8px; }
.pagingN a.next { margin:0; }

/* 페이징 수정 2016-03-10 */
.pagingN.type02 a.btn {padding:0 2px;}

/* 전체선택 */
.chkControl * {vertical-align: middle;}
.chkControl {position:relative; height: 25px; margin-top: 23px; padding: 13px 10px 0 22px; background: #f2f3f7; text-align: right; color: #555; font-size: 11px;}
.chkControl:after {content: ''; display: block; visibility: hidden; height: 0; clear: both;}
.chkControl .allChk {float: left;}
.chkControl .allChk label {font-weight: bold; font-size: 12px;}
.chkControl .selChk {position:absolute; top: 9px; right: 10px;}

/* 버튼 영역 */
.popBtnArea {clear:both;overflow:hidden; margin: 10px 0 0 0; text-align:center; font-size: 0;}
.popBtnArea .sideL {float:left;}
.popBtnArea .sideR {float:right;}

.absolute {position:absolute !important;}
.msgPop {position:relative; padding: 26px; border-top: 1px solid #122673; border: 1px solid #4b5ba1; background:#fbfcfe url('../../images/wizard/pop/top_bg.gif') repeat-x 0 0;}
.msgPop .close {position:absolute; top:24px; right:32px;}
.msgPop .header {margin: 0 0 15px 0;}
.msgPop .header p{margin: 10px 0 0 0;}

#targetChange {width: 747px}

/* 문항교체 */
.section_change {}
.section_change .titArea * {vertical-align:middle;}
.section_change .titArea {overflow:hidden; position:relative; padding:24px 30px 10px 30px; color:#666; font:13px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }
.section_change .titArea strong {font-size: 16px; color:#333; }
.section_change .titArea .check {position:absolute; top:27px; right:30px;}
.section_change .scrWrap {margin:0 30px; padding:25px 0; border:1px solid #d8d8d8; }
.section_change .scrWrap .examArea { margin:0 auto; }
.section_change .cntArea {padding: 20px 14px; background: #fff;}

/* 교체할 문항 선택 */
.selectHeader {margin: 24px 0 8px 0; text-align:right;}
.selectHeader strong {float:left; padding: 0 0 0 10px; font-size: 14px; color:#333; background: url('../../images/common/icon/cir_plus.gif') 0 4px no-repeat;}
.selectHeader .sort label {padding: 0 0 0 9px; color:#333; background: url('../../images/common/icon/cir_plus.gif') 0 4px no-repeat; font-weight: bold;}

.selectTarget {position:relative; overflow:hidden; height:73px; margin-top:10px; padding: 13px 0 0 19px;border:1px solid #bac2d0; color:#333; background:#f2f3f6; }
.selectTarget ul li {padding: 7px 0 0 0;}
.selectTarget ul li:first-child {padding: 0;}
.selectTarget .btn {position:absolute; top:13px; right:25px;}
.selectTarget select { height:27px; border:1px solid #bac2d0; color:#999; font:12px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }
.selectTarget .text { width:194px; height:25px; border:1px solid #bac2d0; color:#999; font:12px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }

.section_selectTarget { padding:40px 30px 25px; color:#666; font:13px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }
.section_selectTarget > strong { font-size:16px; color:#444; }
.section_selectTarget .noti { text-align:right; float:right; color:#666; padding-top:6px; }
.section_selectTarget .cntArea {position:relative; overflow:hidden; height: 437px; overflow-y: auto; padding: 20px 28px 20px 28px; border:1px solid #c7ccd7; border-top: none; background: #fff url('../../images/wizard/pop/add_notice1.gif') 50% 50% no-repeat;}
.section_selectTarget .cntArea.bgNone {background-image: none;}
.section_selectTarget .cntArea .btnChange {position:absolute; top: 0; right: 0; width: 90px; height: 100%; background: #f6f4f4; font-size: 0;}
.section_selectTarget .cntArea .btnChange a {position:absolute; top: 50%; left: 50%; margin: -30px 0 0 -30px;}
/* 2016-02-26 */
#questionAdd .selectTarget {margin:20px 30px}
.stit {font-size:16px;font-family:Nanum Gothic,나눔고딕, Dotum, 돋움}
.stit .em {color:#3d78d6;}
.selectTarget ul li .stit02 {margin-right:5px}
.selectTarget ul li .sec {color:#999;margin-right:8px;}
.selectTarget ul li label.marR {margin-right:8px;}
.selectTarget ul li label.last {margin-right:17px;}

/* 출제 정보표 */
#makeInfo {position:absolute; margin: 0 0 0 0px;width: 747px; height: 630px; overflow-y: auto;}
.makeInfoArea * {vertical-align:middle;}
.makeInfoArea {position:relative; border-top: 2px solid #858ea0;}
.makeInfoArea .qInfo {height: 30px; padding: 14px 0 0 0;}
.makeInfoArea .qInfo .label {padding: 0 0 0 10px; color:#333; background: url('../../images/common/icon/cir_plus.gif') 0 3px no-repeat;}
.makeInfoArea .qInfo .btnArea {position:absolute; top: 7px; right: 0;}

.makeInfoArea .range {overflow:hidden; padding: 13px 0 13px 0; border:1px solid #e1e1e1; background: #f4f4f4;}
.makeInfoArea .range li {float:left; padding: 0 0 0 20px;}
.makeInfoArea .range li strong {display:inline-block; line-height: 16px; margin: 0 7px 0 0; padding: 0 10px 0 13px; border-right: 1px solid #dedede; background: url('../../images/common/icon/bul_sqGray.gif') 0 6px no-repeat;}

.makeInfoArea .range li.type1 {width: 321px;}
.makeInfoArea .range li.type2 {width: 360px;}
.makeInfoArea .range li.type1 em {display:inline-block; width: 30px; padding: 0 0 0 2px;}
.makeInfoArea .range li.type2 em {display:inline-block; width: 44px; padding: 0 0 0 2px;}
.lineNone {background-image: none !important;}
.wTblList {margin: 10px 0 0 0;border-top: 1px solid #989898; border-bottom:1px solid #aeb4c0;}
.wTblList .queTxt {border: none;padding-bottom: 0;}
.wTblList .section {text-align: left;}
.wTblList table {width: 100%;}
.wTblList table input[type="checkbox"] {margin: 0;}
.wTblList table thead th {height:42px; border-bottom:1px solid #dbdbdb; color:#333; font:13px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; background: #f7f7f7 url('../../images/common/board/th_line.gif') no-repeat 0 17px;}
.wTblList table thead th:first-child {background-image: none;}
.wTblList table tbody tr {width: 100%; background: #f3f3f4;}
.wTblList table tbody tr.on td {background: #f3f3f4;}
.wTblList table tbody td {padding:15px 0 14px 0; border-top:1px solid #dbdbdb; border-right:1px solid #dbdbdb; text-align:center; color:#555; font:12px dotum,돋움; background:#fff; }
.wTblList table tbody td:last-child { border-right:0; }
.wTblList table td * {background: transparent !important;}
.wTblList table tbody td.showDragHandle {		
		background-image: url("../../images/wizard/btn/btn_updown.gif");
		background-repeat: no-repeat;
		background-position: center left;
	 	cursor: move;}
.wTblList table tbody td.aLeft {padding-left: 10px; text-align: left !important;}
.wTblList table tbody td.downBtn {font-size: 0; }
.wTblList table tbody td.downBtn a {display:inline-block; *display: inline; zoom: 1; margin:1px 1px 2px;}
.sFont { color:#9196a2;}
.sFont strong {color:#6b6e75;}
.scrollBox { overflow-x:hidden; overflow-y:auto; height:592px; padding:0 34px 0 30px; }

.boxBtn { height:36px; padding:10px 20px 0 0; border:1px solid #e1e1e1; border-bottom:1px solid #c9c9c9; text-align:right; color:#333; font:14px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; background:#fafafa; }
.boxBtn label { margin:0 9px; }
.boxBtn select { width:100px; height:27px; border:1px solid #d9d9d9; color:#999; font:12px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }


/* 문항 스크랩 */
#scraping {position:absolute; top: 400px; left: 50%; width:500px; margin: 0 0 0 -211px; z-index:9501;}


/* 나의 시험지로 저장 */
#examSave {position:absolute; top: 200px; left: 50%; width:500px; margin:0 0 0 -340px; font:13px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }
	.examInfo { margin-bottom:10px; }
	.examInfo table { border-top:1px solid #989898; border-bottom:1px solid #989898; letter-spacing:-.06em; }
	.examInfo table tr th { height:42px; padding-left:10px; border-bottom:1px solid #e1e1e1; color:#333; font:13px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; text-align:left; }
	.examInfo table tr td { border-bottom:1px solid #e1e1e1; color:#666; font:13px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }
	.examInfo table tr:last-child th, .examInfo table tr:last-child td { border-bottom:0; }
	.examInfo table tr td select { height:27px; /*padding-left:10px; */border:1px solid #d9d9d9; vertical-align:middle; color:#999; font:12px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }
	.examInfo table tr td .txt { width:340px; height:25px; padding-left:10px; border:1px solid #d9d9d9; color:#999; font:12px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }
	.examInfo table tr td img { vertical-align:middle; }
	.examInfo table tr td label { margin-right:25px; }
	.examInfo table tr th.add { height:auto; }
	.examInfo table tr td.add { padding:8px 0 8px; }
	.examInfo table tr td.add div { padding:5px 0 0; }
	.examInfo table tr td.add div input { margin-bottom:2px; }
#examSave .msg { margin-bottom:10px; color:#666; text-align:center; font-size:14px; line-height:20px; }
#examSave .msg em { color:#3d78d6; }
#examSave .box { overflow:hidden; height:77px; margin-bottom:13px; border:1px solid #e1e1e1; }
#examSave .box .txt { float:left; width:283px; height:55px; padding:22px 10px 0; border-right:1px solid #e1e1e1; color:#555; font:12px/16px dotum,돋움; text-align:center; }
#examSave .box .btn { float:left; width:132px; padding-top:13px; text-align:center; }
#examSave .box .btn a { display:inline-block; margin:1px 1px 2px; }

/* 스크랩 문항 */
#scrapedFrame {width: 0px; height:0px;}
#scraped {width: 747px; position: absolute; margin: 0 0 0 0px; height: 600px; overflow-y: auto;}

#preview {/*width: 747px;*/}
#preview .scrWrap {height: 460px; padding: 30px; margin:0 30px;border: 1px solid #e1e1e1; background: #fefefe;}

.previewOpt * {vertical-align:middle;}
.previewOpt {margin:20px 30px 0;padding: 15px 20px 15px 20px; border: 1px solid #e1e1e1; border-top: 2px solid #858ea0; border-bottom: none; background: #f4f4f4;}
.previewOpt .label {padding: 0 10px 0 10px; background: url('../../images/common/icon/cir_plus.gif') 0 4px no-repeat;}
.previewOpt label {font-weight: normal;}

.rangeBox {overflow:hidden; padding: 9px 0 8px 0; border:1px solid #e1e1e1; background: #f4f4f4;}
.rangeBox li {float:left; padding: 0 0 0 20px; line-height: 24px;}
.rangeBox li label {}
.rangeBox li label {padding: 0 12px 0 0; color:#696969; font-size: 11px;}
.rangeBox li strong {display:inline-block; line-height: 16px; margin: 0 5px 0 0; padding: 0 8px 0 9px; border-right: 1px solid #dedede; background: url('../../images/common/icon/cir_plus.gif') 0 6px no-repeat;}
.rangeBox li.type1 {width: 310px;}
.rangeBox li.type2 {width: 390px;}
.rangeBox li.type1 em {display:inline-block; width: 30px; padding: 0 0 0 2px;}
.rangeBox li.type2 em {display:inline-block; width: 44px; padding: 0 0 0 2px;}

.changeHeader * {vertical-align:middle;}
.changeHeader strong {vertical-align: baseline;;}
.changeHeader {position:relative; overflow:hidden; margin: 14px 0 0 0; text-align:right;}
.changeHeader .num {float:left; padding:10px 0 0 0; color:#666; font:14px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }
.changeHeader .num strong { color:#3d78d6; }
.changeHeader .exChange * {vertical-align:middle;}
.changeHeader .exChange { padding-top:4px; color:#333; font:15px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }
.changeHeader .exChange label {padding: 0 10px 0 20px; }
.changeHeader .exChange select { width:100px; height:27px; border:1px solid #d9d9d9; color:#999; font-size:12px; }

#myTest {}
#examDown {width: 423px}
.downTxt {margin: 20px 0 0 0; padding: 0 8px 0 9px; background: url('../../images/common/icon/cir_plus.gif') 0 3px no-repeat;}
.downTxt strong {font-size: 14px;}

/* 문항오류 신고하기 */
.first {margin-top: 0 !important;}
#errorReport {}
	.wTblForm {overflow:hidden; padding:25px 30px 0; }
	.wTblForm table {width:100%; border-top:1px solid #989898; border-bottom:1px solid #989898; color:#666; }
	.wTblForm table th,
	.wTblForm table td {border-bottom:1px solid #c7ccd7; font:13px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }
	.wTblForm table th {font-weight:normal; padding: 0 0 0 12px; text-align:left; color:#333; }
	.wTblForm table td {padding: 7px 0 7px 12px;}
	.wTblForm table td select { height:27px; border:1px solid #d9d9d9; color:#999; font:12px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }
	.wTblForm table td input { height:25px; border:1px solid #d9d9d9; color:#999; font:12px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }
	.wTblForm table td textarea { width:353px; height:98px; border:1px solid #d9d9d9; color:#999; font:12px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }
	.wTblForm table tr:last-child th, .wTblForm table tr:last-child td { border-bottom:0; }
	.msgPopCntErr .popBtnArea { margin-bottom:10px; padding-right:30px; }
	.msgPopCntErr .examWrap { margin-bottom:25px; padding:0 30px; }
		.examClose { padding:0 30px 10px; }
		.examClose a { display:block; height:25px; padding-top:9px; border:1px solid #e1e1e1; border-bottom:1px solid #c9c9c9; text-align:center; color:#4e4e4e; font:bold 12px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; background:#fafafa; }
		.examClose a:hover { text-decoration:none; }
		.examClose a img { margin-left:4px; vertical-align:middle; }

	.chapterStep {padding: 12px 0 12px 12px; border-top: 2px solid #858ea0; border-bottom: 1px solid #858ea0; background: #f0f2f7; font-weight: bold;}

.msgPopup { background:#fff; }
.msgPopup .tit { position:relative; height:39px; padding:21px 0 0 30px; background:#3d78d6; }
.msgPopup .tit h2 { color:#fff; font:bold 20px 'Nanum Gothic', "나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }
.msgPopup .tit a { position:absolute; top:17px; right:19px; }
.msgPopup .main_content { overflow-x:hidden; overflow-y:auto; width:785px; max-height:592px; padding:18px 30px 0 30px; }
.msgPopup .contWrap { padding:25px 30px 55px; border:1px solid #989898; }
.msgPopup .btnArea { overflow:hidden; color:#666; font:12px 'Nanum Gothic', "나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; letter-spacing:-.06em; }
.msgPopup .btnArea p { float:left; padding-top:3px; }
.msgPopup .btnArea p em { color:#3d78d6; }
.msgPopup .btnArea a { float:right; }
.msgPopup .btnC { text-align:center; }

.pop_myScrap .selectOrder { /* margin-top:-17px; */ padding-right:33px; }


.pop_examTbl {}
.pop_examTbl .txtChange { position:relative; height:37px; margin-top:15px; padding:9px 33px 0 0; border:1px solid #e1e1e1; border-bottom:1px solid #c9c9c9; text-align:right; font:13px "나눔고딕","Nanum Gothic","돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; background:#fafafa; }
.pop_examTbl .txtChange p { position:absolute; top:14px; left:30px; color:#666; }
.pop_examTbl .txtChange img { vertical-align:middle; }
.pop_examTbl .examTit { position:relative; width:725px; height:35px; margin-bottom:20px; padding:13px 20px 0 0; border:1px solid #e1e1e1; text-align:right; }
.pop_examTbl .examTit p { position:absolute; top:17px; left:20px; color:#666; font:13px "나눔고딕","Nanum Gothic","돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }
.pop_examTbl .examTit img { margin:0 2px 2px 10px; vertical-align:middle; }
.pop_examTbl .examListTbl { border-top:1px solid #989898; }
.pop_examTbl .examListTbl th { height:42px; border-bottom:1px solid #e1e1e1; font:13px "나눔고딕","Nanum Gothic","돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; background:#fafafa url('../../images/new/bg_bar.gif') no-repeat right 15px; }
.pop_examTbl .examListTbl th.last { background-image:none; }
.pop_examTbl .examListTbl td { border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; text-align:center; }
.pop_examTbl .examListTbl td.move { border-left:1px solid #e1e1e1; cursor:move; }
.pop_examTbl .examListTbl td.move:hover { background:#e2f1f2 url('../../images/new/bg_move.gif') no-repeat center; }
.pop_examTbl .examListTbl td.cate { width:98px; padding-left:10px; color:#555; text-align:left; }
.pop_examTbl .examListTbl td.e { text-align:left; }
.pop_examTbl .examListTbl td.e div { overflow-x:hidden; overflow-y:auto; max-height:145px; padding:15px 0 0 20px; }
.pop_examTbl .examListTbl table { border-top:0; }
.pop_examTbl .examListTbl table tr.tDnD_whileDrag .move { background:#e2f1f2 url('../../images/new/bg_move.gif') no-repeat center; }
.pop_examTbl .examListTbl table tr td:last-child { border-right:0; }
.pop_examTbl .examListTbl .cate table tr td { border-bottom:0; }
.pop_examTbl .txtChange { margin-top:-1px; }

.wizardPop .examWrap .imgView td { vertical-align:top; }






/*자료요청*/

#requestData {
	position: absolute;
	top:200px;
	left:50%;
	width:500px;
	margin:0 0 0 -250px;
	font: 13px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;
	z-index:20;
}
#requestData .msgPopCnt {
  background:#ffffff;
}
#requestData .commentT {
	color:#666666;
	font-size:13px;
	padding-bottom:10px;
}

#requestData .btnArea {
	border-top:0 none;
	text-align:center;
	padding:0;
}
#requestData .btnArea a {
	float:none;
}
