@charset "utf-8";

/* ------------------------------------------------------------------------------------------------------------- */
/* font */

@font-face {
  font-family: 'Binggrae-Bold';
  src: url('../fonts/Binggrae-Bold.eot');
  src: url('../fonts/Binggrae-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Binggrae-Bold.woff') format('woff'),
       url('../fonts/Binggrae-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../fonts/NotoSansKR-Black.woff') format('woff'),
       url('../fonts/NotoSansKR-Black.woff2') format('woff2'),
       url('../fonts/NotoSansKR-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../fonts/NotoSans-Bold.eot');
  src: url('../fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NotoSans-Bold.woff') format('woff'),
       url('../fonts/NotoSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../fonts/NotoSans-Medium.eot');
  src: url('../fonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NotoSans-Medium.woff') format('woff'),
       url('../fonts/NotoSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HeummNemodream182';
  src: url('../fonts/HeummNemodream182.eot');
  src: url('../fonts/HeummNemodream182.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HeummNemodream182.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HeummMyungjo252';
  src:  url('../fonts/HeummMyungjo252.woff') format('woff'),
        url('../fonts/HeummMyungjo252.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
