@charset "utf-8";

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.tabBody li > .scroll-wrapper {
		width:calc(100% + 21px);
	}
	.scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer {
		left: -6px;
		background:#fff;
		border-radius:0;
	}
    .scroll-textarea > .scroll-content > textarea {
		overflow-x:hidden!important;
	}
	.typeSyB#wrap #container .inner1 {
		overflow: hidden;
	}

	input:disabled,
	input:-ms-input-placeholder {color:#ababab !important}

	/* .videoWrap {overflow:visible;} */
	/* .videoWrap [id^='videoControls'] [id^='videoRange'] {
		height: 27px; 
		top: 22px; 
	} */
	.videoWrap [id^='videoControls'] [id^='videoRange']::-ms-track {
		width: 100%;
		height: 13px;
		cursor: pointer;
		background: transparent;
		border-color: transparent;
		border-width: 7px 0;
		border-style: solid;
		color: transparent;
	}
	.videoWrap [id^='videoControls'] [id^='videoRange']::-ms-fill-lower {
		background-color: transparent;
		border-radius: 15px;
	}
	/* .videoWrap [id^='videoControls'] [id^='videoRange']::-ms-fill-upper {
		background: linear-gradient(to right, #0c88e0 0%, #0c88e0 0%, #fff 0%, #fff 100%);
		background: #fff;
		border-radius: 15px;
	} */
	.videoWrap [id^='videoControls'] [id^='videoRange']::-ms-tooltip {
		display:none;
	}
	.videoWrap [id^='videoControls'] [id^='videoRange']::-ms-thumb {
		background: #0c88e0;
		cursor: pointer;
		/* border: 0px solid #0c88e0; */
		border: none;
		width: 27px;
		height: 27px;
		margin-top: 0px;
		border-radius: 50%;
	}

	#container .inner1 {overflow:hidden;}
	.effectWrap.circle .txtEqual{margin:-20px;}
}
