@charset "utf-8";

/* Reset */
* { margin:0; padding:0;box-sizing:border-box;font-size:14px;font-family :'Noto Sans KR','AppleSDGothic Neo-Regular','Malgun Gothic', '맑은 고딕', 'dotum', '돋움', sans-serif;font-weight:300;letter-spacing:-0.2px;-webkit-text-size-adjust: none;}
body {color:#333;background:#fff;}
html, body { height:100%; }
ol, ul, li { list-style:none; }
input, img, fieldset, blockquote, button { padding:0; border:0; }
input { outline:none; }
input[type='text'],input[type='password'] {outline:none;border:none;margin:0;padding:0;}
i, em, cite { font-style:normal; }
a { color:#333; text-decoration:none; }
a:hover{ color:#333; }
textarea { resize:none; }
img { float:none; }
button{font-size:14px;color:#666;border:0 none;background:none;cursor:pointer}
button:hover,button:active{border:none;}
legend{display:none}
caption{width:0;height:0;line-height:0;text-indent:-9999px;overflow:hidden;font-size:0;visibility:hidden}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;max-width:100%;font-size:inherit}
th, td { border-collapse:collapse; }
table img{vertical-align:middle}
img, select{vertical-align:top}
select{border:1px solid #9c9c9c;background:#fff;font-size:14px;color:#9c9c9c}
em, address {font-style:normal}
/*h1 ,h2, h3, h4, h5, h6{font-size:14px}*/

.clfix {*zoom: 1}
.clfix:after {content: ''; display: block; clear: both;}
.blind {position:absolute;left:-1000000px;text-indent:-1000000px;overflow:hidden;;margin:-1px;width:1px;height:1px;}


/*base*/
.dp_none{display:none !important;}
.dp_block{display:block !important;}
.dp_inline{display:inline-block !important;}

.dpnone{display:none;}

.obj_hidden{visibility:hidden;}
.obj_visible{visibility:visible;}

.f_hidden{overflow:hidden;}
.f_right{float:right;}
.f_left{float:left;}

.t_center{text-align:center!important}
.t_left{text-align:left!important}
.t_right{text-align:right!important}

.mh_auto{min-height:auto !important;}

/* select box */
/* .select-list-box {position:relative;display:inline-block;height:19px;line-height:15px;z-index:10;text-align:left;vertical-align:middle;}
.select-list-box.right ul{
	right:0px;
}
.select-list-box.left ul{
	left:0px;
}
.msie6 .select-list-box, .msie7 .select-list-box{display:inline;zoom:1; }
.select-list-box span {display:block;}
.select-list-box .selected-headline {overflow:hidden;display:block;padding:1px 26px 2px 5px;cursor:pointer;background:#ffffff url(../images/cssimg/bg_select_arrow.gif) no-repeat 100% 0;border:1px solid #cecece;outline:none;vertical-align:top;color:#999999; height:16px; line-height: 18px;}
.select-list-box ul.select-list {overflow:auto;position:absolute;background:#ffffff;border:1px solid #7a808c;z-index:10 !important;}
.select-list-box ul.select-list li a {display:block;padding:3px 22px 0px 5px;color:#707070;text-decoration:none;}
.select-list-box ul.select-list li a.select-list-hover {color:#595a5f;background:#e9e9e9;}
.select-list-box .select-list-selected {background:#e9e9e9 !important;}
.select-list-box .select-list-selected a {background:#e9e9e9 !important;}
.select-list-box .select-list-option-title {font-weight:bold;border-bottom:1px dotted #7a808c;padding:7px 10px;}
.select-list-box .select-list-option-title ul {margin:3px 0 0;}
.select-list-box .select-list-option-title ul li {font-weight:normal;} */

/*input*/

input[type=text]::-ms-clear {display:none;}


/* scroll contents */
.content-scroll {position:relative;width:823px;padding:10px 0;overflow:auto;word-break:break-all;}
.content-scroll .scroll-box {position:relative;height:100%;overflow:hidden;}
.content-scroll .scroll-box .scroll-container {float:left;position:relative;width:776px;padding-left:15px;}
.content-scroll .scroll-box .scroll-content {clear:both;width:100%;}
.content-scroll .dragger-container {float:right;position:relative;width:17px;margin:6px 0 0;background:#eee;cursor:pointer;}
.content-scroll .dragger,
.content-scroll .dragger-pressed {position:absolute;width:15px;top:1px;background:#ffffff;border:1px solid #ddd;overflow:hidden;}
.content-scroll .scroll-btn-up,
.content-scroll .scroll-btn-down {display:block;position:absolute;right:0;width:15px;height:14px;overflow:hidden;text-indent:-9999px;cursor:pointer; border:1px solid #ddd;}
.content-scroll .scroll-btn-up {top:0; background:url(../images/common/arrow_scroll_top.gif) no-repeat 0 0;}
.content-scroll .scroll-btn-down {bottom:0; background:url(../images/common/arrow_scroll_down.gif) no-repeat 0 0;}

.lay_list_01 .content-scroll {width:390px !important;}
.lay_list_01 .content-scroll .scroll-box .scroll-container {width:343px !important;}


/*넓이*/
.cperauto{width:auto;}
.cper100p{width:100%;}
.cper0700{width:7%;}
.cper0800{width:8%}
.cper1000{width:10%;}
.cper0850{width:8.5%}
.cper0950{width:9.5%}
.cper1100{width:11%;}
.cper1150{width:11.5%}
.cper1200{width:12%}
.cper1375{width:13.75%}
.cper1350{width:13.5%}
.cper1400{width:14%}
.cper1450{width:14.5%}
.cper1500{width:15%}
.cper1580{width:15.8%}
.cper1600{width:16%}
.cper1650{width:16.5%}
.cper1750{width:17.5%}
.cper1945{width:19.45%}
.cper2000{width:20%;}
.cper2100{width:21%;}
.cper2200{width:22%}
.cper2400{width:24%}
.cper2500{width:25%}
.cper3200{width:32%}
.cper4500{width:45%}
.cper5000{width:50%;}
.cper6750{width:67.5%}


.wp32{width:32px;}
.wp43{width:43px;}
.wp49{width:49px;}
.wp53{width:53px;}
.wp55{width:55px;}
.wp56{width:56px;}
.wp58{width:58px;}
.wp60{width:60px;}
.wp63{width:63px;}
.wp65{width:65px;}
.wp68{width:68px;}
.wp72{width:72px;}
.wp75{width:75px;}
.wp77{width:77px;}
.wp78{width:78px;}
.wp79{width:79px;}
.wp80{width:80px;}
.wp88{width:88px;}
.wp90{width:90px;}
.wp93{width:93px;}
.wp94{width:94px;}
.wp99{width:99px;}
.wp100{width:100px;}
.wp101{width:101px;}
.wp104{width:104px;}
.wp107{width:107px;}
.wp108{width:108px;}
.wp109{width:109px;}
.wp110{width:110px;}
.wp111{width:111px;}
.wp112{width:112px;}
.wp115{width:115px;}
.wp116{width:116px;}
.wp117{width:117px;}
.wp118{width:118px;}
.wp120{width:120px;}
.wp121{width:121px;}
.wp122{width:122px;}
.wp125{width:125px;}
.wp127{width:127px;}
.wp128{width:128px;}
.wp130{width:130px;}
.wp132{width:132px;}
.wp134{width:134px;}
.wp135{width:135px;}
.wp136{width:136px;}
.wp138{width:138px;}
.wp139{width:139px;}
.wp140{width:140px;}
.wp141{width:141px;}
.wp144{width:144px;}
.wp145{width:145px;}
.wp146{width:146px;}
.wp147{width:147px;}
.wp148{width:148px;}
.wp149{width:149px;}
.wp153{width:153px;}
.wp159{width:159px;}
.wp160{width:160px;}
.wp162{width:162px;}
.wp164{width:164px;}
.wp165{width:165px;}
.wp167{width:167px;}
.wp168{width:168px;}
.wp170{width:170px !important;}
.wp175{width:175px;}
.wp176{width:176px;}
.wp180{width:180px;}
.wp185{width:185px;}
.wp195{width:195px;}
.wp200{width:200px;}
.wp206{width:206px;}
.wp210{width:210px;}
.wp219{width:219px;}
.wp225{width:225px;}
.wp228{width:228px;}
.wp235{width:235px;}
.wp237{width:237px;}
.wp242{width:242px;}
.wp244{width:244px;}
.wp260{width:260px;}
.wp270{width:270px;}
.wp296{width:296px;}
.wp297{width:297px!important;}
.wp326{width:326px;}
.wp340{width:340px;}
.wp367{width:367px;}
.wp375{width:375px;}
.wp400{width:400px;}
.wp440{width:440px;}


/*높이*/
.mt2{margin-top:2px;}
.mt3{margin-top:3px;}
.mt4{margin-top:4px !important;}
.mt5{margin-top:5px;}
.mt7{margin-top:7px;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.mt12{margin-top:12px;}
.mt14{margin-top:14px;}
.mt15{margin-top:15px;}
.mt16{margin-top:16px;}
.mt17{margin-top:17px;}
.mt20{margin-top:20px;}
.mt23{margin-top:23px;}
.mt24{margin-top:24px;}
.mt25{margin-top:25px;}
.mt27{margin-top:27px;}
.mt30{margin-top:30px;}
.mt32{margin-top:32px;}
.mt38{margin-top:38px;}
.mt40{margin-top:40px;}
.mt42{margin-top:42px;}
.mt45{margin-top:45px;}
.mt35{margin-top:35px;}
.mt50{margin-top:50px;}
.mt52{margin-top:52px;}
.mt55{margin-top:55px;}
.mt56{margin-top:56px;}
.mt57{margin-top:57px;}
.mt60{margin-top:60px;}
.mt64{margin-top:64px;}
.mt68{margin-top:68px;}
.mt74{margin-top:74px;}
.mt75{margin-top:75px;}
.mt78{margin-top:78px;}
.mt80{margin-top:80px;}
.mt100{margin-top:100px;}


.mr0{margin-right:0px !important;}
.mr2{margin-right:2px !important;}
.mr5{margin-right:5px !important;}
.mr9{margin-right:9px !important;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}

.mb0 {margin-bottom: 0 !important;}
.mb-7{margin-bottom:-7px;}
.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px;}
.mb23{margin-bottom:23px !important;}
.mb24{margin-bottom:24px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb60{margin-bottom:60px;}
.mb100{margin-bottom:100px;}


.ml0{margin-left:0!important;}
.ml4{margin-left:4px;}
.ml5{margin-left:5px;}
.ml8{margin-left:8px;}
.ml10{margin-left:10px;}
.ml17{margin-left:17px!important;}
.ml15{margin-left:15px;}
.ml19{margin-left:19px !important;}


.pd0{padding:0 !important;}
.pd20{padding:20px;}

.pt0{padding-top:0px !important;}
.pt29{padding-top:29px !important;}
.pt30{padding-top:30px !important;}
.pt35{padding-top:35px !important;}
.pt50{padding-top:50px !important;}

.pr10{padding-right:10px;}
.pr105{padding-right:105px;}

.pb0{padding-bottom:0px !important;}
.pb4{padding-bottom:4px;}
.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px !important;}
.pb22{padding-bottom:22px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb48{padding-bottom:48px!important;}
.pb60{padding-bottom:60px;}

.pl0{padding-left:0 !important;}
.pl20{padding-left:20px;}
.pl22{padding-left:22px !important;}
.pl24{padding-left:24px;}
.pl30{padding-left:30px;}

/*font 스타일 */

.mdi{font-weight:500;}
.fw300{font-weight:300 !important;}

.txt13{font-size:13px;}
.txt14{font-size:14px !important;}
.txt16{font-size:16px !important;}
.txt18{font-size:18px !important;}

.c_8{color:#888;}
.c_8e{color:#8e9091;}
.c_b{color:#3d78d6;}
.c_b4{color:#4083ee;}
.c_o{color:#ff8125 !important;}
.c_4{color:#425067;}
.c_3{color:#393d49;}
.c_point{color:#f5802c !important;}

.ti16{padding-left:16px;text-indent:-16px;}

.ls-002{letter-spacing: -0.02em;}

.lh20{line-height:20px !important;}
.lh29{line-height:29px !important;}
.lh40{line-height:40px !important;}



