#container{
	    background: url(../../../../common/images/bg3.png) center center no-repeat;
}

#wrap {
	background: url(../../../../common/images/bg3.png) center center no-repeat;
	background-position: 0px -296px;
}

.contents{
	display: none;
}

.dis{
    pointer-events: none;
}

.contents.introPage {
	width: 100%;
	height: 100%;
	background: url('../images/10/intro_bg.png') center bottom no-repeat;
}

.contents.clickPage1 {
	width: 100%;
	height: 100%;
	background: url('../images/10/bg1.png') center bottom no-repeat;
}

.contents.clickPage2 {
	width: 100%;
	height: 100%;
	background: url('../images/10/bg2.png') center bottom no-repeat;
}

.contents.clickPage3 {
	width: 100%;
	height: 100%;
	background: url('../images/10/bg3.png') center bottom no-repeat;
}

.contents.clickPage4 {
	width: 100%;
	height: 100%;
	background: url('../images/10/bg4.png') center bottom no-repeat;
}

.contents.clickPage5 {
	width: 100%;
	height: 100%;
	background: url('../images/10/bg5.png') center bottom no-repeat;
}

.contents.clickPage6 {
	width: 100%;
	height: 100%;
	background: url('../images/10/bg6.png') center bottom no-repeat;
}

.contents.clickPage7 {
	width: 100%;
	height: 100%;
	background: url('../images/10/bg7.png') center bottom no-repeat;
}

.contents.clickPage8 {
	width: 100%;
	height: 100%;
	background: url('../images/10/bg8.png') center bottom no-repeat;
}

.contents.clickPage9 {
	width: 100%;
	height: 100%;
	background: url('../images/10/bg9.png') center bottom no-repeat;
}


/* 헤더 난이도, 탭 영역 */

.headerSec {
	position: absolute;
	top: 0;
    left: 0;
	width: 100%;
	display: none;
}

.setContent{
    position: absolute;
	top: 53px;
    /* right: 77px; */
    right: 165px;
}

.setContent li{
	float: left;
    width: 78px;
	height: 73px;
	background:#999999;
	cursor: pointer;
	margin-right: 10px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: center;
	line-height: 85px;
	color: #fff;
	font-size: 43px;
}

/* --add 난이도별 탭 색 구분*/
.easy.on{
    background-color: #8DAF12;
}
.normal.on{
    background-color: #5ba3d9;
}
.hard.on{
    background-color: #d64334;
}


.clickContent .ansbtn{
    top: 700px;
    left: 1384px;
    background: url(../../../../common/images/clickitem/answer.png) no-repeat;
    z-index: 2;
}

.difficulty {
	background: url(../images/10/difficulty_easy.png) 0 0 no-repeat;
	width: 386px;
	height: 71px;
	position: absolute;
	left: 60px;
    top: 35px;
}


/* 난이도별 구분 */
.headerSec.head_easy .setContent li.on {
	background: #8DAF12;
}

.headerSec.head_easy .difficulty {
	background: url(../images/10/difficulty_easy.png) 0 0 no-repeat;
}

.headerSec.head_normal .setContent li.on {
	background: #5BA3D9;
}

.headerSec.head_normal .difficulty {
	background: url(../images/10/difficulty_normal.png) 0 0 no-repeat;
}

.headerSec.head_hard .setContent li.on {
	background: #D64334;
}

.headerSec.head_hard .difficulty {
	background: url(../images/10/difficulty_hard.png) 0 0 no-repeat;
}



/* 인트로 페이지 */
.introPage .question {
	position: absolute;
}

.introPage .question::after {
	content: "";
	display: block;
	clear: both;
}

.introPage .question li {
	float: left;
	margin-right: 20px;
	width: 136px;
	height: 136px;
	border-radius: 50%;
	/* background: #A1D01B; */
	color: #fff;
	text-align: center;
	line-height: 136px;
	font-size: 30px;
	position: relative;
	text-indent: -999999em;
	cursor: pointer;
}

.introPage .question li:nth-child(1)::before {
	content:"";
	display: block;
	width: 37px;
	height: 58px;
	background: url(../images/10/questionNum_0.png) 0 0 no-repeat;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.introPage .question li:nth-child(2)::before {
	content:"";
	display: block;
	width: 33px;
	height: 55px;
	background: url(../images/10/questionNum_1.png) 0 0 no-repeat;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.introPage .question li:nth-child(3)::before {
	content:"";
	display: block;
	width: 38px;
	height: 56px;
	background: url(../images/10/questionNum_2.png) 0 0 no-repeat;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.introPage .question li:nth-child(4)::before {
	content:"";
	display: block;
	width: 38px;
	height: 58px;
	background: url(../images/10/questionNum_3.png) 0 0 no-repeat;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.introPage .easy {
	left: 441px;
    top: 326px;
}

.introPage .easy li {
	background: #8cad30;
	opacity: 0.3;
}

.introPage .easy li.act {
	background: #A1D01B;
	opacity: 1;
}

.introPage .normal {
	left: 441px;
    top: 495px;
}

.introPage .normal li {
	background: #5e93bb;
	opacity:0.3;
}

.introPage .normal li.act {
	background: #5BA3D9;
	opacity: 1;
}

.introPage .hard {
	left: 441px;
	top: 670px;
}

.introPage .hard li {
	background: #be6053;
	opacity: 0.3;
}

.introPage .hard li.act {
	background: #ED6552;
	opacity: 1;
}

.introPage .sum {
    color: #F15A24;
    font-size: 210px;
    font-weight: bold;
    font-family: 'cookie';
    position: absolute;
    right: 375px;
    top: 410px;
    width: 200px;
    text-align: center;
}

.introPage .startBtn {
	background: url(../images/10/start.png) 0 0 no-repeat;
	width: 304px;
	height: 68px;
	position: absolute;
	right: 310px;
	top: 765px;
	cursor: pointer;
}

/* 클릭 아이템 */
.clickPage .clickContent .clickItem::before{
    display: none;
}

.clickPage .clickContent .clickItem.ex::before{
    display: none;
}


.clickPage .clickItem{
    position: absolute;
}

/* clickPage01 */
.clickPage1 .clickItem{
    display: none;
}

.clickPage1 .clickItem{
    display: none;
}

.clickPage1 .selectWrap .select{
    position: absolute;
    width: 558px;
    height: 402px;
    cursor: pointer;
    top: 395px;
/*    background-color: rgba(0,0,0,0.5);*/
}
.clickPage1 .selectWrap .select1{
    left: 295px;
}

.clickPage1 .selectWrap .select2{
    left: 1000px;
    width: 619px;
}

.clickPage1 .ansWrap .ans{
    position: absolute;
    width: 163px;
    height: 142px;
/*    opacity: 0;*/
    background-color: rgba(0,0,0,0.5);
}

.clickPage1 .ansWrap .ans1{
    background: url('../images/10/quebox-x.png') 0 0 no-repeat;
	top: 392px;
    left: 276px;
}

.clickPage1 .ansWrap .ans2{
    background: url('../images/10/quebox-o.png') 0 0 no-repeat;
    width: 202px;
    height: 177px;
	top: 368px;
    left: 937px;
}


.clickPage1 .ansWrap .ans.ani{
    animation: opacity10 0.5s;
    animation-fill-mode: forwards;
}

/* clickPage02 */
.clickPage2 .clickItem{
    display: none;
}


.clickPage2 .selectWrap .select{
    position: absolute;
    width: 234px;
    height: 112px;
    cursor: pointer;
    top: 799px;
/*    background-color: rgba(0,0,0,0.5);*/
}
.clickPage2 .selectWrap .select1{
    left: 452px;
}

.clickPage2 .selectWrap .select2{
    left: 1223px;
}

.clickPage2 .ansWrap .ans{
    position: absolute;
    width: 163px;
    height: 142px;
    top: 803px;
/*    opacity: 0;*/
}

.clickPage2 .ansWrap .ans1{
    background: url('../images/10/quebox-true.png') 0 0 no-repeat;
	
    left: 522px;
}

.clickPage2 .ansWrap .ans2{
    background: url('../images/10/quebox-false.png') 0 0 no-repeat;
	top: 796px;
    left: 1284px;
}

.clickPage2 .ansWrap .ans.ani{
    animation: opacity10 0.5s;
    animation-fill-mode: forwards;
}

/* clickPage03 */
.clickPage3 .clickItem{
    display: none;
}

.clickPage3 .selectWrap .select{
    position: absolute;
    width: 558px;
    height: 402px;
    cursor: pointer;
    top: 395px;
/*    background-color: rgba(0,0,0,0.5);*/
}
.clickPage3 .selectWrap .select1{
    left: 295px;
}

.clickPage3 .selectWrap .select2{
    left: 1000px;
    width: 619px;
}

.clickPage3 .ansWrap .ans{
    position: absolute;
    width: 163px;
    height: 142px;
/*    opacity: 0;*/
/*    background-color: rgba(0,0,0,0.5);*/
}

.clickPage3 .ansWrap .ans1{
    background: url('../images/10/quebox-x.png') 0 0 no-repeat;
	top: 392px;
    left: 276px;
}

.clickPage3 .ansWrap .ans2{
    background: url('../images/10/quebox-o.png') 0 0 no-repeat;
    width: 202px;
    height: 177px;
	top: 368px;
    left: 937px;
}


.clickPage3 .ansWrap .ans.ani{
    animation: opacity10 0.5s;
    animation-fill-mode: forwards;
}



/* clickPage04 */
.clickPage4 .clickItem{
    display: none;
}


.clickPage4 .selectWrap .select{
    position: absolute;
    width: 317px;
    height: 415px;
    cursor: pointer;
    top: 404px;
/*    background-color: rgba(0,0,0,0.5);*/
}
.clickPage4 .selectWrap .select1{
    left: 355px;
}

.clickPage4 .selectWrap .select2{
    top: 499px;
    left: 783px;
    width: 331px;
    height: 326px;
    
}

.clickPage4 .selectWrap .select3{
    top: 347px;
    left: 1260px;
    width: 259px;
    height: 477px;

}

.clickPage4 .ansWrap .ans{
    position: absolute;
    width: 202px;
    height: 177px;
/*    opacity: 0;*/
    background-color: rgba(0,0,0,0.5);
}

.clickPage4 .ansWrap .ans1{
    background: url('../images/10/quebox-x.png') 0 0 no-repeat;
	top: 721px;
    left: 450px;
}

.clickPage4 .ansWrap .ans2{
    background: url('../images/10/quebox-o.png') 0 0 no-repeat;
	top: 691px;
    left: 853px;
}

.clickPage4 .ansWrap .ans3{
    background: url('../images/10/quebox-x.png') 0 0 no-repeat;
	top: 721px;
    left: 1324px;
}


.clickPage4 .ansWrap .ans.ani{
    animation: opacity10 0.5s;
    animation-fill-mode: forwards;
}



/* clickPage05 */
.clickPage5 .clickItem{
    display: none;
}

.clickPage5 .selectWrap .select{
    position: absolute;
    width: 317px;
    height: 402px;
    cursor: pointer;
    top: 395px;
/*    background-color: rgba(0,0,0,0.5);*/
}
.clickPage5 .selectWrap .select1{
    left: 237px;
}

.clickPage5 .selectWrap .select2{
    left: 751px;
    width: 488px;
}

.clickPage5 .selectWrap .select3{
    left: 1262px;
    width: 419px;
}

.clickPage5 .ansWrap .ans{
    position: absolute;
    width: 202px;
    height: 177px;
/*    opacity: 0;*/
    background-color: rgba(0,0,0,0.5);
}

.clickPage5 .ansWrap .ans1{
    background: url('../images/10/quebox-x.png') 0 0 no-repeat;
	top: 454px;
    left: 220px;
}

.clickPage5 .ansWrap .ans2{
    background: url('../images/10/quebox-o.png') 0 0 no-repeat;
	top: 419px;
    left: 693px;
}

.clickPage5 .ansWrap .ans3{
    background: url('../images/10/quebox-x.png') 0 0 no-repeat;
	top: 454px;
    left: 1237px;
}


.clickPage5 .ansWrap .ans.ani{
    animation: opacity10 0.5s;
    animation-fill-mode: forwards;
}


/* clickPage06 */
.clickPage6 .clickItem{
    background: url(../images/10/quebox_6-1.png) 0 0 no-repeat;
    width: 113px;
    height: 145px;
    top: 497px;
}

.clickPage6 .clickItem1{
    left: 624px;
}

.clickPage6 .clickItem2{
    left: 773px;
}

.clickPage6 .clickItem3{
    left: 926px;
}


/* clickPage07 */
.clickPage7 .clickItem{
    background: url(../images/10/quebox_7-1.png) 0 0 no-repeat;
    width: 116px;
    height: 145px;
    top: 479px;
}

.clickPage7 .clickItem1{
    left: 613px;
}

.clickPage7 .clickItem2{
    left: 1467px;
}



/* clickPage08 */
.clickPage8 .clickItem{
    background: url(../images/10/quebox_8-1.png) 0 0 no-repeat;
    width: 113px;
    height: 145px;
    top: 497px;
}

.clickPage8 .clickItem1{
    left: 624px;
}

.clickPage8 .clickItem2{
    left: 773px;
}

.clickPage8 .clickItem3{
    left: 926px;
}



/* clickPage09 */
.clickPage9 .clickItem{
    background-color: #fff;
	width: 152px;
	height: 111px;
    top: 530px;
}

.clickPage9 .clickItem1{
    left: 267px;
}

.clickPage9 .clickItem2{
    left: 769px;
}

.clickPage9 .clickItem3{
    left: 1306px;
}

/* 팝업 btn */
.solbtn{
    display: block;
    position: absolute;
    top: 969px;
    left: 1168px;
    width: 304px;
    height: 67px;
    background: url('../images/10/ans_ex.png') no-repeat;
    cursor: pointer;
}

/* 팝업창 */
.solpop{
    width: 100%;
    height: 100%;
	position: absolute;
    top: 517px;
    left: 43px;
    display: none;
    z-index: 10;
}

/* .mask2 {
	width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
} */

.closeBtn {
    width: 92px;
    height: 93px;
    position: absolute;
    top: 13px;
    right: 7px;
    border-radius: 50%;
    cursor: pointer;
}

/* 클릭페이지에 따른 팝업창 */
.clickPage1 .solpop {
    background: url(../images/10/pop1.png) 0 0 no-repeat;
    width: 1635px;
	top: 839px;
}

.clickPage2 .solpop {
    background: url(../images/10/pop2.png) 0 0 no-repeat;
    width: 1690px;
	top: 839px;
}

.clickPage3 .solpop {
    background: url(../images/10/pop3.png) 0 0 no-repeat;
    width: 1635px;
	top: 839px;
}

.clickPage4 .solpop {
    background: url(../images/10/pop4.png) 0 0 no-repeat;
    width: 1715px;
	top: 839px;
}

.clickPage5 .solpop {
    background: url(../images/10/pop5.png) 0 0 no-repeat;
    width: 1688px;
	top: 839px;
}

.clickPage6 .solpop {
    background: url(../images/10/pop6.png) 0 0 no-repeat;
    width: 1543px;
	top: 751px;
}

.clickPage7 .solpop {
    background: url(../images/10/pop7.png) 0 0 no-repeat;
    width: 1865px;
	top: 646px;
}

.clickPage8 .solpop {
    background: url(../images/10/pop8.png) 0 0 no-repeat;
    width: 1604px;
	top: 750px;
}

.clickPage9 .solpop {
    background: url(../images/10/pop9.png) 0 0 no-repeat;
    width: 1403px;
	top: 751px;
}


/* -- add 페이징 버튼 */
.pageing{
    display: none;
}

.next{
	background: url(../images/10/nextBtn.png) 0 0 no-repeat;
    position: absolute;
    width: 93px;
    height: 93px;
    top: 560px;
    right: 33px;
    cursor: pointer;
}
.prev{
	background: url(../images/10/prevBtn.png) 0 0 no-repeat;
    position: absolute;
    width: 93px;
    height: 93px;
    top: 560px;
    left: 35px;
    cursor: pointer;

}

.pageing div.dis{
	display: none;
}

.finish_btn {
	width: 252px;
	height: 350px;
	background: url(../../../../common/images/aniitem/finish.png) 0 0 no-repeat;
	position: absolute;
	left: 1584px;
	top: 443px;
	display: none;
}

.finish_btn.on {
	display: block;
	animation: fini_ani 1.2s infinite;
}

@keyframes fini_ani {
	0% {
		transform: rotate(-10deg)
	}

	50% {
		transform: rotate(10deg);
	}

	100% {
		transform: rotate(-10deg);
	}
}

@keyframes opacity10 {
    0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
