@charset "utf-8";
@import "nanumgothic.css";

* { margin:0; padding:0; }
body {margin:0; padding:0;color:#222;font-size:14px;font-family:"Nanum Gothic","나눔고딕","돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;-webkit-text-size-adjust:none;}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {margin:0; padding:0; -webkit-text-size-adjust:none;}
table { border-collapse:collapse; border-spacing:0; }
th, td { border-collapse:collapse; }
ol, ul, li { list-style:none; }
input, img, fieldset, blockquote, button { padding:0; border:0;}
input { outline:none; }
img {vertical-align:top}
i, em, cite { font-style:normal; }
a { color:#333; text-decoration:none; }  
a:hover{ color:#333; text-decoration:underline; }
textarea { resize:none; font:12px dotum,"돋움",Arial,sans-serif; }
select {font-family:"Nanum Gothic","나눔고딕","돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }
input[type="text"],
input[type="password"] {font-family:"Nanum Gothic","나눔고딕","돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}
input[type="checkbox"],
input[type="radio"] {width: 13px; height: 13px; margin: -2px 4px 0 0;}
caption {text-indent:-1000px;font-size:0;line-height:0}
.blind {position:absolute;left:-1000000px;text-indent:-1000000px;font-size:0;line-height:0}

.bookapply {width:560px;margin:0 auto;}
.bookapply .header {position:relative;height:52px;padding:18px 0 0 20px;border-bottom:2px #ebebeb solid}
.bookapply .header h1 {position:absolute;top:18px;right:20px}
.bookapply .txt {padding:40px 20px;font-size:18px;line-height:1.4}
.bookapply .txt .tit {margin-bottom:30px; font-weight: bold; font-size: 24px; color: #222; }
.bookapply h2 {padding:0 20px 8px 20px;border-bottom: 2px #000 solid;font-weight: 700;font-size: 16px;}
.bookapply .form_apply {padding:30px 20px 40px 20px;}
.bookapply .form_apply .inner {border-bottom:1px #ebebeb solid;padding-bottom: 20px;}
.bookapply .form_apply input[type="text"] {padding:2px 8px;border: 1px #d9d9d9 solid;height:22px;font-size:14px;vertical-align: middle;color:#757575;margin-top:-1px}
.bookapply .form_apply dl {position:relative;padding:10px 0 20px 0} 
.bookapply .form_apply dl:after {content: "";display:block;clear: both;}
.bookapply .form_apply dl dt {float:left;width:120px;color:#666; vertical-align:middle; font-size:16px;}
.bookapply .form_apply dl dt.int {padding-top:3px;}
.bookapply .form_apply dl dd {float:right;width:400px;font-weight: 600; vertical-align:middle;font-size:16px;}
.bookapply .form_apply input {vertical-align: middle;}
.bookapply .form_apply label {margin:-1px 10px 0 4px}
.bookapply .form_apply dl dd a {display: inline-block; text-decoration: none}
.bookapply .form_apply dl dd a.btn {background: #5085da;height:26px;padding:0 10px;margin-top:-4px; border: 1px #3d78d6 solid;color:#fff; line-height: 26px;font-size: 12px;}
.bookapply .form_apply dl dd a.btn.w {background: #fbfcfd; border: 1px #c9d5dd solid;color:#66737b;margin:0}
.bookapply .form_apply dl dd .cmt_txt {margin-top:5px;color:#d85f5b;font-size: 12px;}
.bookapply .form_apply dl dd .itemList {margin-top:10px;}
.bookapply .form_apply dl dd .itemList li {margin-top:5px;font-size:14px}
.bookapply .form_apply dl dd .itemList li:first-child {margin: 0;}
.bookapply .form_apply dl dd .itemList.number {margin-top:0;*zoom:1}
.bookapply .form_apply dl dd .itemList.number:after {content: "";display:block;clear: both;}
.bookapply .form_apply dl dd .itemList.number li {float:left;width:30%;margin-top:0}
.bookapply .form_apply dl dd .itemList.number li.mixCon {width:5%;text-align: center;}
.bookapply .form_apply dl dd .inputbox {display:block;padding-right:18px;}
.bookapply .form_apply dl dd .inputbox input[type="text"] {width:100%;}
.bookapply .form_apply dl dd .sujList {*zoom:1}
.bookapply .form_apply dl dd .sujList:after {content: "";display:block;clear: both;}
.bookapply .form_apply dl dd .sujList li {float:left;margin-bottom:3px;}
.bookapply .form_apply dl dd .sujList li.break {clear:left;}

.bookapply .form_apply .agreebox {margin-top:20px;background:#aeb6bc;padding:15px;color:#fff;font-size:14px;}
.bookapply .form_apply .agreebox  h3 {margin-bottom:8px;font-size: 16px;}
.bookapply .form_apply .agreebox ul li {text-indent:-10px;padding-left:10px;line-height:1.4;font-size:14px; letter-spacing: -0.065em}
.bookapply .form_apply .check_txt {margin:10px 0 0 0;font-zie:16px;}
.bookapply .form_apply .btn_wrap {margin:30px 0;text-align:center;}
.bookapply .form_apply .btn_wrap .btn_apply {display:inline-block;background:#5085da;height:40px;padding:0 40px;margin-top:-2px; border: 1px #3d78d6 solid;color:#fff; line-height: 40px;font-size: 16px; font-weight: 700}
.bookapply .form_apply .infotxt {background: #e9f0f5;padding:20px 15px;}
.bookapply .form_apply .infotxt li {margin-top:2px;font-size:14px;color:#5a6064;padding-left:13px;text-indent:-13px;line-height:1.4;}
.bookapply .form_apply .infotxt li span {letter-spacing: -1px}
.bookapply .finish {padding-top:150px;text-align:center;}
.bookapply .finish strong {font-size:36px;}
.bookapply .finish strong span {color: #4083ed}
.bookapply .finish em {font-weight:bold;}
.bookapply .finish p {padding:30px 0 50px 0;font-size:24px;}
.bookapply .finish .btn_wrap .btn_close {display:inline-block;background:#6f6f6f;height:40px;padding:0 40px;margin-top:-2px; border: 1px #585858 solid;color:#fff; line-height: 40px;font-size: 16px; font-weight: 700}

/* 모바일 설문 페이지 */
.bookapply.survey {}
.bookapply.survey .txt {padding: 40px;}
.bookapply.survey ul.info {padding: 0 40px 50px; border-bottom: 2px #000 solid;font-weight: 700;font-size: 16px;}
.bookapply.survey ul.info li {margin-top:20px}
.bookapply.survey ul.info li:first-child {margin-top:0}
.bookapply.survey ul.info li img {margin-top: 15px; width: 100%}