@charset "utf-8";

/* listInfo */
.listInfo {margin: 0 0 14px 0; text-align: right;}
.listInfo .cntNum {float: left; font-weight: bold; color: #e9e9e9; padding: 0 0 0 10px; background: url('../images/common_theme/icon/bul_sq1.gif') no-repeat 0 4px;}
.listInfo .sort a {
	display: inline-block; margin: 0 0 0 20px; padding: 0 0 0 18px; font-weight: bold; font-size: 11px;
	background: url('../images/common_theme/icon/sort_off.png') no-repeat 0 0;
}
.listInfo .sort a.on,
.listInfo .sort a:hover{color: #4b95e8; text-decoration: none;}

/* tabType1 */
.tabType1 {overflow: hidden;}
.tabType1:after {content: ''; visibility: hidden; height: 0; clear: both; display: block;}
.tabType1 li {float: left; width: 155px; margin: 0 -1px 0 0; border: 1px solid #555; background: #292929;}
.tabType1 li a {display: block; height: 38px; line-height: 38px; text-align: center; color: #fff; font-size: 14px; font-weight: bold; text-decoration: none;}
.tabType1 li:hover,
.tabType1 li.on {position: relative; border-color: #4b95e9; background: #202020;}
.tabType1 li:hover a,
.tabType1 li.on a {color: #4b95e9;}

/* paging */
.paging * {vertical-align: top;}
.paging {clear: both; overflow: hidden; width: 100%; margin: 20px auto 0;}
.paging .pageCnt {text-align: center;}
.paging a {display: inline-block; margin: 0 0 0 -1px; height: 21px; border: 1px solid #4c4d51;}
.paging a.btn {font-size: 0;}
.paging span a {padding: 0 8px 0 8px; border: 1px solid #202020; font-weight: bold; font-size: 11px; text-align: center; line-height: 21px; color: #757a85;}
.paging span a.on {border: 1px solid #4a6aff !important; color: #4a6aff; position: relative;}

/* 리스트에 데이터가 없을시 */
.noResult {padding: 80px 0; border-top: 2px solid #434446; font-weight: bold; text-align: center;}

/* listType1: 기획전 */
.listType1 {width: 100%; overflow: hidden; border-bottom: 1px solid #434446;}
.listType1 ul {width: 1100px;}
.listType1 ul:after {content: ''; display: block; visibility: hidden; height: 0; clear: both;}
.listType1 ul li {float: left; width: 158px; margin: 0 37px 0 0;}
.listType1 ul li dl {height: 220px; margin: 0 0 45px 0; padding: 0 4px 0 4px; background: #575757;}
.listType1 ul li dl dt {height: 36px; line-height: 36px; font-weight: bold; font-size: 14px; text-align: center;}
.listType1 ul li dl dt a {color: #fff;}
.listType1 ul li dl dd.thum {height: 122px;}
.listType1 ul li dl dd.thum img {border: 1px solid #000; width: 148px; height: 108px;}
.listType1 ul li dl dd.thum a {font-size: 0; line-height: 0;}
.listType1 ul li dl dd.thum a:hover img {border-color: orange;}
.listType1 ul li dl dd.info {padding: 0 0 4px 17px; line-height: 16px; background: url('../images/common_theme/icon/bul_sq1.gif') no-repeat 6px 5px;}
.listType1 ul li dl dd.age {color: #888 !important;}

/* listType2 */
.listType2 {overflow: hidden; padding: 0 0 50px 0; background: #393939;}
.listType2 .paging span a {border-color: #393939;}
.dataType {overflow: hidden;}
.dataType li * {vertical-align: middle;}
.dataType li {overflow: hidden; clear: both; padding: 7px 30px 5px 30px; border-bottom: 1px solid #575757; text-align: right;}
.dataType li:after {content: ''; display: block; height: 0; visibility: hidden; clear: both; }
.dataType li a {float: left; color: #d2d2d2; text-align: left;}
.dataType li a span {display: inline-block; width: 40px; }
.dataType li .opt {float: right;}
.dataType li .opt a {display: inline-block; margin: 3px 0 0 14px;}

