@charset "utf-8";

/* 2017-02-15 메인개편 */
.main_visual {position:relative;width:100%;height:370px;z-index:1}
.main_visual .rolling_banner ul {}
.main_visual .rolling_banner ul li {position:relative;height:370px;text-align:center;}
.main_visual .rolling_banner ul li a {position:relative;display:block;width:935px;margin:0 auto;z-index:4}
.main_visual .rolling_banner ul li .rbg {position:absolute;top:0;right:0;width:50%;height:370px;z-index:3}
.main_visual .rolling_banner ol {display:none;}
.main_visual .rolling_banner .rolling_page {position:relative;width:935px;margin:0 auto;z-index:5}
.main_visual .rolling_banner .rolling_page ol {display:block;position:absolute;bottom:40px;right:266px;}
.main_visual .rolling_banner .rolling_page ol li {width:125px;padding:4px 0;border-bottom:1px #c9c9c9 solid;text-align:right;}
.main_visual .rolling_banner .rolling_page ol li a {color:#666;font-size:13px;font-family:"Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;letter-spacing:-0.065em;}
.main_visual .rolling_banner .rolling_page ol li a:hover,
.main_visual .rolling_banner .rolling_page ol li a.on {background:url('../images/mainNew/ico_main.png') 0 2px no-repeat;padding-left:17px;color:#222;font-family:"Nanum GothicB";text-decoration:none;}

/* 로그인박스 */
.loginBoxWrap {position:relative;width:935px;margin:0 auto;z-index:5;}
.loginBoxWrap .loginBox {position:absolute;bottom:35px;right:-5px;width:200px;height:240px;background:url('../images/mainNew/bg_login.png') 0 0 no-repeat;padding:30px 25px}
.loginBoxWrap .loginBox .loginInfo {height:157px;padding-bottom:13px;font-family:"Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;letter-spacing:-0.065em;}
.loginBoxWrap .loginBox .loginInfo .schName {color:#444;text-align:center;}
.loginBoxWrap .loginBox .loginInfo dl {text-align:center;}
.loginBoxWrap .loginBox .loginInfo dl dt {height:25px; padding-top:4px; font-size:20px;letter-spacing:-1px;color:#444;}
.loginBoxWrap .loginBox .loginInfo dl dt strong {color:#1a75d0}
.loginBoxWrap .loginBox .loginInfo dl dd {height:42px; padding-top:14px;color:#454e59; font-size:14px; letter-spacing:-1px;color:#444;}
.loginBoxWrap .loginBox .loginInfo dl dd strong a {color:#1a75d0}
.loginBoxWrap .loginBox .loginInfo .btns {margin-bottom:10px;*zoom:1;}
.loginBoxWrap .loginBox .loginInfo .btns:after {content:"";display:block;clear:both;}
.loginBoxWrap .loginBox .loginInfo .btns li {float:left;height:26px;}
.loginBoxWrap .loginBox .loginInfo .btns a {display:inline-block;width:100px;height:26px;background:url('../images/mainNew/ico_main.png') no-repeat;}
.loginBoxWrap .loginBox .loginInfo .btns a.btn_myinfo {background-position:-100px -338px;}
.loginBoxWrap .loginBox .loginInfo .btns a.btn_myinfo:hover {background-position:-100px -364px;}
.loginBoxWrap .loginBox .loginInfo .btns a.btn_logout {background-position:-200px -338px;}
.loginBoxWrap .loginBox .loginInfo .btns a.btn_logout:hover {background-position:-200px -364px;}
.loginBoxWrap .loginBox .loginInfo .slt { width:198px;height:24px;}
.loginBoxWrap .loginBox .loginInfo .slt a { height:21px; padding-top:3px; }
.loginBoxWrap .loginBox .loginInfo .slt div {top:24px; width: 219px;}
.loginBoxWrap .loginBox a.btn_down {display:inline-block;width:200px;height:48px;background:url('../images/mainNew/ico_main.png') -200px -390px no-repeat;}
.loginBoxWrap .loginBox a.btn_down:hover {background-position:-200px -438px;}
.loginBoxWrap .loginBox .down {background:url('../images/mainNew/dotted_line.gif') 0 0 repeat-x;padding-top:14px;margin-top:8px;}
/* 로그인박스 : 로그인전 */
.loginBoxWrap .loginBox .loginBefore {}
.loginBoxWrap .loginBox .loginBefore ul {border:1px #e2e2e2 solid;margin-bottom:7px;}
.loginBoxWrap .loginBox .loginBefore ul li {position:relative;background:#f0f0f0;border-top:1px #e2e2e2 solid;padding-right:18px;}
.loginBoxWrap .loginBox .loginBefore ul li:first-child {border-top:none;}
.loginBoxWrap .loginBox .loginBefore ul li label {position:absolute;top:13px;left:9px;color:#666;}
.loginBoxWrap .loginBox .loginBefore ul li input[type="text"], 
.loginBoxWrap .loginBox .loginBefore ul li input[type="password"] {width:100%;height:30px;background:#f0f0f0;padding:0 9px;line-height:30px;font-size:12px;font-family:"Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;color:#666;}
.loginBoxWrap .loginBox .loginBefore .login_check {position:relative;height:37px;padding-top:9px}
.loginBoxWrap .loginBox .loginBefore label {display:inline-block;margin-top:-7px;font-size:12px;font-family:"Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;vertical-align:middle;}
.loginBoxWrap .loginBox .loginBefore a {display:inline-block;background:url('../images/mainNew/ico_main.png') no-repeat;}
.loginBoxWrap .loginBox .loginBefore a.btn_login {position:absolute;top:0;right:0;width:99px;height:30px;background-position:0 -360px;}
.loginBoxWrap .loginBox .loginBefore a.btn_idpw {width:100px;height:48px;background-position:0 -390px;}
.loginBoxWrap .loginBox .loginBefore a.btn_idpw:hover {background-position:0 -438px;}
.loginBoxWrap .loginBox .loginBefore a.btn_join {width:100px;height:48px;background-position:-100px -390px;}
.loginBoxWrap .loginBox .loginBefore a.btn_join:hover {background-position:-100px -438px;}

#contents.main {padding-top:40px;/*z-index:10*/}

.subjectdataWrap {position:relative;*zoom:1;}
.subjectdataWrap:after {content:"";display:block;clear:both;}
.subject {float:left;width:624px;*zoom:1;}
.subject:after {content:"";display:block;clear:both;}
.subject .menu {float:left;width:115px;height:270px;}
.subject .menu > li {position:relative; float:left; font-family:"Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }
.subject .menu > li > a {display:inline-block; width:38px; height:40px; background:url('../images/mainNew/ico_main.png') no-repeat; }
.subject .menu > li > a.ele {background-position:0 -230px;}
.subject .menu > li > a.mid {background-position:-38px -230px;}
.subject .menu > li > a.high {width:39px;background-position:-76px -230px;}
.subject .menu > li.on > a.ele {background-position:0 -270px;}
.subject .menu > li.on > a.mid {background-position:-38px -270px;}
.subject .menu > li.on > a.high {background-position:-76px -270px;}
.subject .menu > li.on > ul.sub {display:block; }
.subject .menu > li > ul.sub {display:none;position:absolute;top:40px;width:113px;height:214px;background:#fff;padding-top:15px;border:1px #d7d7d7 solid;border-top:none;}
.subject .menu > li > ul.sub > li {margin:5px 0;padding-left:43px;}
.subject .menu > li > ul.sub > li > a {padding-right:10px; color:#888; font-weight:bold; }
.subject .menu > li > ul.sub > li > a:hover,
.subject .menu > li > ul.sub > li > a.on {background:url('../images/mainNew/ico_main.png') 100% -96px no-repeat;color:#222;}
.subject .menu > li > ul.ele {left:0;}
.subject .menu > li > ul.mid {left:-38px;}
.subject .menu > li > ul.high {left:-76px;}
.subject .cont {position:relative;float:left;width:448px;height:268px;padding:0 30px;border:1px #d7d7d7 solid;border-left:none;}
.subject .cont > h3 {height:31px;padding-top:8px;background:url('../images/mainNew/dotted_line.gif') 0 100% repeat-x;font-size:16px;color:#525c70;font-family:"Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}
.subject .cont > h3 > strong {background:url('../images/mainNew/ico_main.png') 0 -27px no-repeat;padding-left:18px;}
.subject .cont > h3 > span {display:inline-block;margin:-5px 0 0 4px;color:#888;font-size:12px;}
.subject .cont ul {margin-top:20px;*zoom:1;}
.subject .cont ul:after {content:"";display:block;clear:both;} 
.subject .cont ul li { float:left; width:138px; margin:0 0 5px 17px;}
.subject .cont ul li:first-child {margin:0 0 5px 0;}
.subject .cont ul li a.thumb {display:block;position:relative;height:100px;}
.subject .cont ul li a.thumb > img {border:1px #d7d7d7 solid;}
.subject .cont ul li a.thumb .icon { position:absolute; bottom:2px; right:2px; border:none;}
.subject .cont ul li div { height:60px; padding-top:9px; line-height:16px; }
.subject .cont ul li div p { margin-bottom:2px; }
.subject .cont ul li div a {font-family:"Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}
.subject .noti {position:absolute;bottom:10px;left:145px;width:393px;height:26px;background:#fcefde url('../images/mainNew/ico_main.png') 10px -53px no-repeat;padding:6px 15px 0 40px;}
.subject .noti a {display:block;background:url('../images/mainNew/ico_main.png') 100% -185px no-repeat;padding:0 20px 0 0;color:#444;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;font-family:"Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}
.subject .noti a:hover {background-position:100% -145px;color:#f87128;text-decoration:none;}
.subject .cont ul li div a {color: #444;text-decoration:none;}
.subject .cont ul.ele li div a:hover {color:#4a8e1b;}
.subject .cont ul.mid li div a:hover {color:#1fa0be;}
.subject .cont ul.high li div a:hover {color:#844abb;}

/* 동행배너존 */
.mktBanner {float:right;width:311px;}

/* 비교과컨텐츠 */
.contListWrap {margin-top:40px;}
.contListWrap ul {border:1px #d7d7d7 solid;*zoom:1;}
.contListWrap ul:after {content:"";display:block;clear:both;}
.contListWrap ul li {float:left;border-left:1px #d7d7d7 solid;}
.contListWrap ul li.b_line {border-bottom:1px #d7d7d7 solid;}
.contListWrap ul li.l_line {border-left:none}
	
/* 공지사항 */
.notice {margin-top:40px;height:36px;padding:12px 0 0 0;border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;*zoom:1}
.notice:after {content:"";display:block;clear:both;}
.notice h2 {float:left;background:url('../images/new/bg_bar.gif') 100% 5px no-repeat;padding:0 15px 0 25px;font-size:14px;color:#222;font-family:"Nanum GothicB","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}
.notice .btn_more {float:right;display:inline-block;width:70px;height:24px;background:url('../images/mainNew/ico_main.png') -120px -230px no-repeat;margin:0 25px 0 0}
.notice ul {float:left;position: relative;width:715px;height:20px;margin:1px 0 0 15px;overflow: hidden;}
.notice ul li {position:absolute;top:0;left:0;height:20px;}
.notice ul li a {display:inline-block;height:20px;font-size:13px;color:#666;font-family:"Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;text-decoration:none;}
.notice ul li a:hover {color:#f87128}
.notice ul li img {vertical-align:middle; margin:-3px 0 0 3px; }
.notice ul li span.date {margin-left:20px;font:13px verdana; letter-spacing:-1px; }
