@charset "utf-8";
@import url('board.css');

/* subjectInfo */
.subjectInfo {position: relative; height: 73px; padding: 2px 0 0 46px; background: url('../images/subject/info_bg.gif') no-repeat 0 0; text-align: right;}
.subjectInfo p * {vertical-align: middle;}
.subjectInfo p {float: left; padding: 13px 0 0 0;}
.subjectInfo p strong {padding: 0 9px 0 0; font-size: 16px;}
.subjectInfo span {float: right; padding-right: 2px; overflow: hidden;}
.subjectInfo span a {float:left; margin-left: -1px; padding: 0 0 0 1px; background: url('../images/subject/btnLine.gif') no-repeat 0 11px;}

.chartView,
.chartView .chartIn {display: inline-block; }
.chartView {position: absolute; top: 7px; right: 120px; padding: 0 0 0 4px; font-size: 0; background: url('../images/subject/view_bg.gif') no-repeat 0 0;}
.chartView .chartIn {height: 40px; padding: 0 4px 0 0; font-size: 0; background: url('../images/subject/view_bg.gif') no-repeat right 0;}
.chartView .chartIn a {display: inline-block; margin: 8px 0 0 0; padding: 0 14px; background: url('../images/subject/view_line.gif') no-repeat 0 0;}
.chartView .chartIn a:first-child {background: none;}

.subStit {margin-bottom: 24px;}
.subStit1 {margin-bottom: 14px;}
.stitArea * {vertical-align: middle;}
.stitArea {overflow: hidden; margin-top: 46px; padding-bottom: 8px; text-align: right;}
.stitArea strong {float: left; font-size: 16px; line-height: 24px; padding-top: 6px;}
.stitArea.line {border-bottom: 2px solid #858ea0;}

.subStxt {height: 59px;}
.stit {margin: 20px 0 10px 0;}

.stitArea .selArea * {vertical-align: middle;}
.stitArea .selArea {padding: 8px 0 0 0;}
.stitArea .selArea label {font-weight: bold;}

.cntList3 tbody td {padding-top: 7px; padding-bottom: 6px;}
.cntList3 tbody .aLeft {padding-left: 20px !important;}
.cntList3 tbody .aLeft .tit img {vertical-align: middle; margin: 0 10px 0 0;}

.aLeft1 {padding-left: 10px !important; text-align: left !important;}

#makeTest {position: relative; margin: 16px 0 30px 0;}
#makeTest  a {position: absolute; top: 22px; left: 616px;}


/* 교과: 뉴디자인 */
.chk {width: 13px; height: 13px;}
.txtTit {font-size: 16px; margin: 30px 0 7px 0; text-align: right;}
.txtTit h3 {float: left; font-size: 16px;}
.unitWrap {border-bottom: 1px solid #ddd; padding-bottom: 20px;}
.unitWrap.first {margin: 6px 0 0 0 !important;}
.unitWrap .unitTit * {vertical-align: middle;}
.unitWrap .unitTit {position: relative; height: 26px; padding: 9px 0px 0 0px; border-bottom: 1px solid #d1d1d1; font-weight: bold;}
.unitWrap .unitTit label,
.unitWrap .unitTit strong {font-size: 14px;}
.unitWrap .unitTit .chk {float: left;}
.unitWrap .unitTit select {position: absolute; top: 7px; right: 0px;}
.publicWrap {border-bottom: 1px solid #ddd;}

.section {padding: 20px 21px 0px 21px;}
.section.toggleType {margin: 0 0 0 0; padding: 0px;}
.section.toggleType .unitData {border-bottom:none !important;}
.section.toggleType .unitData .tab li {width: 188px;}
.section.toggleType .unitData .tab li.last {width: 186px;}
.section.toggleType .tabCnt {margin: 0 0 -1px 0;}

.section.noLine {border-top: none;}
.section .chkTit * {vertical-align: middle;}
.section .chkTit {position: relative; height: 28px;}
.section .chkTit .teachData {
	position: absolute; top: 0; right: 0px; height: 21px; padding: 0 27px 0 0; line-height: 21px; color: #868b90; font-weight: bold;
	background: url('../images/common/icon/arrow_sq.gif') no-repeat right 0px; 
}
.section .chkTit .teachData.up{
	background: url('../images/common/icon/arrow_sq_up.gif') no-repeat right 0px;
}
.section .chkTit .chk {margin-top: -1px;}
.section .chkTit label {font-size: 14px; font-weight: bold;}

.unitData {overflow: hidden; border-bottom: 1px solid #ccc;}
.unitData .tab {overflow: hidden; width: 100%; background: url('../images/subject/tab_bg.gif') no-repeat 100% 0;}
.unitData .tab:after {content: ''; display: block; visibility: hidden; height: 0; clear: both;}
.unitData .tab li {
	float: left; width: 177px; line-height: 30px;
	margin: 0 -1px -1px 0; text-align: center; 
	background: #f2f3f7; cursor: pointer;
}
.unitData .tab li a {display: block; height: 29px; border: 1px solid #ccc;}
.unitData .tab li a:hover {text-decoration: none;}
.unitData .tab li a.curD {cursor: default;}
.unitData .tab li strong {font-weight: normal !important; color: #5767b9;}
.unitData .tab li.on {position: relative; background: url('../images/subject/tab_bg1.gif') repeat-x 0 0; font-weight: bold; letter-spacing: -1px; }
.unitData .tab li.on a {border: 1px solid #8b99b7; color: #fff;}

.unitData .tab li.on strong {font-weight: bold !important; color: #fff; letter-spacing: -1px;}
.unitData .tabCnt {margin: 0 0 -1px 0; border: 1px solid #ccc;}
.unitData .dataNone {border: 1px solid #ddd;}
.unitData .tab.unit6 li {width: 116px;}
.unitData .tab.unit6 li.last {width: 118px;}

.toggleBar * {vertical-align: middle;}
.toggleBar {position: relative; height: 20px; margin-bottom: 3px;}
.toggleBar strong {display: inline-block; font-size: 14px; color: #333; padding: 3px 0 0 0;}
.toggleBar a {
	overflow: hidden; position: absolute; top: -1px; right: 1px; display: block; width: 23px; height: 19px;
	background: url('../images/subject/btn_toggle.gif') no-repeat 0 0;
}
.toggleBar a.on {background-position: 0 bottom;}

/* 리스트 타입 */
.unitData .tabCnt .listType {overflow: hidden; width: 100%; border-bottom: 1px solid #e8e8e8;}
.unitData .tabCnt .listType li * {vertical-align: middle;}
.unitData .tabCnt .listType li {height: 32px; margin: 0 0 -1px 0; padding: 7px 19px 0 19px; border-bottom: 1px dotted #bebebe; text-align: right;}
.unitData .tabCnt .listType p {float: left; padding: 4px 0 0 0;}
.unitData .tabCnt .listType p img {margin: 0 0 0 6px;}


/* 이미지 타입 */
.unitData .tabCnt .imgType {overflow: hidden; width: 660px; margin: 0 auto; padding: 0 0 16px 0; border-bottom: 1px dotted #bebebe;}
.unitData .tabCnt .imgType ul {width: 680px; margin-top: 30px; margin-left: -8px;}
.unitData .tabCnt .imgType ul li {float: left; overflow: hidden; width: 140px; height: auto; margin: 0 0 16px 22px; }
.unitData .tabCnt .imgType ul li a {position: relative; display: block; width: 140px; height: 104px;}
.unitData .tabCnt .imgType ul li a .pic {width: 138px; height: 102px; border: 1px solid #999;}
.unitData .tabCnt .imgType ul li a .type {position: absolute; bottom: 2px; right: 2px;}
.unitData .tabCnt .imgType ul li p * {vertical-align: middle;}
.unitData .tabCnt .imgType ul li p {position: relative; margin-top: 8px;}
.unitData .tabCnt .imgType ul li p input {position:  relative;}
.unitData .tabCnt .imgType ul li p label {display: block; margin: -14px 0 0 0px; padding: 0 0 0 20px; line-height: 1.4;}

.chkControl * {vertical-align: middle;}
.chkControl {height: 25px; margin-top: 23px; padding: 8px 10px 0 22px; background: #f2f3f7; text-align: right; color: #555; font-size: 11px;}
.chkControl:after {content: ''; display: block; visibility: hidden; height: 0; clear: both;}
.chkControl .allChk {float: left;}
.chkControl .allChk label {font-weight: bold; font-size: 12px;}

/* 선생님 공유자료 팝업 */
.msgPop1 {display: none; position: absolute; width: 704px; border: 1px solid #4b5ba1; background: #fbfcfe; z-index: 20;}
.msgPop1 .close {position: absolute; top: 20px; right: 18px; font-size: 0;}
.msgPop1 .contain {width: 666px; padding: 24px 19px 0 19px; border-top: 3px solid #6080fd;}
.msgPop1 .contain .visual {position: relative;}
.msgPop1 .contain .visual a {position: absolute; top: 80px; left: 220px;}
.msgPop1 .publicData {}
.msgPop1 .publicData:after {content: ''; display: block; visibility: hidden; height: 0; clear: both;}
/*
.msgPop1 .publicData .thum {float: left; width: 94px; padding: 0 0 0 10px;}
.msgPop1 .publicData .thum img {border: 1px solid #666}
*/
.msgPop1 .publicData dl {overflow: hidden; position: relative;}
.msgPop1 .publicData dd {margin-top: 4px;}
.msgPop1 .publicData dd .dataFile {}
.msgPop1 .publicData dd .dataFile ul {width: 376px; padding: 0 0 0 10px; border: 1px solid #dfdfdf; background: #f8f8f8;}
.msgPop1 .publicData dd .dataFile ul:after {content: ''; display: block; height: 0; visibility: hidden; clear: both;}
.msgPop1 .publicData dd .dataFile ul li * {vertical-align: middle;}
.msgPop1 .publicData dd .dataFile ul li {height: 20px; padding: 5px 0 0 0;}
.msgPop1 .publicData dd .dataFile .btnContain * {vertical-align: middle;}
.msgPop1 .publicData dd .dataFile .btnContain {position: absolute; top: 24px; right: 30px; overflow: hidden;}
.msgPop1 .publicData dd .dataFile .btnContain span {display: inline-block; margin: 0 10px 0 0;}
.msgPop1 .publicData dd .dataFile .btnContain span img {margin: 0 4px 0 0;}
.msgPop1 .publicData dd p {clear: both; margin: 10px 0 0 0; line-height: 1.4;}
.msgPop1 .chkControl {border-top: 1px dotted #bebebe;}

/* scriptType */
.scriptType {width: 663px; margin: 0 auto; padding: 16px 20px 0 20px;}
.scriptType li * {vertical-align: middle;}
.scriptType li {overflow: hidden; border-bottom: 1px solid #ddd;}
.scriptType li dl dt a {color: #4e69e5; text-decoration: underline; padding: 0;}

.scriptType li.thumType .thum * {vertical-align: top;}
.scriptType li.thumType .thum {float: left; position: relative; height: 83px; margin: 0 9px 0 0;}
.scriptType li.thumType .thum img {border: 1px solid #ededed;}
.scriptType li.thumType .thum span {position: relative; display: inline-block; width: 78px; height: 85px;}
.scriptType li.thumType .thum span .pic {width: 76px; height: 83px; border: 1px solid #ededed;}
.scriptType li.thumType .thum span .zoom {position: absolute; bottom: 0; right: 0;}
.scriptType li.thumType dl {float: left; width: 554px;}
.scriptType li.thumType dl dt * {vertical-align: middle;}
.scriptType li.thumType dl dt {height: 37px; border-bottom: 1px solid #bebebe; text-align: right;}
.scriptType li.thumType dl dt strong {float: left;}
.scriptType li.thumType dl dd {height: 50px; padding: 12px 0 0 7px; background: #f8f8f8; line-height: 1.6;}

.scriptType li.txtType dl {overflow: hidden}
.scriptType li.txtType dl dt * {vertical-align: middle;}
.scriptType li.txtType dl dt {height: 38px; padding: 9px 0 0 0; border-bottom: 1px solid #bebebe; text-align: right;}
.scriptType li.txtType dl dt .listTit {float: left;}
.scriptType li.txtType dl dd {height: 50px; padding: 12px 0 0 25px; background: #f8f8f8; line-height: 1.6;}

/* 선생님 공유자료 */
.publicVisual {height: 147px; margin: -35px 21px -30px 21px; padding: 35px 0 0 14px;  background: url('../images/subject/publicVisual_bg1.gif') no-repeat 0 0;}
.publicVisual p {margin-bottom: 17px;}
.publicData1 {margin: 0 20px 0 20px; padding: 30px 0 30px 0; border-bottom: 1px dotted #bebebe;}
.publicData1:after {content: ''; display: block; visibility: hidden; height: 0; clear: both;}
.publicData1 .thum {float: left; width: 94px; padding: 0 0 0 10px;}
.publicData1 .thum img {border: 1px solid #666}
.publicData1 dl {overflow: hidden;}
.publicData1 dd {margin-top: 4px;}
.publicData1 dd .dataFile {}
.publicData1 dd .dataFile ul {float: left; width: 376px; padding: 0 0 0 10px; border: 1px solid #dfdfdf; background: #f8f8f8;}
.publicData1 dd .dataFile ul li * {vertical-align: middle;}
.publicData1 dd .dataFile ul li {height: 20px; padding: 5px 0 0 0;}
.publicData1 dd .dataFile .btnContain {overflow: hidden;}
.publicData1 dd p {clear: both; margin: 10px 0 0 0; line-height: 1.4;}

.publicTeach {padding: 0 0 24px 0;}
.publicTeach .paging a {background: none;}

.publicData .thum {}
.publicData .thum img {width: 103px; height: 73px;}
.publicData dl {border-bottom: 1px solid #aeb4c0; background: #fff;}
.publicData dt * {vertical-align: middle;}
.publicData dt .writer {padding: 0 10px 0 0; color: #333;}
.publicData dt {text-align: right; margin: 0 20px 0 20px; padding: 8px 0 8px 0; border-bottom: 1px dotted #bebebe;}
.publicData dt .listTit {float: left; padding: 5px 0 0 0;}
.publicData dd {margin-bottom: -1px; padding: 8px 20px 12px 20px; border-bottom: 1px solid #ddd; line-height: 1.4;}

#smart.publicData dt {position: relative; padding-left: 120px}
#smart.publicData dt .thum {position: absolute; top: 12px; left: 0px;}
#smart.publicData dt .thum img {width: 103px; height: 73px; border: 1px solid #e7e7e7;}
#smart.publicData dd {padding-left: 140px; min-height: 32px; font-size: 11px; color: #888;}

#noResult {padding: 56px 0 50px 0; border-bottom: 1px solid #aeb4c0; background: #fff;}
.noResult {width: 274px; margin: 0 auto; padding: 6px 0 0 74px; background: url('../images/subject/noResult_bg.gif') no-repeat 0 0;}
.noResult p {margin: 7px 0 0 0; line-height: 1.4;}

.comData {margin: 0 0 25px 0; padding: 0 0 1px 0; border-bottom: 1px solid #eaebf0;}
.comData .comDataWrap {border: 1px solid #6a80b1;overflow:hidden;}
.comData .tab {overflow: hidden; margin-bottom: -1px;}
.comData .tab a {float: left; width: 372px; height: 32px; line-height: 32px; text-align: center; font-weight: bold; background: #fff; color: #768cbc; border-bottom: 1px solid #6a80b1;}
.comData .tab a:first-child {border-right: 1px solid #6a80b1;}
.comData .tab a:hover,
.comData .tab a.on {background: #8da2d0; color: #fff;  border-bottom: 1px solid #6a80b1; text-decoration: none;}

.comData .tabCnt {padding: 0 19px; border: none;}
.comData .tabCnt .listType {overflow: hidden; border-bottom: 1px solid #e8e8e8;}
.comData .tabCnt .listType li * {vertical-align: middle;}
.comData .tabCnt .listType li {overflow: hidden; height: 32px; margin: 0 0 -1px 0; padding: 7px 4px 0 4px; border-bottom: 1px dotted #bebebe; text-align: right;}
.comData .tabCnt .listType p {float: left; padding: 4px 0 0 0;}
.comData .tabCnt .listType p img {margin: 0 0 0 6px;}

.comData .tabCnt .chkControl {margin-top: -1px !important; padding: 12px 0 6px 0 !important; background: none; border-top: 1px solid #c2c2c2;}
.comData .tabCnt .chkControl .allChk {padding: 4px 0 0 0;}
.comData .tabCnt .cntClose {display: inline-block; margin: 0 0 0 10px;}

.comData .paging {margin-bottom: 20px !important;}

.comData .division {overflow: hidden; margin: 10px 0; background: #eaebf0;}
.comData .division li {float: left; margin: 0 0 0 -1px; background: url('../images/subject/tab_line.gif') no-repeat right 50%; }
.comData .division li a {display: block; width: auto; height: 26px; padding: 0 14px; line-height: 26px; font-size: 11px;}
.comData .division li:hover a,
.comData .division li.on a {position: relative; background: #666; color: #efefef;}

.comData .division1 {margin: 0 0 5px 0; text-align: right;}
.comData .division1 a {font-size: 11px;}
.comData .division1 a:hover,
.comData .division1 a.on {color: #3082f2; font-weight: normal;}

/* 수박씨 추천강의 */
#recommend {width: 100%;}
.tblList-recom {table-layout: fixed; width: 100%; margin-top: 10px; border-bottom: 1px solid #989898;}
.tblList-recom tr:first-child td {border-top: 1px solid #989898;}
.tblList-recom td {line-height: 1.6; padding: 17px 7px ; border-top: 1px solid #e1e1e1; text-align: center; font-family:'Noto Sans KR', sans-serif; font-size: 14px;font-weight:400;color: #666;}
.tblList-recom td.grade {font-weight: bold; font-size: 16px; color: #555;}
.tblList-recom td.grade img {display: block; padding-top: 4px; vertical-align: top; margin: 0 auto;}
.tblList-recom td.lecture {text-align: left;}
.tblList-recom td.lecture .tit {font-size:17px;color:#333;font-weight:500;line-height:1.3;}
.tblList-recom td.lecture .bookname {margin-bottom:5px;font-size:14px;font-weight:400;color:#888;}
.tblList-recom td a {display: inline-block; vertical-align: middle;}
.tblList-recom td .btn_view {width: 84px; height: 26px; background: url(../images/new/btn_lecture.jpg) no-repeat 0 0;}
.tblList-recom td .btn_view.on {background-image: url(../images/new/btn_lecture_on.jpg);}
.tblList-recom td .btn_view span {position: absolute; top: 0; left: 0; width: 1px; height: 1px; margin-top: -1px; overflow: hidden; text-indent: -999em;}

.tblList-recom .lectureCnt {display: none;}
.tblList-recom .lectureCnt td {padding: 0; border: none;}
.tblList-recom .lecTbl {overflow: hidden; width: 100%;}
.tblList-recom .lecTbl table {table-layout: fixed; width: 100%; border: 1px solid #e1e1e1; border-bottom: none;}
.tblList-recom .lecTbl th {height: 35px; border-left: 1px solid #eee; background: #f7f7f7; color: #333;}
.tblList-recom .lecTbl th:first-child {border-left: none;}
.tblList-recom .lecTbl tr:first-child td {border-top: 1px solid #eee;}
.tblList-recom .lecTbl td {padding: 8px 10px; border-left: 1px solid #eee; border-top: 1px solid #eee; letter-spacing: -0.5px; font-size: 12px; color: #888;}
.tblList-recom .lecTbl td.name {text-align: left;}
.tblList-recom .lecTbl td.title {text-align: left; color: #444;}
.tblList-recom .lecTbl td.title img {margin-left: 5px; vertical-align: middle;}

.tblList-recom tr.no_data td {padding: 120px 0; font-size:17px;color:#333;}

/*
#recommend .lecTbl table {width: 100%; table-layout: fixed; margin-left: -2px; border-bottom: 1px solid #ddd;}
#recommend .lecTbl table thead th {
	height: 28px; padding: 0; background: #e9e9e9; font-size: 11px;
	border-style: solid; border-width: 1px 0 0 1px; border-color:#ddd;
}
#recommend .lecTbl table tbody td {border-top: 1px solid #ddd; border-left: 1px solid #ddd; background: #f5f5f5; font-size: 11px;}
#recommend .lecTbl table tbody td.aLeft {padding-left: 14px !important; text-align: left !important;}*/