@charset "utf-8";

/* font */
@font-face {
	font-family: 'goyang';
	font-style: normal;
	font-weight: 400;
	src: url('GoyangDeogyang.woff') format('woff');
}

@font-face {
	font-family: 'goyang';
	font-style: normal;
	font-weight: 700;
	src: url('GoyangDeogyang.woff') format('woff');
}

@font-face {
	font-family: 'cookie';
	font-style: normal;
	font-weight: 400;
	src: url('CookieRun-Regular.woff') format('woff');
}

@font-face {
	font-family: 'cookie';
	font-style: normal;
	font-weight: 700;
	src: url('CookieRun-Bold.woff') format('woff');
}

@font-face {
	font-family: 'visang';
	font-style: normal;
	font-weight: 400;
	src: url('visangMathTM.ttf') format('woff');
}

@font-face {
	font-family: 'visang';
	font-style: normal;
	font-weight: 700;
	src: url('visangMathTM-Bold.ttf') format('woff');
}

/* ------------------------------------------------------------------------------------------------------------- */
@font-face {
	font-family: 'NanumSquareB';
	font-style: normal;
	font-weight: 800;
	src: url('NanumSquareEB.woff') format('woff');
}

