* { margin:0; padding:0; }
ul li, ol li { list-style:none; }
#newEvent {width:910px;height: 285px;background: url('/images/opendata/today/season2/cont2.jpg') no-repeat center top;padding: 18px 57px 0px 62px;box-sizing: border-box;}
#newEvent:after { clear: both; overflow: hidden; content: ''; display: block; }
#newEvent .list {width: 183px;height: 252px;float: left;padding: 0;margin-left: 19px;}
#newEvent .list:nth-child(4n+1) { margin-left: 0; }
#newEvent .list .txt {display: table;width: 100%;height: 80px;padding-bottom: 2px;margin-bottom: 70px;box-sizing: border-box;}
#newEvent .list .txt strong {display: table-cell;vertical-align: middle;text-align: center;font-size: 18px;color: #10493a;font-weight: 800;line-height: 22px;}
#newEvent .list .episode {    display: block;    padding-left: 7px;    overflow: hidden;    height: 32px;}
#newEvent .list .episode .noti {    float: left;    display: block;    color: #805d41;    font-size: 14px;    padding-top: 1px;    padding-right: 6px;    position: relative;}
#newEvent .list .episode .noti:after {    display: block;    content: '';    width: 0;    height: 0;    border-style: solid;    border-width: 3.5px 0 3.5px 4px;    border-color: transparent transparent transparent #805d41;    position: absolute; right: -3px; top: 8px;}

#newEvent .list .episode .count {    color: #f2434d;     float: right;     line-height: 0.7;    padding-right: 2px;}
#newEvent .list .episode .count i {    font-size:  28px;    position: relative;    font-weight: 800;    top: 5px;    padding-right: 5px;}
#newEvent .list .btn { display: block; width: 189px; height: 45px; background: url('/images/opendata/today/season2/btn.png') no-repeat 0 0; }
#newEvent .list .btn:hover {background-image: url('/images/opendata/today/season2/btn_on.png'); }

#pop_award {position: fixed;left: 0;top: 0;bottom: 0;right:0;background: rgba(0,0,0,0.8);display: none;overflow-x: hidden;overflow-y: auto;z-index: 100;/* margin-bottom: 10vh; */}
#pop_award .msgPopup {width: 520px;margin-left: 0;top: 5vh;left: auto;border-radius: 25px;overflow: hidden;position: relative;margin: 0 auto;margin-bottom: 5vh;}

#pop_award .tit {background: #ffe655;padding:20px 20px 15px;height: auto;}

#pop_award .contWrap {padding: 23px 25px 50px;border:  0;}

#pop_award .examInfo .commentT { font-size: 12px; color: #666666;  padding-bottom: 16px; font-weight:700;}
#pop_award .examInfo table { width: 100%; border-top: 2px solid #707070; font-size: 12px;  color: #666666; }
#pop_award .examInfo table th {background: #f2f2f2;border-right: 1px solid #dfdfdf;}
#pop_award .examInfo table th[colspan="2"] {border-right: 0;padding-top: 11px;padding-bottom: 11px;padding-right: 10px;position: relative;height: auto;}

#pop_award .examInfo table  td {padding: 11px 10px;font-size: 11px;}

#pop_award .examInfo  .input_area {}
.inputList {}
.inputList li + li {
    margin-top: 5px;
}
.inputList input[type="checkbox"], .inputList input[type="radio"] {     opacity: 0; position: absolute;  }
.inputList label {position: relative;padding-left: 20px;cursor: pointer;display: inline-block;margin-bottom: 4px;}
.inputList input[type="checkbox"] + label:after, .inputList input[type="radio"] + label:after { content: ''; display: block; position: absolute; left: 0; top: 0;  width: 13px; height: 13px;  background: url('/images/opendata/today/season1/icon_check.gif') no-repeat left top;}
.inputList input[type="checkbox"]:checked + label:after, .inputList input[type="radio"]:checked + label:after {background-position: left bottom; }

.inputFile {margin-top: 10px;}
.inputFile .file {height: 26px;}
.inputFile p input {float: left;box-sizing: border-box;width: calc(100% - 85px);height: 25px;padding-left: 10px;border: 1px solid #d9d9d9;color: #999;font: 12px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}
.inputFile p button {float: right;  color: #ffffff; background: #707070;  height: 25px;   line-height: 25px;   width: 80px;}
.inputFile p:after { content: ''; display: block; clear: both;  overflow: hidden;}
.inputFile  li {color: #e55b48;padding-left: 6px;text-indent: -6px;font-size: 11px;line-height: 1.8;}
.inputFile  li em { color: #508ae8; margin-right: 10px; }
.inputFile  li em +button {color: #666666;display: inline-block;width: 100px;line-height: 19px;height: 19px;border: 1px solid #666666;background: #fff;font-size: 11px;position: relative;top: 2px;}
.inputFile  ul {padding-top: 11px;}

.pop_content { position: relative; }
#comment {width: 100%;height: 115px;box-sizing: border-box;margin-top: 13px;padding: 13px 15px;border: 1px solid #d9d9d9;color: #999;font: 12px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}
#comment + p {position: absolute;right: 0;top: -5px;font-size: 11px;color: #b7b7b7;}
#comment + p .count { color:#666666}


#pop_award  .msgPopup .agree_info {margin: 20px 0;padding: 0;background: #ffffff;color: #777;}
#pop_award  .msgPopup .agree_info dt {margin-bottom: 10px; color: #666666; font-size: 12px; }
#pop_award  .msgPopup .agree_info dd li {padding-left: 11px;text-indent: -11px;line-height: 1.7;letter-spacing: -0.5px;color: #888888;font-size: 11px;}
#pop_award  .msgPopup .agree_info dd li em {color:#e55b48}
#pop_award  .msgPopup .agree_check {padding-bottom:10px; font-weight:bold; color: #444;}
#pop_award  .msgPopup .agree_check input {vertical-align:middle;margin:2px 5px 0 0}
#pop_award  .msgPopup .agree_check label {vertical-align:middle;}
#pop_award  .msgPopup .agree {padding-bottom:10px;font-weight:bold;color: #444;padding-top: 15px;border-top: 1px solid #dfdfdf;}
#pop_award  .msgPopup .agree input {vertical-align:middle;margin:2px 5px 0 0}
#pop_award  .msgPopup .agree label {vertical-align:middle;}

#pop_award .msgPopup .btnArea {border-top: 0;padding-top: 0;}
#pop_award .msgPopup .btnArea a {float: none;margin: 0 auto;}