@charset "utf-8";
@import url('../../resources/css/font.css');

/* RESET */
*, *:before, *:after{box-sizing:border-box;margin:0;padding:0;line-height:1;}
html, body{height:100%;font-family:'Noto Sans KR',sans-serif;-webkit-touch-callout:none;-webkit-user-select:none;}
ol, ul, li{list-style:none;}
a, a:hover, a:visited, a:link, a:active{text-decoration:none;background:none;color:#333;}
i, em, strong{font-style:normal;}
img{vertical-align:top;}
button{background:none;border:0;font-size:14px;color:#666;cursor:pointer;}
h1, h2, h3, h4, h5, strong{font-weight:400;}

/* COMMON */
.wrap{position:relative;height:100%;}
.wrap .imgWrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;}
.wrap .imgWrap.on{z-index:1;}
.blind{overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;clip:rect(0 0 0 0);}
.btnWrap{position:absolute;top:0;left:0;width:100%;height:100%;}
.btnMove{position:absolute;border:4px dashed red;}
.btnMain{top:4%;left:2%;padding:1%;font-size:1.8vw;font-weight:700;color:#fff;background:#333;border:4px solid #333;border-radius:10px;}
.linkWrap{display:flex;gap:0 5.5%;height:100%;padding:9% 14.4% 0;text-align:center;}
.linkWrap .linkItem{flex:1;height:100%;}
.linkWrap .linkList{display:flex;flex-wrap:wrap;gap:1.6vw;}
.linkWrap .linkList li{flex:1 100%;}
.linkWrap .linkList .btn{display:block;width:100%;padding:1vw 1.4vw;border-radius:10px;font-size:2.3vw;font-weight:600;color:#fff;line-height:1.5;}
.linkWrap .linkList .btn span{display:inline-block;word-break:keep-all;}
.popWrap{position:fixed;top:0;left:0;display:none;width:100%;height:100%;background:rgba(0,0,0,0.5);}
.popWrap.on{display:block;}
.popWrap .popCont{width:100%;height:100%;}
.popWrap .popInfo{position:absolute;top:0;right:0;display:flex;align-items:center;justify-content:right;width:100%;}
.popWrap .videoTit{font-size:1.5vw;font-weight:600;color:#333;letter-spacing:-0.055em;}
.popWrap .btnPopClose{width:4vw;height:4vw;margin:1%;background:url(../images/locallibrary/btn_pop_close.png) 50% 50% no-repeat #fff;background-size:2vw 2vw;border-radius:100%;}



/* INDEX */
.main{padding:7.2% 2.3% 2.1% 2.3%;background:url(../images/bg.png) 0 0 no-repeat;background-size:100% 100%;}
.main .tabWrap{display:block;height:100%;/*padding:1.8% 1.2% 4.5% 1.8%;*/}
.main .tabWrap .btnTabWrap{display:flex;gap:0 0.4vw;}
.main .tabWrap .btnTabWrap > button{width:18.9vw;height:4.1vw;border-radius:15px 15px 0 0;}
.main .tabWrap .btnTabWrap > button.on{background-position:50% 50%;background-repeat:no-repeat;background-color:#fff;background-size:auto 2.109vw}
.main .tabWrap .btnTabWrap > button:nth-child(1).on{background-image:url(../images/btn_tab_e.png);}
.main .tabWrap .btnTabWrap > button:nth-child(2).on{background-image:url(../images/btn_tab_m.png);}
.main .tabWrap .tabContWrap{height:calc(100% - 4.1vw);}
.main .tabWrap .tabContWrap .tabCont{height:100%;}
.main .tabWrap .tabContWrap .tabCont{display:none;}
.main .tabWrap .tabContWrap .tabCont.on{display:block;}

.main .tabWrap ul{display:flex;height:100%;}
.main .tabWrap ul li{flex:1;}
.main .tabWrap .linkList{flex-wrap:wrap;gap:4% 0;align-content:flex-start;justify-content:space-between;padding:18.5% 11.4% 0 10.5%;}
.main .tabWrap .linkList li{flex:0 48%;height:20.5%;border-radius:20px;}
/*.main .tabWrap .linkList .btn{-webkit-tap-highlight-color:rgba(0,0,0,0);display:block;width:100%;height:100%;background:#ddd;border-radius:20px;text-align:center;}*/
.main .tabWrap .linkList .btn{-webkit-tap-highlight-color:rgba(0,0,0,0);display:flex;align-items:center;justify-content:center;width:100%;height:100%;background:#ddd;border-radius:20px;}

/* LOCAL LIBRARY */
.localLibrary{padding:6% 10%;background:#5d9ba3;}
.localLibrary .titWrap{width:50%;}
.localLibrary .titWrap .tit{position:relative;width:26vw;height:3vw;background:url(../images/locallibrary/tit.png) 0 0 no-repeat;background-size:100% auto;}
.localLibrary .titWrap .tit img{width:100%;}
.localLibrary .titWrap p{margin-top:1.2vw;font-size:1.5vw;font-weight:400;color:#333;line-height:1.4;letter-spacing:-0.04em;}
.localLibrary .titWrap p strong{font-weight:600;}
.localLibrary .titWrap span{position:relative;display:inline-block;margin-top:1.2vw;font-size:1.2vw;font-weight:400;color:#444;line-height:1.4;letter-spacing:-0.04em;}
.localLibrary .titWrap span strong{font-weight:600;color:#06bcff;}
.localLibrary .contWrap{position:absolute;top:6%;left:52%;width:34.5vw;height:49.6vw;background:url(../images/locallibrary/bg_map.png) 0 0 no-repeat;background-size:100% auto;}
.localLibrary .contWrap > button{position:absolute;padding-top:8.4%;background:url(../images/locallibrary/ico_spot.png) 50% 0 no-repeat;background-size:auto 70%;font-size:1.3vw;font-weight:600;color:#333;}
.spot1{top:14%;left:23.5%;}
.spot2{right:18%;bottom:31.5%;}
.spot3{top:44.5%;right:28%;}
.spot4{top:10.5%;left:11.5%;}
.spot5{left:19%;bottom:33%;}
.spot6{top:41.5%;left:34%;}
.spot7{right:9.5%;bottom:40%;}
.spot8{top:33.5%;left:28.5%;}
.spot9{top:23.5%;left:31%;}
.spot10{top:11%;right:35.5%;}
.spot11{top:25%;left:46.5%;}
.spot12{top:29.5%;left:12%;}
.spot13{top:52%;left:32%;}
.spot14{bottom:27%;left:31.5%;}
.spot15{top:32%;right:22%;}
.spot16{right:38%;bottom:34.5%;}
.spot17{left:11.5%;bottom:2.5%;}

/* VRKOREAN / VRTRIP*/
[class^="wrap vr"] img{position:absolute;bottom:0;left:0;width:100%;height:auto;}
.vrKorean .imgWrap .btn1{top:77%;left:47%;width:8%;height:15%;}
.vrKorean .imgWrap .btn2{top:71%;left:72%;width:4.5%;height:11.5%;}
.vrKorean .imgWrap .btn3{top:62%;left:68.5%;width:7%;height:8%;}
.vrKorean .imgWrap .btn4{top:61.4%;left:75.6%;width:5.5%;height:5.5%;}
.vrKorean .imgWrap .btn5{top:67%;left:77%;width:5.5%;height:6.5%;}
.vrKorean .imgWrap .btn6{top:75.5%;left:87.5%;width:3.5%;height:6%;}
.vrKorean .imgWrap .btn7{top:56%;left:87.5%;width:3.5%;height:6.5%;}
.vrKorean .imgWrap .btn8{top:63%;left:87.5%;width:6.5%;height:6.8%;}
.vrKorean .imgWrap .btn9{top:82.5%;left:91%;width:5.5%;height:11%;}
.vrTrip .imgWrap .btn1{top:74%;left:20%;width:12.5%;height:13.5%;}
.vrTrip .imgWrap .btn2{top:61%;left:91.4%;width:3.5%;height:7%;}
.vrTrip .imgWrap .btn3{top:77.5%;left:61.8%;width:3.5%;height:7%;}
.vrTrip .imgWrap .btn4{top:70%;left:67.5%;width:3.5%;height:7%;}
.vrTrip .imgWrap .btn5{top:77.5%;left:79.5%;width:3.5%;height:7%;}
.vrTrip .imgWrap .btn6{top:81%;left:84.6%;width:3.5%;height:7%;}

/* MUSIC LIBRARY */
.musiclibrary .imgWrap{background:#fff;text-align:center;}
.musiclibrary .imgWrap img{height:100%;}
.musiclibrary .imgWrap[data-idx="1"] .btn1{bottom:.3%;left:53%;width:9.5%;height:6.5%;}
.musiclibrary .imgWrap[data-idx="2"] .btn1{top:28.5%;left:25%;width:32%;height:6%;}
.musiclibrary .imgWrap[data-idx="2"] .btn2{top:28.5%;left:84%;width:5.5%;height:6%;}
.musiclibrary .imgWrap[data-idx="3"] .btn1{top:10.4%;left:89.8%;width:2.5%;height:4%;}
.musiclibrary .imgWrap[data-idx="4"] .btn1{top:27%;left:49.2%;width:5.5%;height:6%;}

/* GALLERY */
[class^="wrap gallery"] img{position:absolute;top:0;left:50%;width:auto;height:100%;transform:translateX(calc(-50% + 0.5px));}
.gallery .imgWrap[data-idx="1"] .btn1{top:24%;left:56%;width:15%;height:28%;}
.gallery .imgWrap[data-idx="1"] .btn2{top:24%;left:75.5%;width:13.5%;height:28%;}
.gallery .imgWrap[data-idx="1"] .btn3{top:53%;left:56%;width:37%;height:22%;}
.gallery .imgWrap[data-idx="2"] .btn1{top:36%;left:6.5%;width:20.5%;height:43%;}
.gallery .imgWrap[data-idx="2"] .btn2{top:36%;left:27.7%;width:20.5%;height:43%;}
.gallery .imgWrap[data-idx="2"] .btn3{top:36%;left:48.9%;width:20.5%;height:43%;}
.gallery .imgWrap[data-idx="2"] .btn4{top:36%;left:70%;width:20.5%;height:43%;}
.gallery .imgWrap[data-idx="7"] .btn1{top:56.5%;left:44.5%;width:7.5%;height:6%;}
.gallery .imgWrap[data-idx="7"] .btn2{top:56.5%;left:51.7%;width:9.3%;height:6%;}
.gallery .imgWrap[data-idx="9"] .btn1{top:2.5%;left:66.5%;width:3.5%;height:6.5%;}
.gallery .imgWrap[data-idx="10"] .btn1{top:36.5%;left:31.5%;width:13%;height:9%;}
.gallery .imgWrap[data-idx="10"] .btn2{top:36.5%;left:44.2%;width:12.8%;height:9%;}
.gallery .imgWrap[data-idx="10"] .btn3{top:36.5%;left:56.7%;width:13%;height:9%;}
.gallery .imgWrap[data-idx="10"] .btn4{top:28%;left:83.5%;width:10%;height:6%;}
.gallery .imgWrap[data-idx="10"] .btn5{top:57%;left:8%;width:17%;height:37%;}
.gallery .imgWrap[data-idx="11"] .btn1{top:69%;left:29%;width:6%;height:4.5%;}
.gallery .imgWrap[data-idx="11"] .btn2{top:69%;left:66%;width:6%;height:4.5%;}
.gallery .imgWrap[data-idx="12"] .btn1{top:59.5%;left:29%;width:6%;height:4.5%;}
.gallery .imgWrap[data-idx="12"] .btn2{top:59.5%;left:66%;width:6%;height:4.5%;}
.gallery .imgWrap[data-idx="13"] .btn1{top:59.5%;left:29%;width:6%;height:4.5%;}
.gallery .imgWrap[data-idx="13"] .btn2{top:59.5%;left:66%;width:6%;height:4.5%;}
.gallery .imgWrap[data-idx="14"] .btn1{top:18.5%;left:66.8%;width:3.5%;height:5.5%;}

/* VIVACLASS */
[class^="wrap vivaclass"] img{position:absolute;top:0;left:50%;width:auto;height:100%;transform:translateX(calc(-50% + 0.5px));}
.vivaclassE .imgWrap[data-idx="1"] .btn1{top:15%;left:15.5%;width:12.5%;height:19.5%;}
.vivaclassE .imgWrap[data-idx="2"] .btn1{top:36.3%;left:23.2%;width:56.5%;height:17.5%;}
.vivaclassE .imgWrap[data-idx="2"] .btn2{top:12.3%;left:38.2%;width:5%;height:4.5%;}
.vivaclassE .imgWrap[data-idx="2"] .btn3{top:58%;left:10.5%;width:6.5%;height:4.5%;}
.vivaclassE .imgWrap[data-idx="4"] .btn1{top:5%;right:0;width:3.5%;height:6.5%;}
.vivaclassM .imgWrap[data-idx="1"] .btn1{top:12%;left:38.5%;width:5%;height:4.5%;}
.vivaclassM .imgWrap[data-idx="1"] .btn2{top:53%;left:22.5%;width:57%;height:18.5%;}
.vivaclassM .imgWrap[data-idx="1"] .btn3{top:8%;left:78%;width:13.5%;height:6%;}
.vivaclassM .imgWrap[data-idx="2"] .btn1{top:5%;right:0;width:3.5%;height:6.5%;}
.vivaclassM .imgWrap[data-idx="3"] .btn1{top:13%;left:38%;width:5%;height:4.5%;}
.vivaclassM .imgWrap[data-idx="3"] .btn3{top:8.5%;left:80%;width:13.5%;height:6%;}

/* WORKSHEET */
.worksheet nav{position:fixed;top:0;left:0;display:flex;justify-content:center;align-items:center;width:100%;height:40px;z-index:2;}
.worksheet nav .btnMove{flex:1;position:relative;background:#666;border:0;color:#fff;line-height:24px;}
.worksheet nav .btnMove.on{background:#5676ff;font-weight:bold;}
.worksheet .imgWrap{background:#333;}
.worksheet img{position:absolute;top:40px;left:0;width:100%;height:auto;}
.worksheet .imgWrap .btn{top:77%;left:75%;width:18%;height:10%;background:#b9eeff;border-radius:20px;font-size:16px;font-weight:bold;color:#333;letter-spacing:-0.06em;}
.worksheet .imgWrap[data-idx="1"] .btn1{top:23.5%;left:22.5%;width:20.8%;height:7%;}
.worksheet .imgWrap[data-idx="1"] .btn2{top:23.5%;left:43.4%;width:27.2%;height:7%;}
.worksheet .imgWrap[data-idx="2"] .btn1{top:23.5%;left:22.5%;width:20.8%;height:16.5%;}
.worksheet .imgWrap[data-idx="2"] .btn2{top:23.5%;left:43.4%;width:27.2%;height:7%;}
.worksheet .imgWrap[data-idx="3"] .btn1{top:34.5%;left:44.5%;width:25%;height:4.5%;}
.worksheet .imgWrap[data-idx="4"] .btn1{top:23.5%;left:70.5%;width:6%;height:7%;}
.worksheet .imgWrap[data-idx="5"] .btn1{top:70.5%;left:19%;width:5%;height:6%;}
.worksheet .imgWrap[data-idx="6"] .btn1{top:40.5%;left:9%;width:81%;height:22%;}
.worksheet .imgWrap[data-idx="7"] .btn1{top:64%;left:77.7%;width:8.7%;height:6%;}
.worksheet .imgWrap[data-idx="8"] .btn1{top:83%;left:45%;width:10%;height:6.5%;}
.worksheet .imgWrap[data-idx="9"] .btn1{top:63%;left:43%;width:7%;height:6%;}
.worksheet .imgWrap[data-idx="10"] .btn1{top:41%;left:62%;width:2.5%;height:4%;}
.worksheet .imgWrap[data-idx="11"] .btn1{top:72%;left:43%;width:14%;height:7.5%;}
.worksheet .imgWrap[data-idx="12"] .btn1{top:8.5%;left:79.5%;width:8.5%;height:6.5%;}
.worksheet .imgWrap[data-idx="12"] .btn2{top:17%;left:27%;width:46.5%;height:82.5%;}
.worksheet .imgWrap[data-idx="13"] .btn1{top:60%;left:40%;width:10%;height:6.5%;}
.worksheet .imgWrap[data-idx="13"] .btn2{top:59.5%;left:66%;width:6%;height:4.5%;}
.worksheet .imgWrap[data-idx="14"] .btn1{top:8.5%;left:79.5%;width:8.5%;height:6.5%;}
.worksheet .imgWrap[data-idx="15"] .btn1{top:80%;left:39.5%;width:10.7%;height:6.2%;}
.worksheet .imgWrap[data-idx="16"] .btn1{top:17%;left:27%;width:46.5%;height:82.5%;}
.worksheet .imgWrap[data-idx="17"] .btn1{top:49%;left:10%;width:79.5%;height:7.5%;}
.worksheet .imgWrap[data-idx="18"] .btn1{top:58.5%;left:10.5%;width:10.5%;height:21.5%;}
.worksheet .imgWrap[data-idx="19"] .btn1{top:22.5%;left:58.4%;width:6.5%;height:6.5%;}

/* SAMQUIZ */
[class^="wrap samquiz"] img{position:absolute;top:0;left:50%;width:auto;height:100%;transform:translateX(calc(-50% + 0.5px));}
/*E*/
.samquizE .imgWrap[data-idx="1"] .btn1{top:5%;left:26.5%;width:6.5%;height:6%;}
.samquizE .imgWrap[data-idx="1"] .btn2{top:5%;left:37%;width:6.5%;height:6%;}
.samquizE .imgWrap[data-idx="2"] .btn1{top:65%;left:27%;width:15%;height:29%;}
.samquizE .imgWrap[data-idx="3"] .btn1{top:25%;left:77%;width:6.5%;height:4%;}
.samquizE .imgWrap[data-idx="4"] .btn1{top:27%;left:49.2%;width:5.5%;height:6%;}
.samquizE .imgWrap[data-idx="4"] .btn2{top:27%;left:54.8%;width:5.5%;height:6%;}
.samquizE .imgWrap[data-idx="4"] .btn3{top:49.5%;left:73%;width:17.5%;height:9%;}
.samquizE .imgWrap[data-idx="5"] .btn1{top:22.5%;left:51%;width:3%;height:5%;}
.samquizE .imgWrap[data-idx="6"] .btn1{top:37%;left:49.8%;width:2.8%;height:4.5%;}
.samquizE .imgWrap[data-idx="7"] .btn1{top:51%;left:73%;width:17.5%;height:9%;}
.samquizE .imgWrap[data-idx="8"] .btn1{top:73%;left:31%;width:14.5%;height:9.5%;}
.samquizE .imgWrap[data-idx="9"] .btn1{top:73%;left:31.2%;width:14.5%;height:9%;}
.samquizE .imgWrap[data-idx="10"] .btn1{top:18.5%;left:59.5%;width:7.5%;height:6%;}
.samquizE .imgWrap[data-idx="11"] .btn1{top:18.5%;left:61.2%;width:5.8%;height:6%;}
.samquizE .imgWrap[data-idx="12"] .btn1{top:56.4%;left:30%;width:16.4%;height:17%;}
.samquizE .imgWrap[data-idx="12"] .btn2{top:73.5%;left:31.5%;width:14%;height:8%;}
.samquizE .imgWrap[data-idx="13"] .btn1{top:21.5%;left:58.5%;width:3.5%;height:5.5%;}
.samquizE .imgWrap[data-idx="14"] .btn1{top:18.5%;left:59.5%;width:7.5%;height:6%;}
.samquizE .imgWrap[data-idx="15"] .btn1{top:18.5%;left:55.8%;width:5.5%;height:6%;}
.samquizE .imgWrap[data-idx="15"] .btn2{top:18.5%;left:61.4%;width:5.5%;height:6%;}
.samquizE .imgWrap[data-idx="16"] .btn1{top:36.8%;left:61.7%;width:3.9%;height:7%;}
.samquizE .imgWrap[data-idx="18"] .btn1{top:43%;left:31%;width:14%;height:5%;}
.samquizE .imgWrap[data-idx="19"] .btn1{top:31%;left:36%;width:6.5%;height:5%;}
.samquizE .imgWrap[data-idx="20"] .btn1{top:31%;left:43.5%;width:6.5%;height:5%;}
.samquizE .imgWrap[data-idx="20"] .btn2{top:41.5%;left:28%;width:56.5%;height:5%;}
.samquizE .imgWrap[data-idx="21"] .btn1{top:15.5%;left:75.8%;width:3.5%;height:5.5%;}
.samquizE .imgWrap[data-idx="22"] .btn1{top:41.5%;left:28%;width:56.5%;height:5%;}
.samquizE .imgWrap[data-idx="23"] .btn1{top:16.3%;left:75.8%;width:3.5%;height:5.5%;}
.samquizE .imgWrap[data-idx="17"] .btnMain,
.samquizE .imgWrap[data-idx="22"] .btnMain{border:4px dashed red;}
/*M*/
.samquizM .imgWrap[data-idx="1"] .btn1{top:5%;left:32%;width:6.5%;height:6%;}
.samquizM .imgWrap[data-idx="2"] .btn1{top:70.5%;left:27%;width:15%;height:29%;}
.samquizM .imgWrap[data-idx="3"] .btn1{top:37.5%;left:77%;width:6.5%;height:6%;}
.samquizM .imgWrap[data-idx="4"] .btn1{top:41%;left:53.5%;width:7.5%;height:6%;}
.samquizM .imgWrap[data-idx="5"] .btn1{top:62.5%;left:49.5%;width:7.5%;height:7%;}
.samquizM .imgWrap[data-idx="6"] .btn1{top:28.5%;left:14.5%;width:11.5%;height:8.5%;}
.samquizM .imgWrap[data-idx="7"] .btn1{top:52%;left:80%;width:3%;height:5.5%;}
.samquizM .imgWrap[data-idx="7"] .btn2{top:22%;left:34.5%;width:6.5%;height:5.5%;}
.samquizM .imgWrap[data-idx="8"] .btn1{top:27%;left:49.2%;width:5.5%;height:6%;}
.samquizM .imgWrap[data-idx="8"] .btn2{top:27%;left:54.8%;width:5.5%;height:6%;}
.samquizM .imgWrap[data-idx="8"] .btn3{top:49.5%;left:73%;width:17.5%;height:9%;}
.samquizM .imgWrap[data-idx="9"] .btn1{top:22.5%;left:51.3%;width:3%;height:5%;}
.samquizM .imgWrap[data-idx="10"] .btn1{top:37%;left:49.8%;width:2.8%;height:4.5%;}
.samquizM .imgWrap[data-idx="11"] .btn1{top:51%;left:73%;width:17.5%;height:9%;}
.samquizM .imgWrap[data-idx="12"] .btn1{top:75.5%;left:31%;width:14.5%;height:9.5%;}
.samquizM .imgWrap[data-idx="13"] .btn1{top:73%;left:31.2%;width:14.5%;height:9%;}
.samquizM .imgWrap[data-idx="14"] .btn1{top:80%;left:71%;width:21.5%;height:8.5%;}
.samquizM .imgWrap[data-idx="15"] .btn1{top:18.5%;left:55.8%;width:5.5%;height:6%;}
.samquizM .imgWrap[data-idx="15"] .btn2{top:18.5%;left:61.4%;width:5.5%;height:6%;}
.samquizM .imgWrap[data-idx="16"] .btn1{top:40.5%;left:61.5%;width:4%;height:7%;}
.samquizM .imgWrap[data-idx="17"] .btn1{top:73%;left:31.2%;width:14.5%;height:9%;}
.samquizM .imgWrap[data-idx="18"] .btn1{top:18.5%;left:59.5%;width:7.5%;height:6%;}
.samquizM .imgWrap[data-idx="19"] .btn1{top:18.5%;left:61.4%;width:5.5%;height:6%;}
.samquizM .imgWrap[data-idx="21"] .btn1{top:47.3%;left:30.5%;width:21.5%;height:5.5%;}
.samquizM .imgWrap[data-idx="22"] .btn1{top:31.5%;left:35.5%;width:7%;height:5%;}
.samquizM .imgWrap[data-idx="23"] .btn1{top:41%;left:28%;width:57%;height:7%;}
.samquizM .imgWrap[data-idx="23"] .btn2{top:31.5%;left:43%;width:7%;height:5%;}
.samquizM .imgWrap[data-idx="24"] .btn1{top:3%;left:75.8%;width:3.7%;height:5.5%;}
.samquizM .imgWrap[data-idx="25"] .btn1{top:28.5%;left:14.5%;width:11.5%;height:8.5%;}
.samquizM .imgWrap[data-idx="25"] .btn2{top:41%;left:28%;width:57%;height:7%;}
.samquizM .imgWrap[data-idx="26"] .btn1{top:16%;left:75.8%;width:3.7%;height:5.5%;}
.samquizM .imgWrap[data-idx="20"] .btnMain{border:4px dashed red;}

/* SAMBOARD */
[class^="wrap samboard"] .imgWrap{background:#333;}
[class^="wrap samboard"] img{position:absolute;bottom:0;left:0;width:100%;height:auto;}
[class^="wrap samboard"] .imgWrap[data-idx="1"] img{top:0;left:50%;bottom:auto;width:auto;height:100%;transform:translateX(calc(-50% + 0.5px));}
[class^="wrap samboard"] .imgWrap[data-idx="2"] .btn1{top:50%;right:0;width:3.5%;height:9%;}
[class^="wrap samboard"] .imgWrap[data-idx="2"] .btn2{top:9.5%;left:92.5%;width:3%;height:5%;}
[class^="wrap samboard"] .imgWrap[data-idx="2"] .btn3{top:9.5%;left:95.2%;width:3%;height:5%;}
[class^="wrap samboard"] .imgWrap[data-idx="3"] .btn1{top:8%;left:70.5%;width:5%;height:5.5%;}
[class^="wrap samboard"] .imgWrap[data-idx="4"] .btn1{top:41%;left:62.7%;width:3%;height:5%;}
[class^="wrap samboard"] .imgWrap[data-idx="5"] .btn1{top:21%;left:71.5%;width:3.5%;height:6%;}
[class^="wrap samboard"] .imgWrap[data-idx="6"] .btn1{top:81%;left:45%;width:10%;height:7.5%;}
[class^="wrap samboard"] .imgWrap[data-idx="7"] .btn1{top:29.8%;left:59.5%;width:4.5%;height:7%;}
[class^="wrap samboard"] .imgWrap[data-idx="8"] .btn1{top:64.5%;left:54.5%;width:3%;height:5%;}
[class^="wrap samboard"] .imgWrap[data-idx="8"] .btn2{top:64.5%;left:57.2%;width:3%;height:5%;}
[class^="wrap samboard"] .imgWrap[data-idx="8"] .btn3{top:64.5%;left:59.8%;width:3%;height:5%;}
[class^="wrap samboard"] .imgWrap[data-idx="8"] .btn4{top:64.5%;left:62.5%;width:3%;height:5%;}
[class^="wrap samboard"] .imgWrap[data-idx="8"] .btn5{top:64.5%;left:65.2%;width:3%;height:5%;}
[class^="wrap samboard"] .imgWrap[data-idx="8"] .btn6{top:43%;left:54.5%;width:13.7%;height:20.5%;}
[class^="wrap samboard"] .imgWrap[data-idx="9"] .btn1{top:34%;left:81%;width:3%;height:5%;}
[class^="wrap samboard"] .imgWrap[data-idx="10"] .btn1{top:20%;left:81.2%;width:3%;height:5%;}
[class^="wrap samboard"] .imgWrap[data-idx="11"] .btn1{top:15.3%;left:81.2%;width:3%;height:5%;}
[class^="wrap samboard"] .imgWrap[data-idx="12"] .btn1{top:35.8%;left:81%;width:3%;height:5%;}
[class^="wrap samboard"] .imgWrap[data-idx="13"] .btn1{top:11.5%;left:67%;width:3%;height:5%;}
[class^="wrap samboard"] .imgWrap[data-idx="14"] .btn1{top:83%;left:36.5%;width:14.5%;height:15.5%;}
[class^="wrap samboard"] .imgWrap[data-idx="15"] .btn1{top:5%;left:26.5%;width:6.5%;height:6%;}
[class^="wrap samboard"] .btnText{top:0;left:0;height:3.8vw;padding:0.6% 1%;border:4px solid #333;font-size:1.8vw;font-weight:700;color:#fff;}
[class^="wrap samboard"] .btnMove.btnText{background:#ffda58;border:4px solid #ff6c00;border-radius:10px;color:#333;}
[class^="wrap samboard"] .btnMove.btnText:first-child{left:15%;}
[class^="wrap samboard"] .imgWrap[data-idx="2"] .btnMove.btnText,
[class^="wrap samboard"] .imgWrap[data-idx="15"] .btnMove.btnText{border:4px dashed red;}
.samboardE .imgWrap[data-idx="1"] .btn1{top:64.5%;left:42%;width:9%;height:4%;}
.samboardM .imgWrap[data-idx="1"] .btn1{top:58%;left:42%;width:9%;height:4%;}

/* PERIOD */
.period{padding:8.3% 2.7% 5.6% 2.7%;background:url(../images/bg_period.png) 0 0 no-repeat;background-size:100% 100%;}
.period .linkWrap{gap:0 6%;padding:7.5% 14.5% 0 14%;}
.period .linkList{gap:1.36vw;}
.period .linkList .btn{padding:0.65vw 1.4vw;background:#6fb9d8;line-height:1.6;}
.period .linkList .btn span{font-size:1.35vw;font-weight:500;color:#393d49;line-height:1.2;letter-spacing:-0.055em;}

/* PDF */
.pdf{padding:8.3% 2.7% 5.6% 2.7%;background:url(../images/bg_pdf.jpg) 0 0 no-repeat;background-size:100% 100%;}
.pdf .linkList .btn{background:#7566cb;}
.pdf .linkList .btn span{font:inherit;color:#ffef80;}

/* SCIENCELAB */
.sciencelab{padding:8.3% 2.7% 5.6% 2.7%;background:url(../images/bg_mh_sciencelab.jpg) 0 0 no-repeat;background-size:100% 100%;}
.sciencelab .linkItem:nth-child(1) .linkList .btn{background:#15bec5;}
.sciencelab .linkItem:nth-child(2) .linkList .btn{padding:1vw 0.8vw;background:#29b35e;}