@charset "utf-8";

body {background-color: #a5bac1;}
#wrap {position:absolute; display:inline-block; width:1920px; height:1016px; font-family:'Noto Sans KR'; font-weight:400;}

#wrap.timer_page {padding-top: 74px; background: #a5bac1;}
#container {position: relative; height: 100%; background-color: #eaeff1;}
.sw_page #container{background-color:#dce1f0;}
.timer_tab {position: absolute; left: 0px; width:100%; height:74px; top: -74px; overflow: hidden; background-color:#e0e4ef; padding-top:25px;}
.timer_tab li {float: left; position:relative; padding-right:32px; margin-left:30px}
.timer_tab li:first-child{margin-left:103px;}
.timer_tab li:last-child{padding-right:0;}
.timer_tab li a {display: block; width: 174px; height: 43px; line-height: 43px; background: url('../img/help/toolsTimertapOff1.png') no-repeat; color: #878c9a; font-size: 0; font-weight: 900; text-align: center;}
.timer_tab li:nth-child(2) a {width:202px; background-image: url('../img/help/toolsTimertapOff2.png');}
.timer_tab li:nth-child(3) a {width:146px; background-image: url('../img/help/toolsTimertapOff3.png');}
.timer_tab li::after{content:''; display:block; position:absolute; top:9px; right:0; width:2px; height:30px; background-color: #878c9a;}
.timer_tab li a.on {background-image: url('../img/help/toolsTimertapOn1.png'); color: #282828;}
.timer_tab li:last-child::after{display:none;}
.timer_tab li:nth-child(2) a.on {background-image: url('../img/help/toolsTimertapOn2.png'); color: #282828;}
.timer_tab li:nth-child(3) a.on {background-image: url('../img/help/toolsTimertapOn3.png'); color: #282828;}

.timer_frame {position: absolute; left: 131px; top: 162px; width: 1124px; height: 531px; border:4px solid #625876; background-color:#fcfdff; box-shadow:0px 8px 48px 2px rgba(145, 168, 216, 0.4);}
.timer_frame .num_box {position: absolute; left: 30px; top: 115px; width: 510px; height: 300px; text-align: center;}
.timer_frame .num_box.sec {left: auto; right: 10px;}
.timer_frame .num_box .num {width: 100%; height: 300px; color: #423a51; font-family: "paybooc"; font-size: 300px; font-weight:700; letter-spacing: 23px;}
/*.timer_frame .num_box .txt {position: absolute; right: 50px; bottom: 45px; color: #7599f4; font-size: 0; font-weight: 900;}*/
.timer_frame .dot{position:absolute; top:50%; left:50%; width:36px; height:170px; margin-top:-85px; margin-left:-18px;}
.timer_frame .dot:before{position:absolute; top:0; left:50%; content:''; display:block; width:36px; height:36px; border-radius: 50%; background:#423a51; margin-left:-18px;}
.timer_frame .dot:after{position:absolute; bottom:0; left:50%; content:''; display:block; width:36px; height:36px; border-radius: 50%;background:#423a51; margin-left:-18px;}

.timer_setting {position: absolute; right: 65px; top: 135px;}
.timer_setting .txt {width: 330px; height: 46px; /* text 렌더링과정에서 요소가 왼쪽으로 덜컹하는 현상으로 인해 width,height 고정 */ margin-bottom: 10px; color: #444; font-size: 41px; font-weight: 900; text-shadow: 0 1px 4px rgba(11,100,74,0.15);}
.timer_setting .btn_list {overflow: hidden;}
.timer_setting .btn_list li {float: left; margin-right: 10px; margin-bottom: 10px;}
.timer_setting .btn_list li:nth-child(2n) {margin-right: 0;}
.timer_setting .btn_list li:nth-child(2n+1) {clear: both;}
.timer_setting .btn_list li:nth-last-child(-n+2) {margin-bottom: 0;}
.timer_setting .btn_list li button {width: 156px; height: 157px; background: url('../img/help/toolsTimeBtn1.png'); font-size: 0; cursor: pointer;}
.timer_setting .btn_list li:nth-child(2) button {background-image: url('../img/help/toolsTimeBtn2.png');}
.timer_setting .btn_list li:nth-child(3) button {background-image: url('../img/help/toolsTimeBtn3.png');}
.timer_setting .btn_list li:nth-child(4) button {background-image: url('../img/help/toolsTimeBtn4.png');}
.timer_setting .input_set {position: relative; left: 5px; overflow: hidden; width: 335px; height: 62px; line-height: 60px; margin-top: 17px; margin-left: -9px; padding: 0 26px 0 25px; background-color: #7186a9; border:1px solid #2d3550; border-radius: 30px; color: #fff; font-family: 'paybooc';}
.timer_setting .input_set .tit {color: #fff; font-size: 36px; font-weight: 900;}
.timer_setting .input_set .input_box {float: right; font-size: 38px;}
.timer_setting .input_set .input_box input {width: 50px; margin-top: 9px; color: #fff; font-family: "paybooc"; font-weight: 900;}
.timer_set_start {position: absolute; right: 65px; bottom: 65px; width: 323px; font-size: 0;}
.timer_set_start .start {width: 323px; height: 125px; margin-bottom: 20px; background: url('../img/help/toolsTimerStart.png');}
.timer_set_start .start.stop {background-image: url('../img/help/toolsTimerStop.png');}
.timer_set_start .reset {width: 154px; height: 84px; margin-right: 14px; background: url('../img/help/toolsTimerReset.png');}
.timer_set_start .sizer {width: 154px; height: 84px; background: url('../img/help/toolsTimerSizer.png');}

.timer_set_popup {position: absolute; left: 0; top: 0; bottom: 0; right: 0; z-index: 2; /*background-color: rgba(0,0,0,0.65);*/ font-size: 0; text-align: center;}
.timer_set_popup .inner_box {position: absolute; left: 50%; top: 13px; z-index: 9999; width: 1115px; height: 208px; line-height: 208px; margin-left: -552px; padding-left: 108px; background: url('../img/help/toolsTimerSetPop.png'); text-align: left;}
.timer_set_popup p {font-size: 58px; font-weight: 900;}
.timer_set_popup.long p {font-size: 50px;}
.timer_set_popup button {position: absolute; right: 55px; top: 50%; width: 222px; height: 88px; margin-top: -44px; background: url('../img/help/toolsSetOk.png'); font-size: 0;}

.timer_end_popup {position: absolute; left: 0; top: 0; bottom: 0; right: 0; z-index: 2; background-color: rgba(0,0,0,0.65); font-size: 0; text-align: center;}
.timer_end_popup:after {content: ''; display: inline-block; height: 100%; vertical-align: middle;}
.timer_end_popup .inner_box {display: inline-block; position: relative; width: 1122px; height: 715px; background: url('../img/help/toolsTimerEndPop.png'); vertical-align: middle;}
.timer_end_popup .inner_box p {width: 900px; margin: 365px auto 0; font-family:'NanumBarunGothic'; font-size: 95px; font-weight: 700; word-break: keep-all;}
.timer_end_popup .inner_box button {position: absolute; right: 97px; top: 89px; width: 50px; height: 50px; background: url('../img/help/toolsPopClose.png');}

.timer_sound_set {position: absolute; left: 77px; bottom: 70px; padding-left: 25px;}
.timer_sound_set .all_btn {display: block; position: absolute; z-index: 2; left: 0; top: 50%; width: 51px; height: 37px; margin-top: -18px; background: url('../img/help/toolsSound.png') no-repeat 0 50%;}
.timer_sound_set .all_btn.off {background-image: url('../img/help/toolsSoundOff.png');}
.timer_sound_set .chk_each_box {height: 42px; line-height: 42px; padding-left: 56px; padding-right: 38px;}
.timer_sound_set .chk_each_box .chk_each {display: inline-block; margin-right: 25px; vertical-align: middle; }
.timer_sound_set .chk_each_box .chk_each:last-child {margin-right: 0 !important;}
.timer_sound_set .chk_each label {position: relative; z-index: 1; padding-left: 35px; color:#3a3939; font-size: 26px; font-weight: 900; cursor: pointer;}
.timer_sound_set .chk_each .vchkbox {display: block; position: absolute; left: 0; top: 5px; z-index: 1; width: 30px; height: 30px; background-color: #675d79;}
.timer_sound_set .chk_each input {position:absolute; overflow:hidden; width:1px; height:1px; margin: -1px; clip: rect(0,0,0,0); font-size:1px;}
.timer_sound_set .chk_each input:checked + label .vchkbox {background-image: url('../img/help/toolsChk.png'); background-position: center; background-repeat: no-repeat;}
/* .chk_each input:focus + label .vchkbox {outline:1px dotted #000; outline:-webkit-focus-ring-color auto 5px;} */

.timer_end_alert {position: absolute; right: 65px; top: 18px; overflow: hidden; width: 610px; font-size: 28px;}
.timer_end_alert .tit {display: block; float: left; width: 168px; height: 44px; line-height: 40px; background-color: #fff; color: #454449; border:2px solid #a89fc7; font-weight: 700; text-align: center; text-shadow: 0 1px 0 rgba(0,0,0,0.7); margin-right:3px;}
.timer_end_alert .txt {width: 438px; height: 44px; color: #fff; background-color:#5e556e; font-family: inherit; font-weight: 300;}

/* timer pie */
.timer_frame_pie {position: absolute; left: 320px; top: 70px; width: 738px; height: 738px; background: url('../img/help/toolsPieFrame.png');}
.timer_frame_pie .hand {position: absolute; left: 337px; top: 142px; z-index: 2; width: 61px; height: 257px; background: url('../img/help/toolsPieHand.png'); -webkit-transform: rotate(0deg); transform: rotate(0deg); -webkit-transform-origin: 50% 227px; transform-origin: 50% 227px;}

.circle_fill_ui {display: inline-block; position: absolute; left: 50%; top: 50%; z-index: 1; overflow: hidden; width: 454px; height: 454px; margin-left: -227px; margin-top: -227px; border-radius: 50%;}
.circle_fill_ui .circle_con {position: relative; z-index: 2; height: 100%; background-color: #fff; border-radius: 50%; font-size: 0; text-align: center;}
.circle_fill_ui .circle_con:after {content: ''; display: inline-block; height: 100%; vertical-align: middle;}
.circle_fill_ui .circle_con .in {display: inline-block; font-size: 14px; vertical-align: middle;}
.circle_fill_ui .circle_con .in .type {display: block; margin-bottom: 1px; font-size: 13px;}
.circle_fill_ui .circle_con .in .unit_num {display: block; color: #536cd9; font-family: "Roboto", "Noto Sans KR"; font-weight: 500;}
.circle_fill_ui .circle_con .in .unit_num .unit {display: block; font-size: 12px;}
.circle_fill_ui .half {display: block; position: absolute; right: 0; top: 0; z-index: 1; overflow: hidden; width: 50%; height: 100%;}
.circle_fill_ui .half .fill {display: block; position: absolute; right: 100%; top: 50%; width: 100%; height: 100%; margin-top: -100%; background-color: #ff4569; transform: rotate(0deg); transform-origin: right center;}
.circle_fill_ui .half.two {right: calc(50% - 1px);}
.circle_fill_ui .half.two .fill {right: auto; left: 100%; transform: rotate(0deg); transform-origin: left center;}

/* timer analog */
.timer_frame_analog {position: absolute; left: 249px; top: -3px; width: 874px; height: 874px; background: url('../img/help/toolsClockFrame.png');}
.timer_frame_analog .grad {position: absolute; left: 50%; top: 50%; z-index: 2; width: 713px; height: 713px; margin-left: -356.5px; margin-top: -356.5px; background: url('../img/help/toolsClockGrad.png');}
.timer_frame_analog .hand_box {position: absolute; left: 50%; top: 50%; z-index: 2; width: 80px; height: 80px; margin-left: -40px; margin-top: -40px;}
.timer_frame_analog .hand {position: absolute; left: 351px; top: 183px; z-index: 2; width: 110px; height: 266px; background: url('../img/help/toolsPieHand.png'); -webkit-transform: rotate(0deg); transform: rotate(0deg); -webkit-transform-origin: 50% 210px; transform-origin: 50% 210px;}
.timer_frame_analog .hand_box .center {position: absolute; left: 50%; top: 50%; z-index: 4; width: 29px; height: 29px; margin-left: -14.5px; margin-top: -14.5px; background: url('../img/help/toolsClockCen.png');}
.timer_frame_analog .hand1_1, .timer_frame_analog .hand2_1 {position: absolute; left: 50%; bottom: 50%; z-index: 2; width: 23px; height: 156px; margin-left: -13px; margin-bottom: 20px; background: url('../img/help/toolsClockHand1_1.png') no-repeat; transform-origin: 50% 176px;}
.timer_frame_analog .hand2_1 {background-image: url('../img/help/toolsClockHand2_1.png');}
.timer_frame_analog .hand1_2, .timer_frame_analog .hand2_2 {position: absolute; left: 50%; bottom: 50%; width: 18px; height: 276px; margin-left: -10px; margin-bottom: 20px; background: url('../img/help/toolsClockHand1_2.png') no-repeat; transform-origin: 50% 296px;}
.timer_frame_analog .hand2_2 {z-index: 3; background-image: url('../img/help/toolsClockHand2_2.png');}
.timer_frame_analog .hand3, .timer_frame_analog .hand3_2 {position: absolute; left: 50%; bottom: 50%; width: 8px; height: 263px; margin-left: -4px; margin-bottom: 20px; background: url('../img/help/toolsClockHand1_3.png') no-repeat; transform-origin: 50% 283px;}
.timer_frame_analog .hand3_2 {background-image: url('../img/help/toolsClockHand2_3.png');}

.timer_frame_analog .circle_fill_ui {width: 658px; height: 658px; margin-left: -329px; margin-top: -329px;}
.timer_frame_analog .circle_fill_ui .half .fill {background-color: rgba(249,118,100,0.75);}
/* .timer_frame_analog .circle_fill_ui.second .half .fill {background-color: rgba(249,118,100,0.75);} */

/* stopwatch */
#wrap.sw_page {background: #ececec;}
.sw_title_area {height: 190px; text-align: center;}
.sw_title_area:after {content: ''; display: inline-block; height: 100%; vertical-align: middle;}
.sw_title_area .in {display: inline-block; position: relative; vertical-align: middle;}
.sw_title_area .in:before {content: ''; display: block; position: absolute; left: -100px; top: 50%; width: 146px; height: 168px; margin-top: -88px; background: url('../img/help/toolsSwWatch.png');}
.sw_title_area input {width: 940px; height: 78px; margin-right: 45px; background-color: #72768d; color: #cad3de; font-size: 48px; font-weight: 400;}
.sw_title_area button {width: 154px; height: 84px; background: url('../img/help/toolsTimerSizer.png'); font-size: 0; vertical-align: middle;}

.sw_watch_area {overflow: hidden; padding: 21px 60px; background-color: #ffffff; box-shadow: 0px 12px 30px 0px rgba(145, 168, 216, 0.47);}
.sw_watch_area .left {float: left; width: 1160px;}
.sw_watch_frame {position: relative; overflow: hidden; height: 434px; margin-bottom: 55px; padding-top: 95px; color: #fff; font-family: "tttogether"; font-size: 285px; text-align: center;}
.sw_watch_frame .in {position: relative; z-index: 2; font-size: 0;}
.sw_watch_frame input {display: inline-block; width: 430px; height: 290px; color: #423a51; font-family: "paybooc"; font-size: 290px; font-weight:900; vertical-align: top; cursor: default;}
.sw_watch_frame .dot {display:inline-block; margin: 0 37px; width:36px; font-family: "paybooc"; font-weight:900; vertical-align: top; font-size:0; height:290px;}
.sw_watch_frame .dot:before{position:absolute; top:50%; left:50%; content:''; display:block; width:36px; height:36px; border-radius: 50%; background:#423a51;margin-top:-85px; margin-left:-18px;}
.sw_watch_frame .dot:after{position:absolute; top:50%; left:50%; content:''; display:block; width:36px; height:36px; border-radius: 50%;background:#423a51;margin-top:49px; margin-left:-18px;}
.timer_set_start2 {font-size: 0; text-align: center;}
.timer_set_start2 .start {width: 343px; height: 125px; margin-right: 50px; background: url('../img/help/toolsSwStart.png');}
.timer_set_start2 .start.stop {background-image: url('../img/help/toolsSwStop.png');}
.timer_set_start2 .record {width: 343px; height: 125px; margin-right: 50px; background: url('../img/help/toolsSwRecord.png');}
.timer_set_start2 .reset {width: 230px; height: 125px; background: url('../img/help/toolsSwReset.png');}
.timer_set_start2 .sizer {display: none; width: 154px; height: 84px; background: url('../img/help/toolsTimerSizer.png');}

.sw_watch_area .right {float: right; width: 594px; height: 640px; padding: 28px 20px 28px 42px; border:1px solid #6c637f; border-radius:1px;}

.sw_watch_area .record_list {width: 475px !important; height: 550px !important;}
.sw_watch_area .record_list li {display: table; width: 100%; height: 108px; background: url('../img/help/toolsSwborderBg.png') 0 0 repeat-y; border-collapse: collapse; table-layout: fixed;}
.sw_watch_area .record_list .num {display: table-cell; width: 140px; padding-left: 7px; color: #72768d;  font-family:"paybooc"; font-size: 64px; font-weight: 900; vertical-align: middle;}
.sw_watch_area .record_list .record {display: table-cell; color: #454855; font-family:"paybooc"; font-size: 50px; font-weight: 900; vertical-align: middle;}
.sw_watch_area .record_list .btn_cell {display: table-cell; width: 50px; text-align: center; vertical-align: middle;}
.sw_watch_area .record_list button {width: 38px; height: 37px; background: url('../img/help/toolsSwRcdRemove.png'); font-size: 0;}

.sw_watch_area .slimScrollDiv {overflow: visible !important; height: 550px !important;}
.sw_watch_area .slimScrollBar {right: 10px !important; width: 14px !important;border-radius:1px !important; background-color: #b5adc0 !important; opacity: 1 !important; box-shadow: 0 2px 2px rgba(0,0,0,0.55);}
.sw_watch_area .slimScrollRail {right: 11px !important; width: 12px !important; background-color: #787085 !important; opacity: 1 !important;}
.sw_page .timer_sound_set .all_btn {width: 75px; height: 75px; margin-top: -32px; background: url('../img/help/toolsSound2.png') no-repeat 0 50%;}
.sw_page .timer_sound_set .all_btn.off {background-image: url('../img/help/toolsSoundOff2.png');}
/* drawing */
#wrap.draw {background: url('../img/help/toolsDrawBg.png');}
#wrap.draw #container {background-color: transparent;}

.draw_tit {line-height: 270px; color: #414141; font-size: 105px; font-weight: 900; text-align: center;}
.draw_tit .ico {display: none;}
.draw_tit:before{content:''; display:inline-block; width:32px; height:30px; background: url('../img/help/toolsDrawMark.png') no-repeat 0 0; margin-right:5px; position:relative; top:-75px;}
.draw_tit:after{content:''; display:inline-block; width:32px; height:30px; background: url('../img/help/toolsDrawMark.png') no-repeat 0 0; margin-left:5px; position:relative; top:30px;}
h2.draw_tit:before{vertical-align: 60px;}
.draw_input_box {width: 100%; max-width: 1200px; margin: 95px auto 175px; text-align: center;}
.draw_input_box .setting {display: inline-block;}
.draw_input_box .setting li {margin-bottom: 68px; color: #2e2e2e; font-size: 62px; font-weight: 900;}
.draw_input_box .setting li:last-child {margin-bottom: 0;}
.draw_input_box .setting h2 {display: inline-block; width: 560px; padding-left: 40px; background: url('../img/help/toolsDrawMark.png') 0 top no-repeat; color: #2e2e2e; font-size: 72px; text-align:left; font-weight: 900; vertical-align: middle;}
.draw_input_box .setting input {width: 198px; height: 82px; background-color: #72768d; border-radius: 40px; font-family: "paybooc"; font-size: 36px; font-weight: 900; box-shadow: inset -1px 3px 0px 0px rgba(0, 0, 0, 0.25); color:#d5d8db;}
.draw_input_box .setting .txt {display: inline-block; vertical-align: -9px;}
.draw_input_box .setting .wave {display: inline-block; width: 22px; height: 9px; background: url('../img/help/toolsDrawWave.png') center no-repeat; vertical-align: 5px;}
.draw_input_box .setting .li02 h2 {width: 420px; padding-left: 90px; padding-top: 5px; background-image: none; color: #5a5a5a; font-size: 50px;}
.draw_input_box .setting .li02 input {width: 216px; height: 70px; font-size: 30px;}
.draw_input_box .setting .li02 input::placeholder {color: #d5d8db;}
.draw_input_box .setting .li02 input::-ms-input-placeholder {color: #d5d8db;}
.draw_input_box .setting .li02 input::-webkit-input-placeholder {color: #d5d8db;}

.draw_btn_box {text-align: center;}
.draw_btn_box.mt {margin-top: 105px;}
.draw_btn_box .btn {width: 343px; height: 125px; margin-right: 45px; background: url('../img/help/toolsDrawBtn1.png'); font-size: 0;}
.draw_btn_box .btn.two {background: url('../img/help/toolsDrawBtn2.png');}
.draw_btn_box .btn.continue {background: url('../img/help/toolsDrawContinue.png');}
.draw_btn_box .btn.again {background: url('../img/help/toolsDrawAgain.png');}
.draw_btn_box .btn:last-child {margin-right: 0 !important;}

.draw_result_page {position: relative; width: 1620px; height: 100%; margin: 0 auto;}
.draw_result_page .draw_tit {font-size: 80px;}
.start_btn_box {margin-top: 270px; text-align: center;}
.start_btn_box .btn {width: 343px; height: 125px; background: url('../img/help/toolsDrawStart.png'); font-size: 0;}
.draw_number_status {position: absolute; right: 0; top: 295px;}
.draw_number_status li {overflow: hidden; width: 336px; height: 74px; line-height: 72px; margin-bottom: 12px; background-color: #a8b5d2; color: #fff; border:1px solid #7177a5;}
.draw_number_status li:last-child {margin-bottom: 0;}
.draw_number_status .tit {display: block; float: left; width: 248px; padding-left: 25px; font-size: 40px; font-weight: 900; text-shadow: 0 2px 5px rgba(87,109,156,0.9);}
.draw_number_status .num {display: block; float: left; width: 86px; padding-left: 10px; background-color: #505473; font-family: "paybooc"; font-size: 45px; font-weight: 900; text-shadow: 0 2px 6px rgba(4,39,57,0.68);}
.draw_reset_btn {position: absolute; right: -19px; bottom: 60px; width: 163px; height: 162px; background: url('../img/help/toolsDrawReset.png'); font-size: 0;}
.draw_result {margin-top: 120px; font-size: 0; text-align: center;}
.draw_result .num_board .num {display: inline-block; width: 305px; height: 305px; line-height: 285px; margin-right: 40px; background-color: #fff; border:1px solid #6c6577; border-radius: 1px; color: #545252; font-family: "paybooc"; font-size: 215px; box-shadow: 0px 4px 25px 0px rgba(145, 168, 216, 0.35);}
.draw_result .num_board .num:last-child {margin-right: 0;}

/* score */
.score_race_page {height: 100%; background: url('../img/help/toolsScoreBg2.jpg');}
.score_race_page .top {position: absolute; left: 0; top: 0; overflow: hidden; width: 100%; z-index: 2; padding: 42px 0 48px; text-align: center;}
.score_race_page .top .each {display: inline-block; position: relative; margin-right: 130px;}
.score_race_page .top .each:last-child {margin-right: 0;}
.score_race_page .top .tit {display: block; position: absolute; left: 0; top: 0px; width: 158px; height: 53px; line-height: 53px; background-color: #0573a0; color: #fff; font-size: 26px; font-weight: 700; box-shadow: inset 0 -3px #00476c; text-shadow: 0 2px 3px rgba(4,40,59,0.6); text-align: center;}
.score_race_page .top .txt {display: block; width: 470px; height: 52px; line-height: 52px; background-color: #5893a3; color: #bfe6ee; font-family: "paybooc"; font-size: 23px; font-weight: 900; text-shadow: 0 2px 3px rgba(4,40,59,0.4); text-align: center;}
.score_race_page .top .txt::placeholder {color: #bfe6ee; text-shadow: none;}
.score_race_page .top .txt::-ms-placeholder {color: #bfe6ee;}
.score_race_page .top .txt::-webkit-placeholder {color: #bfe6ee;}
.score_race_page .top .each:first-child .txt {font-size: 26px; font-weight: 700;}
.score_race_page .top .each:nth-child(2) .txt {width: 300px;}
.score_race_page .top .each:nth-child(3) .txt {width: 555px;}
.score_race_page .top .tit + .txt {padding-left: 150px;}
.score_race_page .top input:-webkit-autofill,
.score_race_page .top input:-webkit-autofill:hover, 
.score_race_page .top input:-webkit-autofill:focus, 
.score_race_page .top input:-webkit-autofill:active {
    background-color: #2cb0c3;
}
.score_reset_btn {position: absolute; right: 40px; top: 10px; width: 80px; height: 80px; background: url('../img/help/toolsDrawReset.png') center/80px no-repeat; font-size: 0;}

.score_start_page {height: 100%; padding-top: 50px; background: url('../img/help/toolsScoreBg.jpg');}
.score_start_page .tit {margin-bottom: 150px; color: #3c3c3c; font-size: 84px; font-weight: 900; text-align: center;}
.score_start_page .tit:before{content:''; display:inline-block; width:32px; height:30px; background: url('../img/help/toolsDrawMark.png') no-repeat 0 0; margin-right:5px; position:relative; top:-60px;}
.score_start_page .tit:after{content:''; display:inline-block; width:32px; height:30px; background: url('../img/help/toolsDrawMark.png') no-repeat 0 0; margin-left:5px; position:relative; top:30px;}

.score_input_box {margin-left: 420px;}
.score_input_box li {margin-bottom: 50px;}
.score_input_box li:last-child {margin-bottom: 0;}
.score_input_box .lbl {display: block; float: left; width: 485px; padding-left: 40px; padding-top: 18px; background: url(../img/help/toolsDrawMark.png) 0 23px no-repeat; color: #3c3c3c;  font-size: 64px; font-weight: 900;}
.score_input_box input {position: relative; top: 15px; width: 255px; height: 105px; background-color: #72768d; border-radius: 52px; color: #e9ebee; font-family: "paybooc"; font-size: 62px; font-weight: 900; box-shadow: inset 1px 3px rgba(0,0,0,0.25); letter-spacing: 2px;}
.score_input_box input::placeholder {color: rgba(255,255,255,0.5);}
.draw_input_box .setting .li02 input::placeholder {color: #aeb1be;}
.score_input_box input::-ms-input-placeholder {color:#aeb1be;}
.score_input_box input::-webkit-input-placeholder {color:#aeb1be;}
.score_unit_box {position: absolute; right: 146px; top: 306px; width:482px; height:316px; padding:20px 70px; border:1px solid #867e95; border-radius: 1px;}
.score_unit_box:before{content:'점수 단위'; display:block; text-align:center; font-size:39px; color:#535565; margin-bottom:20px; font-weight:700;}
.score_unit_box li {float: left; width: 145px; margin-bottom: 25px; margin-right: 40px; padding-left: 45px; background: url('../img/help/toolsScorePlus1.png') 0 center no-repeat;}
.score_unit_box li:nth-child(2n) {margin-right: 0;}
.score_unit_box li:nth-child(2n+1) {clear: both;}
.score_unit_box li:nth-last-child(-n+2) {margin-bottom: 0; background-image: url('../img/help/toolsScoreMinus1.png');}
.score_unit_box input {width: 98px; height: 74px; background-color: #72768d; color: #e9ebee; font-family: "paybooc"; font-size: 43px; font-weight: 900; box-shadow: inset 1px 3px #52566d;}
.score_btn_box {margin-top: 230px; text-align: center;}
.score_btn_box button {width: 322px; height: 125px; background: url('../img/help/toolsScoreOk.png'); font-size: 0;}

.lane_area {width: 1788px; height: 100%; margin: 0 auto;}
.lane_area .each {position: relative; float: left; width: 10%; height: 100%; padding-top: 220px; padding-bottom: 112px;}
.lane_area .real_lane {position: relative; height: 100%;}
.charactor_box {position: absolute; left: 50%; bottom: 0; width: 100%; height: 200px; margin-left: -85px; margin-bottom: 0px; font-size: 0; text-align: center; vertical-align: bottom;}
.charactor_box:after {content: ''; display: inline-block; height: 100%; vertical-align: middle;}
.charactor_box .score {position: absolute; left: 0; top: 122px; z-index: 1; width: 100%; padding-left: 5px;/* 이미지 수정 전 임시 */ color: #fff; font-family: "paybooc"; font-size: 34px; text-align: center;}
.charactor_box.full .score {bottom: 30px;}
.charactor_box img {vertical-align: bottom;}
.charactor_box .preview {margin-left: -5px; opacity: 0.7;}

.lane_area .name_box {position: absolute; left: 50%; bottom: 0; z-index: 2; width: 144px; height: 104px; margin-left: -72px; padding: 17px 5px; background-color: #275e84; border-radius: 15px 15px 0 0;}
.lane_area .name_box textarea {width: 100%; background-color: transparent; color: #fff; font-family: "paybooc"; font-size: 26px; font-weight: 900; text-align: center;}
.lane_area .name_box .btn_box {position: absolute; right: 0; top: 0; margin-right: -27px; margin-top: -27px;}
.lane_area .name_box .plus_btn {width: 54px; height: 55px; background: url('../img/help/toolsScorePlus2.png'); font-size: 0;}
.eval_tooltip {display: none; position: absolute; right: -57px; bottom: 50px; z-index: 1; width: 170px; height: 274px; padding: 12px 0 42px; background: url('../img/help/toolsScoreEvalBg.png') no-repeat; font-size: 0; text-align: center;}
.eval_tooltip:after {content: ''; display: inline-block; height: 100%; vertical-align: middle;}
.eval_tooltip.min {height: 162px; background-image: url('../img/help/toolsScoreEvalBg2.png');}
/* .lane_area .each:nth-child(10) .eval_tooltip {right: -50px;} */
.eval_tooltip_list {display: inline-block; vertical-align: middle;}
.eval_tooltip_list li {}
/* .eval_tooltip_list li:last-child {margin-bottom: 0;} */
.eval_tooltip_list button {position: relative; width: 143px; height: 56px; line-height: 56px; padding-right: 17px; border-radius: 28px; color: #213651; font-family: "HeummNemo_Dream182"; font-size: 35px; font-weight: 400; text-shadow: 0 2px 5px rgba(0,0,0,0.5); text-align: right;}
.eval_tooltip_list button:before {content: ''; display: none; position: absolute; left: 0; top: 50%; width: 56px; height: 56px; margin-top: -28px; background: url('../img/help/toolsScoreGood.png');}
.eval_tooltip_list button:hover {background-color: #356295; color:#fff; text-shadow: initial;}
.eval_tooltip_list button:hover:before {display: block;}
.eval_tooltip_list li:nth-last-child(-n+2) button:before {background-image: url('../img/help/toolsScoreBad.png');}

.group_win_popup {position: absolute; left: 0; top: 0; bottom: 0; right: 0; z-index: 2; background-color: rgba(0,0,0,0.35); font-size: 0; text-align: center;}
.group_win_popup:after {content: ''; display: inline-block; height: 100%; vertical-align: middle;}
.group_win_popup .inner_box {display: inline-block; position: relative; width: 1167px; height: 739px; padding: 190px 60px; background: url('../img/help/toolsScoreWinPop.png'); vertical-align: middle;}
.group_win_popup .inner_box:before {content: ''; display: block; position: absolute; left: 50%; top: -154px; width: 476px; height: 339px; margin-left: -238px; background: url('../img/help/toolsScoreWin.png');}
.group_win_popup .inner_box .gname {display: inline-block; width: 750px; height: 118px; line-height: 118px; margin-bottom: 15px; background-color: #569df6; color: #fff; font-size: 68px; font-weight: 900; border-radius: 59px; box-shadow: inset 1px 4px rgba(0,0,0,0.3);}
.group_win_popup .inner_box .txt1 {display: block; color: #351313; font-weight:900; font-size: 114px;}
.group_win_popup .inner_box .txt2 {display: inline-block; width: 75%; min-height: 200px; margin-top: 15px; line-height: 1.2; color: #64403e; font-size: 72px; font-weight: 900; letter-spacing: -1px; text-shadow: 0 2px 3px rgba(30,20,14,0.4);}
.group_win_popup .inner_box button {position: absolute; right: 66px; top: 59px; width: 52px; height: 52px; background: url('../img/help/toolsScorePopClose.png');}
.group_win_popup .inner_box:after {content: ''; display: block; position: absolute; left: 70px; top: 288px; width: 231px; height: 217px; background: url('../img/help/toolsScoreCharWin.png');}

/* dark */
.dark_page {background-color: #000;}
.dark_page button {position: absolute; right: 40px; top: 45px;  width: 49px; height: 49px; background: url('../img/help/toolsDarkClose.png'); font-size: 0;}

/* media query */
@media all and (min-width:301px){
    #wrap.sw_page .timer_set_popup .inner_box {padding-left: 65px;}
    #wrap.sw_page .timer_set_popup p {font-size: 33px;}
}

@media all and (max-width:300px){
    #wrap.timer_page {position: static; width: 300px; height: auto; padding-top: 0; background-color: #3b3449;}
    #container {background-color: transparent;}
    .timer_tab, .timer_frame .num_box .txt, .timer_setting, .timer_sound_set, .timer_end_alert {display: none;}

    .timer_frame {position: relative; left: auto; top: auto; width: 266px; height: 82px; background: none; margin:15px auto; border:1px solid #9f97af; border-radius: 1px; box-shadow: initial;}
    .timer_frame .num_box {left: 18px; top: 0; width: 100px; height: 80px;}
    .timer_frame .num_box.sec {right: 12px;}
    .timer_frame .num_box .num {height: 80px; color: #9f97af; font-family: "paybooc"; font-weight:300; font-size: 68px; letter-spacing: 5px;}
    .timer_frame .dot {position: absolute; top: 50%; left: 50%; width: 8px; height: 36px; margin-top: -18px; margin-left: -4px;}
    .timer_frame .dot:before{position:absolute; top:0; left:50%; content:''; display:block; width:8px; height:8px; border-radius: 50%; background:#9f97af; margin-left:-4px;}
    .timer_frame .dot:after{position:absolute; bottom:0; left:50%; content:''; display:block; width:8px; height:8px; border-radius: 50%;background:#9f97af; margin-left:-4px;}
    .timer_set_start {right: 0; bottom: auto; width: 100%; padding-left: 10px; padding-bottom:10px; padding-top:10px; position:relative;}
    .timer_set_start .start {width: 126px; height: 68px; margin-bottom: 0; margin-right: 7px; background: url('../img/help/toolsTimerStart2.png');}
    .timer_set_start .start.stop {background-image: url('../img/help/toolsTimerStop2.png');}
    .timer_set_start .reset {width: 68px; height: 68px; margin-right: 9px; background: url('../img/help/toolsTimerReset2.png');}
    .timer_set_start .sizer {width: 69px; height: 68px; background: url('../img/help/toolsTimerSizer2.png');}

    .timer_set_popup .inner_box {left: 10px; top: 13px; bottom: 13px; right: 10px; width: auto; height: auto; line-height: 1.3; margin-left: 0; padding: 35px 20px; background: #fff none; border: 5px solid #c2c2c2; border-radius: 7px;}
    .timer_set_popup p {font-size: 23px; text-align: center;}
    .timer_set_popup button {top: auto; bottom: 30px; right: 50%; width: 100px; height: 40px; margin-right: -50px; margin-top: 0; background-size: cover; background-repeat: no-repeat;}

    .timer_end_popup .inner_box {width: 90%; height: 90%; background: #fff; border: 5px solid #c2c2c2; border-radius: 7px;}
    .timer_end_popup .inner_box:after {content: ''; display: inline-block; height: 100%; vertical-align: middle;}
    .timer_end_popup .inner_box button {right: 18px; top: 18px; width: 20px; height: 20px; background-size: 20px;}
    .timer_end_popup .inner_box p {display: inline-block; width: 100%; margin: 0; padding: 0 20px; font-size: 23px; vertical-align: middle;}

    /* timer pie */
    #wrap.timer_page.clock {height: 350px; background-color: #3b3449;}
    .timer_frame_pie {position: static; width: 202px; height: 207px; margin: 8px auto 0; background: url('../img/help/toolsPieFrame2.png');}
    .timer_frame_pie .hand {left: 50%; top: 41px; width: 10px; height: 65px; margin-left:-5px; background: url('../img/help/toolsPieHand_m.png') center 0 no-repeat; -webkit-transform-origin: 50% 60px; transform-origin: 50% 60px;}
    .circle_fill_ui {position: relative; width: 110px; height: 110px; margin-left: -55px; margin-top: -57px;}

    #wrap.timer_page.clock .timer_setting {display: block; position: static; margin-top: -10px;}
    #wrap.timer_page.clock .timer_setting .txt, #wrap.timer_page.clock .timer_setting .btn_list {display: none;}
    .timer_setting .input_set {position: static; overflow: visible; width: 266px; height: 70px; padding:0; line-height: 1; margin: 5px auto; background-color: transparent; border:1px solid #9f97af; border-radius: 1px;}
    .timer_setting .input_set .tit {display: none;}
    .timer_setting .input_set .input_box {float: none; margin: 0 auto; font-family: "paybooc"; color:#c4bad5; font-size: 65px; font-weight:300; text-align: center;}
    .timer_setting .input_set .input_box input {overflow: visible; width: 110px; height: 67px; margin-top: 0; font-family: "paybooc"; font-size: 65px; color:#c4bad5; letter-spacing: 6px; /*text-shadow: 0 2px 4px rgba(0,0,0,0.65);*/}
    .timer_setting .input_set .input_box input:last-of-type {margin-left: 5px;}
    .timer_setting .input_set .input_box p:last-of-type {margin-left: 5px;}
    #wrap.timer_page.clock .timer_set_start {bottom: 15px;}

    /* timer analog */
    .timer_frame_analog {position: relative; left: auto; top: auto; width: 209px; height: 209px; margin: 5px auto 0; background: url('../img/help/toolsClockFrame2.png');}
    .timer_frame_analog .hand_box .center {width: 8px; height: 8px; background: url('../img/help/toolsClockCen2.png') 0 0 no-repeat; margin-left: -4px; margin-top: -4px;}
    .timer_frame_analog .grad {width: 175px; height: 175px; margin-left: -87.5px; margin-top: -87.5px; background: url('../img/help/toolsClockGrad2.png')}
    .timer_frame_analog .hand1_1, .timer_frame_analog .hand2_1 {width: 6px; height: 38px; margin-left: -3px; margin-bottom: 5px; background-image: url('../img/help/toolsClockHand1_1m.png'); transform-origin: 50% 43px;}
    .timer_frame_analog .hand2_1 {background-image: url('../img/help/toolsClockHand2_1m.png');}
    .timer_frame_analog .hand1_2, .timer_frame_analog .hand2_2 {width: 4px; height: 67px; margin-left: -2px; margin-bottom: 5px; transform-origin: 50% 72px; box-shadow: none; background: url('../img/help/toolsClockHand1_2m.png') no-repeat 0 0;}
    .timer_frame_analog .hand2_2 {background-image: url('../img/help/toolsClockHand2_2m.png');}
    .timer_frame_analog .hand3, .timer_frame_analog .hand3_2 {width: 2px; height: 66px; margin-left: -1px; margin-bottom: 5px; transform-origin: 50% 71px;background: url('../img/help/toolsClockHand1_3m.png') no-repeat 0 0;}
    .timer_frame_analog .hand3_2 {background-image: url('../img/help/toolsClockHand2_3m.png');}
    .timer_frame_analog .circle_fill_ui {width: 160px; height: 160px; margin-left: -80px; margin-top: -80px;}

    /* stopwatch */
    #wrap.sw_page {position: static; width: 300px; height: 350px; background-color: #3b3449;}
    .sw_page #container{background-color:#332c3f;}
    .sw_title_area {display: none;}
    .sw_watch_area {padding: 12px 0; background-color: transparent; box-shadow:initial;}
    .sw_watch_area .left {float: none; width: 100%; margin: 0 auto;}
    .sw_watch_frame {width: 276px; height: 96px; margin: 0 auto 7px; padding-top: 10px; background: url('../img/help/toolsSwTimerBg.png') center/cover no-repeat; border-radius: 1px; }
    .sw_watch_frame:before {display: none;}
    .sw_watch_frame input {width: 100px; height: 70px; font-size: 68px; color:#c4bad5;}
    .sw_watch_frame .dot {margin: 0 3px; font-size: 65px; height:70px; line-height:70px;  color:#c4bad5;}
    .sw_watch_frame .dot:before{display:none;}
    .sw_watch_frame .dot:after{display:none;}
    .sw_watch_area .right {float: none; width: 276px; height: 149px; margin: 5px auto 0; padding: 5px 0 5px 17px; background-color: #3b3449;}
    .sw_watch_area .record_list {width: 219px !important; height: 140px !important;}
    .sw_watch_area .record_list li {height: 45px; background-image: url('../img/help/toolsSwborderBg2.png');}
    .sw_watch_area .record_list .num {width: 65px; padding-left: 0; color: #e5e3f1; font-size: 28px;}
    .sw_watch_area .record_list .record {color: #e5e3f1; font-size: 22px;}
    .sw_watch_area .record_list .btn_cell {width: 28px;}
    .sw_watch_area .record_list button {width: 16px; height: 16px; background-size: cover; vertical-align: middle;}
    .sw_watch_area .slimScrollDiv {height: 140px !important;}
    .sw_watch_area .slimScrollBar {right: 12px !important; width: 10px !important; background-color: #b5adc0 !important; box-shadow: 0 2px 2px rgba(0,0,0.55);}
    .sw_watch_area .slimScrollRail {right: 14px !important; width: 6px !important; background-color: #787085 !important;}

    .timer_set_start2 .start {width: 81px; height: 54px; margin-right: 4px; background: url('../img/help/toolsSwStart2_m.png');}
    .timer_set_start2 .start.stop {background-image: url('../img/help/toolsSwStop2_m.png');}
    .timer_set_start2 .record {width: 81px; height: 54px; margin-right: 5px; background: url('../img/help/toolsSwRecord2.png');}
    .timer_set_start2 .reset {width: 54px; height: 54px; margin-right: 4px; background: url('../img/help/toolsTimerReset2_m.png');}
    .timer_set_start2 .sizer {display: inline; width: 56px; height: 54px; background: url('../img/help/toolsTimerSizer2_m.png');}

    #wrap.sw_page .timer_set_popup .inner_box {padding: 25px 20px;}
    #wrap.sw_page .timer_set_popup button {bottom: 20px;}
}