.contents:nth-child(1){
	background: url('../images/04/bg1.png') center bottom no-repeat;
}

.contents:nth-child(2){
	background: url('../images/04/bg2.png') center bottom no-repeat;
}

.setContent{
    position: absolute;
    top: 161px;
    right: 60px;
}

.setContent li{
	float: left;
    width: 316px;
    height: 78px;
    margin-left: 20px;
	cursor: pointer;
/*    border: 1px solid red;*/
}

/*----------------------------------------------------------------------------------*/


