@charset "utf-8";
/* 공통 */
.eventDetail {
	width: 747px;
	font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;
	position: relative;
}
.eventDetail img {vertical-align: top;}
.eventDetail input,
.eventDetail label,
.eventDetail textarea {font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}

.eventDetail #addressFindPop input[type="text"] {width:255px;height:25px;padding: 0 10px;border:1px solid #d9d9d9;float:left;}
.eventDetail #School_Search img {vertical-align:middle;}
.eventDetail a {vertical-align:top;}	
.eventDetail .examInfo table tr td .txt {vertical-align:middle;}

/* //공통 */

/* 이벤트 */
.eventDetail .cont {position:relative;}
.eventDetail .btn_wrap {position: absolute; top: 383px; left:0; width:100%; text-align:center;} 
.eventDetail .examInfo table tr th {height:auto;padding:12px 0 12px 17px;}
.eventDetail .examInfo table tr td {padding:5px 0}
.eventDetail #popApply table tbody td textarea#schAddrAdd {height:40px;padding:5px 10px}

/* 학교검색 팝업 */
.eventDetail .msgPopup {}
.eventDetail .msgPopup table.joinMember_form {width:100%; border-top:1px solid #989898; border-bottom:1px solid #989898; letter-spacing:-.06em;}
.eventDetail .msgPopup table.joinMember_form th {padding:12px 17px;border-bottom:1px solid #e1e1e1;color:#333;font:13px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;text-align:left;line-height:1.5;}
.eventDetail .msgPopup table.joinMember_form td {padding:12px 17px;border-bottom:1px solid #e1e1e1; color:#666; font:13px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;line-height:1.5;}
.eventDetail .msgPopup table.joinMember_form tr:last-child th, 
.eventDetail .msgPopup table.joinMember_form tr:last-child td {}
.eventDetail .msgPopup table.joinMember_form tr td .txt {width:340px; height:25px; padding-left:10px; border:1px solid #d9d9d9; color:#999; font:12px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }
.eventDetail .msgPopup table.joinMember_form tr td img {vertical-align:middle;}
.eventDetail .msgPopup table.joinMember_form tr td label {margin-right:25px;}
.eventDetail .msgPopup .examInfo table.joinMember_form tr th {height:auto !important;}
.eventDetail .msgPopup .inputList2 > li {margin-top:7px;}
.eventDetail .msgPopup .inputList2 > li:first-child {margin-top:0}

.eventDetail #popApply .commentT {letter-spacing:-1px; color:#222}




