@charset "utf-8";
/* 공통 */
.eventDetail {position: relative;width: 745px;font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;border: 1px #e0e0e0 solid}
.eventDetail img {vertical-align: top;}
.eventDetail input,
.eventDetail label,
.eventDetail textarea {font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}

.eventDetail #addressFindPop input[type="text"] {width:255px;height:25px;padding: 0 10px;border:1px solid #d9d9d9;float:left;}
.eventDetail #School_Search img {vertical-align:middle;}
.eventDetail a {vertical-align:top;}	
.eventDetail .examInfo table tr td .txt {vertical-align:middle;}

/* //공통 */

/* 이벤트 */
.eventDetail {}
.eventDetail .cont,
.eventDetail .cont2,
.eventDetail .cont3,
.eventDetail .cont4 {position:relative;}
.eventDetail .btn_apply {position: absolute; top: 377px; left:448px;}

.eventDetail .cont3 {padding:70px 40px 40px 40px }
.eventDetail .agree_info {border:1px #ddd solid;padding:20px 0 20px 30px;}
.eventDetail .agree_info dt {margin-bottom: 10px;font-size: 14px; color: #444; font-weight: 700;}
.eventDetail .agree_info ul li {text-indent: -8px;padding-left: 8px;line-height: 1.5em;font-size: 12px; color: #999;}
.eventDetail .agree {padding: 20px 0 30px 0;text-align: center; font-weight: 700; color: #444;}
.eventDetail .btn_wrap {text-align: center;}

/* 신청팝업 */
.eventDetail #popApply {width:550px;margin-left:-275px;top:0}
.eventDetail .msgPopup {}
.eventDetail #popApply.msgPopup .contWrap {padding:0 0 30px 0}
.eventDetail .msgPopup .examInfo {background-color: #fbfcfe;padding:20px 30px 30px 30px}
.eventDetail .msgPopup .examInfo h3 {height:auto !important; margin-bottom: 10px;font-size: 15px !important; font-weight: 700; color: #333 !important; }
.eventDetail .que_wrap {margin:10px 30px 0 30px;padding: 0 0 15px 0;border-bottom: 1px #989898 solid;}
.eventDetail .que_wrap dt {margin:10px 0 10px;font-style: 13px; font-weight: 700; color: #333333; line-height: 1.4;}
.eventDetail .que_wrap dt strong {color: #3d78d6;}
.eventDetail .que_wrap dt span {color:#888; font-weight: normal;}
.eventDetail .que_wrap dd input[type="text"],
.eventDetail .que_wrap dd textarea {width:466px;padding:6px 10px; border:1px solid #d9d9d9; color:#333; font:12px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}
.eventDetail .que_wrap dd .count {text-align: right;color:#666; font-size: 12px;}
.eventDetail .que_wrap dd .count em {color: #d85f5b;}
.eventDetail .msgPopup .btnArea {margin-top: 20px;}

/* 학교검색 팝업 */
.eventDetail .msgPopup table.joinMember_form {width:100%; border-top:1px solid #989898; border-bottom:1px solid #989898; letter-spacing:-.06em;}
.eventDetail .msgPopup table.joinMember_form th {padding:12px 17px;border-bottom:1px solid #e1e1e1;color:#333;font:13px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;text-align:left;line-height:1.5;}
.eventDetail .msgPopup table.joinMember_form td {padding:12px 17px;border-bottom:1px solid #e1e1e1; color:#666; font:13px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;line-height:1.5;}
.eventDetail .msgPopup table.joinMember_form tr:last-child th, 
.eventDetail .msgPopup table.joinMember_form tr:last-child td {}
.eventDetail .msgPopup table.joinMember_form tr td .txt {width:340px; height:25px; padding-left:10px; border:1px solid #d9d9d9; color:#999; font:12px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif; }
.eventDetail .msgPopup table.joinMember_form tr td img {vertical-align:middle;}
.eventDetail .msgPopup table.joinMember_form tr td label {margin-right:25px;}
.eventDetail .msgPopup .examInfo table.joinMember_form tr th {height:auto !important;}
.eventDetail .msgPopup .inputList2 > li {margin-top:7px;}
.eventDetail .msgPopup .inputList2 > li:first-child {margin-top:0}

/* 사연리스트 */
.eventDetail .cont4 {position:relative;padding:0 40px 40px 40px}
.eventDetail .story_list {position:relative;padding-top:40px;border-top: 1px #e6e6e6 solid;	}
.eventDetail .story_list ul {width: 105%;*zoom:1}
.eventDetail .story_list ul:after {content: ""; display: block; clear: both;}
.eventDetail .story_list li {float: left; width: 177px; height: 175px;padding:20px;background: url(../../images/event/2019/event190520/bg_paper.png) no-repeat 0 0; font-size: 12px; margin:0 8px 10px 0;}
.eventDetail .story_list li dl dt {width:159px;background: url(../../images/event/2019/event190520/icon_name.png) no-repeat 0 2px; padding: 0 0 0 18px; margin-bottom: 10px; font-weight: 700; color: #444; font-size: 14px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.eventDetail .story_list li dl dd div {height:130px;overflow-y:auto;line-height:1.5;}
.eventDetail .story_list li dl dd.uid {margin-top:10px;color: #666; text-align:right;}

/* page */
.paging {padding: 0; margin-top: 20px;}
.paging a {display: inline-block; height: 30px;border: none; padding: 0 5px; color: #888; line-height: 30px; vertical-align: middle;}
.paging a:hover, 
.paging a.on {color: #222; font-weight: 700; border: none;}
.paging a.btn:hover, 
.paging a.btn2:hover {border: none;}





