@charset "utf-8";

/* 공통 */
.eventDetail {
	font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;
	position: relative;
}
.eventDetail img {vertical-align: top;}
.eventDetail input,
.eventDetail label,
.eventDetail textarea {font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}
/* //공통 */

.eventDetail {position:relative;width: 707px;height: 561px;background: url(../../images/event/event181226/img1.jpg) 0 0 no-repeat;padding: 535px 20px 93px 20px;}
.eventDetail .evt_cont {padding:35px 45px 0}
.eventDetail  table {width:100%;}
.eventDetail  table caption {text-indent:-1000px;font-size:0;line-height:0;}
.eventDetail .schedule table {width:100%;}
.eventDetail .schedule table tbody th {padding: 12px 0;background-color: #fcf5ed;border: 1px #ead7c3 solid;color: #333;font-size: 14px;}
.eventDetail .schedule table tbody td {padding: 12px;border: 1px #ead7c3 solid;font-size: 14px;}
.eventDetail .schedule table tbody td ul li {margin-top: 5px;text-indent:-9px; padding-left:9px; line-height: 1.4em; letter-spacing:-0.065em;}
.eventDetail .schedule table tbody td ul li:first-child {margin-top: 0;}

.eventDetail .schedule .agree {margin:15px 0 25px; padding-bottom: 25px; border-bottom: 3px #ededed solid;}
.eventDetail .schedule .agree input,
.eventDetail .schedule .agree label {vertical-align:middle;margin:0}
.eventDetail .schedule .agree input {margin-right:5px;}
.eventDetail .schedule .agree label {font-weight:bold; font-size: 16px; color: #cc5656;}

.eventDetail .examInfo {margin-bottom: 20px;}
.eventDetail .examInfo table {border-bottom:none}
.eventDetail .examInfo table tbody th {height:27px;padding: 9px 0 9px 20px;background-color: #f9f9f9;border: 1px #dedee0 solid !important;color: #333;font-size: 12px;}
.eventDetail .examInfo table tbody td {position: relative;height:27px;padding: 9px;border: 1px #dedee0 solid !important;font-size: 12px;}
.eventDetail .examInfo table tbody td .sch_name {float: left; display: inline-block; height: 27px;vertical-align:middle; line-height: 27px;}
.eventDetail .examInfo table tbody td a.school_search {float: right;display: inline-block;vertical-align:middle; margin-right: 10px;}

.eventDetail .evt_cont .btn_area {text-align:center;}


