@charset "utf-8";

@font-face {
    font-family: 'Jalnan';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Jalnan.woff') format('woff'),
    url('../fonts/Jalnan.ttf') format('truetype');
}

@font-face {
    font-family: 'HeummNemo_Dream182';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/HeummNemo_Dream182.woff') format('woff'),
    url('../fonts/HeummNemo_Dream182.ttf') format('truetype');
}

@font-face {font-family:'paybooc'; font-style:normal; font-weight:300; src:local('※'), url('../fonts/payboocLight.woff');}
@font-face {font-family:'paybooc'; font-style:normal; font-weight:400; src:local('※'), url('../fonts/payboocMedium.woff');}
@font-face {font-family:'paybooc'; font-style:normal; font-weight:700; src:local('※'), url('../fonts/payboocBold.woff');}
@font-face {font-family:'paybooc'; font-style:normal; font-weight:900; src:local('※'), url('../fonts/payboocExtraBold.woff');}
@font-face {font-family:'tttogether'; font-style:normal; font-weight:400; src:local('※'), url('../fonts/tttogether.woff');}