@charset "utf-8";
@import url('../nanumgothic.css');

*{outline: none}
html,body{margin:0;padding:0;}
html {  overflow: hidden; font-family:Nanum Gothic, 나눔고딕, NanumGothic; }
/* body { -webkit-text-size-adjust : none } */ /*폰트의 사이즈를 늘어나지 않도록 한다 */
/* body{background:#033d3c;min-width:1024px;position:relative;} */
ul,li{list-style:none;margin:0;padding:0;}
select{height:22px;padding:0;}
label {text-align:left;font-weight:normal;margin-bottom:2px;margin-top:7px;}
hr {border-top: 0;width: 130px;display: block;unicode-bidi: isolate;-webkit-margin-before: 0.5em;-webkit-margin-after: 0.5em;-webkit-margin-start: auto;-webkit-margin-end: auto;overflow: hidden;border-style: inset;border-width: 1px;border-color: white;margin-top:0px;margin-bottom:0px;}

button span,.hdr_viewer section{position:relative;}
button.btn_a.blue{background:#1a4b78;}
button{background:none;border:0;cursor:pointer;margin:0;padding:0;}
button span,.hdr_viewer section{position:relative;}
button.btn_a.blue{background:#1a4b78;}
button.btn_a.green{background:#1d646f;}
button.btn_wrt {background: #fff;border-radius: 10px;border: 2px solid #fff;}
button.btn_wrt.select{background: #9ade7c}
button.ico_close {}
strong, b {font-weight: bold;}

ul,li{list-style: none;padding: 0;margin: 0}
select{height: 22px;padding: 0;}
.grid1>* {vertical-align: middle;}
.grid1 {text-align: center;margin: 5px 0;width:150px;}

.tool-select-wrap {list-style:none;}
.tool-select-wrap li {display:inline;}

.pop-window .tool-select-wrap li .btn{padding:0;border-radius:10px;background:#fff;}
.pop-window .tool-select-wrap li.active .btn{background:#9ade7c;}


.ico_wrt{display: inline-block;background: url('/images/period/pencil/img_common.png') no-repeat;width: 55px;height: 55px;}
.ico_wrt.pen1{background-position: -312px -14px}
.ico_wrt.pen2{background-position: -376px -14px}
.ico_wrt.eraser1{background-position: -308px -94px}
.ico_wrt.eraser2{background-position: -375px -94px}

.ico_colorpick{display: inline-block;background: url('/images/period/pencil/img_common.png') no-repeat -20px -87px;width: 62px;height: 62px;;}
.ico_close{display: inline-block;background: url('/images/period/pencil/img_common.png') no-repeat -476px -13px;width: 15px;height: 15px}


.colorpick_colorset {/* margin: 0 auto; */width: 85px;text-align: center;display: inline-block;}
.colorpick_colorset button{width: 23px;height: 23px;border: 2px solid #fff;border-radius: 4px;background: #fff;}
.colorpick_colorset button.green {background: #00ac00}
.colorpick_colorset button.red {background: #e02000}
.colorpick_colorset button.blue {background: #254ee9}
.colorpick_colorset button.white {background: #fff}
.colorpick_colorset button.yellow {background: #fff600}
.colorpick_colorset button.black {background: #000}
.btn_colorpick_current {width: 55px;height: 55px;display: inline-block;background: #9ade7c;border: 2px solid #fff;border-radius: 8px;}

.edit_pop {z-index:10000;cursor:pointer;border: 1px solid #fff;position: fixed;background: #cdcdcd;padding: 5px 10px;border-radius: 10px;-webkit-box-shadow:5px 5px 20px rgba(0,0,0,.6);box-shadow:5px 5px 20px rgba(0,0,0,.6);}
.edit_pop button.ico_close {position: absolute;right: 10px;top: 10px;}
.edit_pop .title {margin-bottom: 10px;display: block;cursor:move}
.edit_pop button.ico_close:disabled{opacity:.4;}
.edit_pop.type_eraser{left:20px;}
.edit_pop.type_pen1{left:10px;top:0px;}
.edit_pop.type_pen2{left:20px;}

.drag_slider:before {background: #7a7979;height: 3px;content: "";display: block;position: absolute;left: 0;top: 1px;width: 100%;}
.drag_slider .bar {position: relative;/* background: #fff; */display: block;height: 5px;border-bottom: 1px solid #5a5a5a;}
.drag_slider {position: relative;/* display: inline-block; */width: 100px;vertical-align: middle;/*     margin-left:5px; */height:10px;top:5px;}
.drag_slider_set{font-size:12px;text-align:left;margin-left:10px;}
.drag_slider .bar .pointer {width: 5px;height: 11px;border: 1px solid #000;position: absolute;right: 0;top: -3px;background: #fff;z-index:9999;}

.slider {display: inline-block;vertical-align: middle;}
.slider.slider-horizontal {width: 100%;}
.slider.slider-horizontal .slider-track {height: 5px;width: 100%;margin-top: -5px;left: 0;top:0%;}
.slider-track {position: absolute;cursor: pointer;border-radius: 0;background:#5a5a5a;-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,.4);box-shadow: inset 1px 1px 2px rgba(0,0,0,.4);}
.slider-selection {border-radius:0;}
.slider-handle {position: absolute;top: 0;width: 0px;height: 10px;cursor: pointer;z-index:10000;margin-left:0px;}
.slider .tooltip.top {margin-top: -42px;}
.slider .tooltip{display:none;}

.num-txt{position: relative;width:30px;top: -10px;float: right;left:-5px}

#pop-pen {letter-spacing:-.4px;}


.activated {display:;}
.inactivated {display:none;}