@charset "utf-8";
@import "/css/notosans.css";


/* CSS Document */
html, body {min-width:1260px; height: auto; font-family:'Nanum Gothic'; background: #fff !important; font-size: 15px;line-height: 1.45; color:#666; letter-spacing:-0.035em; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-text-size-adjust: 100%; -webkit-print-color-adjust:exact;}
img {vertical-align:middle;}
body.main {min-width:1400px;}

/**************************************/
/* layout
/**************************************/

/* header */
#header_gallery {height:147px; background:url(../../images/gallery/bg_header.jpg) 50% 0 no-repeat; padding-bottom: 28px; *zoom:1}
#header_gallery:after {content:"";display:block;clear:both;}
#header_gallery > .inner {position:relative;width: 1200px; margin: 0 auto; padding: 11px 0;*zoom:1; z-index: 10;}
#header_gallery > .inner:after {content:"";display:block;clear:both;}
#header_gallery h1 {position:absolute;top:59px;left:27px; z-index: 10;}
#header_gallery h1.visang {display:none;top:29px;}
#header_gallery .loginbox {float:right; margin-right:100px;color: #333; text-align: right;  font-size: 14px;}
#header_gallery .loginbox ul {*zoom:1}
#header_gallery .loginbox ul:after {content:"";display:block;clear:both;}
#header_gallery .loginbox ul li {float:left;}
#header_gallery .loginbox input[type="text"],
#header_gallery .loginbox input[type="password"] {width:80px;height:23px;padding:2px 10px;color:#9e9e9e;font-size:12px;vertical-align: top; margin-left: 1px;}
#header_gallery .loginbox input[type="password"],
#header_gallery .loginbox input[type="text"].pw {border-left:none;}
#header_gallery .loginbox #loginBtn {display:inline-block;width: 80px;height: 27px;margin-left:5px; line-height:27px;background: #538fef; color: #fff; font-weight:bold; text-align:center; font-size: 12px; font-family:'Nanum Gothic';cursor: pointer; vertical-align: top; text-decoration:none}
#header_gallery .loginbox .user #loginBtn {background:url(../../images/gallery/btn_login.png) 0 0 no-repeat;color: #333;}
#header_gallery .loginbox .user span {vertical-align: middle;}
#header_gallery .btn_vivasam {position:absolute;top:11px;right:0;}

.main #header_gallery {position: relative; height: 60px;background: #202020; padding-bottom:0; z-index: 15;}
.main #header_gallery > .inner {width: 1280px; height:44px;padding:16px 0 0 0;}
.main #header_gallery h1.logo {display:none;}
.main #header_gallery h1.visang {display:block; top:20px; left:16px}
.main #header_gallery .btn_vivasam {top:16px;;right:13px}
.main #gnb_gallery {display: none;}
.main #header_gallery .loginbox {color: #fff;}
.main #header_gallery .loginbox #loginBtn {background: #538fef; color: #fff;}
.main #header_gallery .loginbox .user #loginBtn {background: #777;}

#header_gallery #gnb_gallery {position:relative;	width: 905px; height: 98px; padding-left: 295px; margin: 0 auto;*zoom:1}
#header_gallery #gnb_gallery:after {content:"";display:block;clear:both;}
#header_gallery #gnb_gallery > ul {position: absolute; bottom:0;right: 0;width: 905px; height: 63px; padding-top: 35px;text-align: right;}
#header_gallery #gnb_gallery > ul > li {display: inline-block;margin-left: 45px; text-align: right;}
#header_gallery #gnb_gallery > ul > li:first-child {margin-left: 0;}
#header_gallery #gnb_gallery > ul > li > a {display:block;height:63px;background-repeat: no-repeat; background-position: 100% 100%; padding-right: 40px;text-align:right; line-height:60px; font-family: 'Noto Sans KR'; font-weight: 400;font-size:23px; text-decoration:none; letter-spacing:-0.065em;color:#333}
#header_gallery #gnb_gallery > ul > li > a:hover,
#header_gallery #gnb_gallery > ul > li.on > a {font-weight: 700;}
#header_gallery #gnb_gallery > ul > li.g1 > a:hover,
#header_gallery #gnb_gallery > ul > li.g1.on > a {background-image: url(../../images/gallery/icon_gnb.png);}
#header_gallery #gnb_gallery > ul > li.g2 > a:hover,
#header_gallery #gnb_gallery > ul > li.g2.on > a {background-image: url(../../images/gallery/icon_gnb2.png);}
#header_gallery #gnb_gallery > ul > li.g3 > a:hover,
#header_gallery #gnb_gallery > ul > li.g3.on > a {background-image: url(../../images/gallery/icon_gnb3.png);}
#header_gallery #gnb_gallery > ul > li.g4 > a {padding-right: 70px;}
#header_gallery #gnb_gallery > ul > li.g4 > a:hover,
#header_gallery #gnb_gallery > ul > li.g4.on > a {background-image: url(../../images/gallery/icon_gnb4.png);}
#header_gallery #gnb_gallery > ul > li.g5 > a:hover,
#header_gallery #gnb_gallery > ul > li.g5.on > a {background-image: url(../../images/gallery/icon_gnb5.png);}

/* footer */
#footer_gallery {background: #fff; border-top: 1px solid #dcdcdc; }
#footer_gallery .inner {position: relative; width: 1080px; padding: 25px 0 35px 120px; margin: 0 auto;}
#footer_gallery .logo {position: absolute; left: 0; top: 30px; width: 68px; height: 23px; background: url(../../images/logo/logo_visang_g.png) no-repeat 0 0;}
#footer_gallery .link {margin-bottom: 15px; *zoom:1;}
#footer_gallery .link:after {content: ""; display: block; clear: both;}
#footer_gallery .link li {float: left; padding-left: 22px; margin-left: 22px; border-left:1px #d1d1d1 solid; line-height: 1em;}
#footer_gallery .link li:first-child {padding-left: 0; margin-left:0; border-left:none}
#footer_gallery .link li a {font-family:'Nanum Gothic'; font-weight: 700;	 font-size: 13px; color: #666;}
#footer_gallery .link li a:hover {text-decoration: none;}
#footer_gallery .info {font-size: 12px; color: #777;}
#footer_gallery .info a {color: #777;}
#footer_gallery .info span {padding-left: 15px;}
#footer_gallery .info span:first-child {padding-left: 0;}
#footer_gallery .noti {position: absolute; top: 25px; right: 30px; text-align: right; color: #5d5d5d;}
.main #footer_gallery {border-top:none}
.main #footer_gallery .inner{width: 1160px; padding: 25px 0 35px 120px;}

/* container */
#container {position:relative; width:1200px; margin:0 auto; padding: 0 0 60px 0;*zoom:1; z-index:20}
#container:after {content:""; display:block; clear:both;}
#container. {position:relative; width:1200px; margin:0 auto; padding: 0 0 60px 0;*zoom:1; z-index:20}
#container .content {margin:0 auto;}
#container.split .content {float:right;width:905px;}
.main #container {width:100%;padding:0;background:#000 url(../../images/gallery/bg_main2.jpg) no-repeat 50% 0;}
#btnTop {display: none; opacity: 0; position: fixed; bottom: 236px; left: 50%; margin-left: 580px;}
#btnTop button {width: 53px; height: 53px; background: url('/images/gallery/btn_top.png') no-repeat 0 0;}

/* LNB */
#lnb_gallery {float:left; width:220px;}
#lnb_gallery .lnb_menu {}
#lnb_gallery .lnb_menu > li {}
#lnb_gallery .lnb_menu > li > a {display: block; height: 50px;padding:0 25px 0 30px; line-height: 50px;color:#333;font-size: 17px; font-family: 'Noto Sans KR';font-weight: 400;text-decoration: none;}
#lnb_gallery .lnb_menu > li > a span {display: block;background: url(../../images/gallery/bul_arrow.png) no-repeat 100% 21px; }
#lnb_gallery .lnb_menu > li > a.on {background: url(../../images/gallery/bg_lnb.png) no-repeat 0 0;}
#lnb_gallery .lnb_menu > li > a.on span {background-position: 100% -34px;}

#lnb_gallery .lnb_sub {display: none;padding:15px 15px 15px 18px}
#lnb_gallery .lnb_sub > li {}
#lnb_gallery .lnb_sub > li > a {display: inline-block;padding-left:12px; margin: 6px 0;color:#666; font-family: 'Noto Sans KR';text-decoration: none;}
#lnb_gallery .lnb_sub > li > a:hover,
#lnb_gallery .lnb_sub > li > a.on {background: url(../../images/gallery/bul_lnb.png) no-repeat 0 6px;color: #0968ff;}

/*갤러리 qr 추가*/



/**************************************/
/* common
/**************************************/

/* paginate */
.paginate {margin-top: 50px;text-align: center;}
.paginate a {display: inline-block;height:30px;padding:0 10px;color:#888;line-height: 30px;vertical-align: middle;}
.paginate a.on {color:#333; font-weight: 700; text-decoration: none;}
.paginate a.btn {width:30px;height:30px;padding: 0;}
.paginate a.btn_first {background: url(../../images/gallery/paging_first.png) no-repeat 50% 50%;}
.paginate a.btn_prev {background: url(../../images/gallery//paging_prev.png) no-repeat 50% 50%;}
.paginate a.btn_next {background: url(../../images/gallery/paging_next.png) no-repeat 50% 50%;}
.paginate a.btn_last {background: url(../../images/gallery/paging_last.png) no-repeat 50% 50%;}

/* thumb_box */
.thumb_box {display: block;}
.thumb_box strong.tit {display: block;margin-top: 10px;font-weight: 700;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;color: #333;}
.thumb_box span.img_area {display:block;*display: inline-block;*zoom:1;width:207px;height:155px;border:1px #ccc solid;overflow:hidden;text-align: center;}
.thumb_box span.img_area img {max-width:100%;height:100%;max-height:100%;vertical-align: top;
	transition:-webkit-transform .2s cubic-bezier(.165,.84,.44,1);
	transition:transform .2s cubic-bezier(.165,.84,.44,1);
	transition:transform .2s cubic-bezier(.165,.84,.44,1),-webkit-transform .2s cubic-bezier(.165,.84,.44,1)
}
.thumb_box:hover span.img_area img {
	transition-duration:.4s;
	-webkit-transform:scale(1.2);
	-ms-transform:scale(1.2);transform:scale(1.2)
}
.thumb_box span.name {font-size: 14px; color: #888;}

/* popup : 작품상세 */
.pop_detail {display: none;position:fixed;top:50%;left:50%;width: 900px;z-index: 9600;background-color: #fff; -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;margin:-365px 0 0 -450px;}
.pop_detail .pop_header {height: 110px;}
.pop_detail .pop_header h1 {padding:0 60px;text-align: center; font-size: 22px; font-weight: 700; color: #333; line-height: 110px; font-weight: normal;}
.pop_detail .pop_header h1 span {display: inline-block;line-height: 1em; vertical-align: middle;}
.pop_detail .btn_pop_close {display: inline-block;position: absolute;	top:20px;right:20px;width: 24px; height: 24px;background: url(../../images/gallery/btn_close.png) no-repeat 0 0;}
.pop_detail .viewer {height: 400px;padding:0 30px 30px 30px;text-align: center;line-height: 400px;overflow: hidden;}
.pop_detail .viewer img {max-width:100%;max-height:100%;vertical-align: middle;}
.pop_detail .info_desc {margin: 0 40px;padding: 20px 0 20px 200px; border-top:1px #b2b2b2 solid}
.pop_detail .info_desc dl {*zoom:1}
.pop_detail .info_desc dl:after {content:""; display:block; clear:both;}
.pop_detail .info_desc dl dt {float:left;width:15%; padding: 2px 0; font-weight: 700; color: #333;}
.pop_detail .info_desc dl dd {float:right;width:85%; padding: 2px 0;}

/**************************************/
/* main
/**************************************/

.main_cont {position: relative;width:1280px;height:720px;margin:0 auto;overflow: hidden;}
.main_cont .people {position: absolute; top:321px; left:461px;z-index:3}
.main_cont ul {}
.main_cont ul li {position: absolute;}
.main_cont ul li a {display: inline-block;}
.main_cont ul li .obj {position: absolute;}
.main_cont ul li.link1 {top:419px;left:104px; width: 301px; height: 265px;}
.main_cont ul li.link1 .item1 {top:-60px;left:0; opacity:0; z-index:2}
.main_cont ul li.link1 .item1 img {width:301px}
.main_cont ul li.link1 .item2 {top:-120px;left:0;}
.main_cont ul li.link2 {top:377px;left:505px; width: 395px; height: 277px;z-index:3;}
.main_cont ul li.link2 .item1 {top:27px;left:0; display: none;}
.main_cont ul li.link2 .item2 {bottom:32px;left:44px;}
.main_cont ul li.link2 .item3 {bottom:0;right:0;}
.main_cont ul li.link2 .item3 img {width:199px}
.main_cont ul li.link3 {top:176px;left:328px; width: 552px; height: 225px;}
.main_cont ul li.link3 .item1 {top:96px;left:0; opacity:0;}
.main_cont ul li.link3 .item1 img {width:61px}
.main_cont ul li.link3 .item2 {top:0;left:65px; opacity:0;}
.main_cont ul li.link3 .item2 img {width:144px}
.main_cont ul li.link3 .item3 {top:0;left:209px; opacity:0;}
.main_cont ul li.link3 .item3 img {width:135px}
.main_cont ul li.link3 .item4 {top:0;left:344px; opacity:0;}
.main_cont ul li.link3 .item4 img {width:208px}
.main_cont ul li.link4 {top:0;left:830px; width: 278px; height: 280px;z-index:3;}
.main_cont ul li.link4 .item1 {top:0;left:0; opacity:0;}
.main_cont ul li.link4 .item1 img {width:278px}
.main_cont ul li.link5 {top:429px;left:1016px; width: 240px; height: 201px;}
.main_cont ul li.link5 .item1 {top:0;left:0; opacity:0;}
.main_cont ul li.link5 .item1 img {width:240px}
.main_cont ul li.link5 .item2 {top:32px;left:87px; opacity:0;}
.main_cont ul li.link5 .item2 img {width:59px}
/* 확대모션 */
.main_cont ul li.link1,
.main_cont ul li.link2 .item3,
.main_cont ul li.link3,
.main_cont ul li.link4,
.main_cont ul li.link5 {
	transition:-webkit-transform .2s cubic-bezier(.165,.84,.44,1);
	transition:transform .2s cubic-bezier(.165,.84,.44,1);
	transition:transform .2s cubic-bezier(.165,.84,.44,1),-webkit-transform .2s cubic-bezier(.165,.84,.44,1)
}
.main_cont ul li.link1:hover,
.main_cont ul li.link2 .item3 > div:hover,
.main_cont ul li.link3:hover,
.main_cont ul li.link4:hover,
.main_cont ul li.link5:hover {
	transition-duration:.3s;
	-webkit-transform:scale(1.02);
	-ms-transform:scale(1.02);transform:scale(1.02)
}

/* qr작업 */
.qr_btn_box { display: flex; align-items: center; gap: 13px; position: absolute; right: 0; bottom: 0; padding: 10px 9px 10px 26px; background: #6a6a6a; border: 1px solid #646464; border-radius: 10px 10px 0 0;}
.qr_btn_box p {font-family: "Noto Sans KR", sans-serif; font-size: 14px; font-weight: 400; color: #fff; letter-spacing: -0.045em; }
.qr_btn_box .btn_share {display: inline-flex; align-items: center; gap: 7px;  width: 163px; height: 38px; padding-left: 11px; font-family: "Noto Sans KR", sans-serif; font-size: 14px; font-weight: 500; color: #ffffff; line-height: 38px; letter-spacing: -0.05em; background: #00bce8; border: 2px solid #00a9e8; border-radius: 4px; box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.4); box-sizing: border-box; }
.qr_btn_box .btn_share:hover {text-decoration: none;}
.qr_btn_box .btn_share span {display: inline-block; width: 19px; height: 18px; background: url(../../images/gallery/icon_share.png)no-repeat center; }
.qr_btn_box .btn_share em {display: inline-block; width: 5px; height: 9px; background: url(../../images/gallery/icon_share_arr.png)no-repeat center; }

#themePopupWrap {display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; overflow-x: hidden; overflow-y: scroll; z-index: 9999;}
#themePopupWrap * {font-family: "Noto Sans KR", sans-serif; box-sizing: border-box;}
#themePopupWrap .dimed {position: fixed; left: 0; right: 0; bottom: 0; top: 0; background: #22252b; opacity: 0.85; z-index: 9998;}
#themePopupWrap .share_pop { display: block; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; width: 380px; border: 0; border-radius: 15px;  z-index: 9999; overflow: hidden;}
#themePopupWrap .share_pop .popup_head {position: relative; padding: 0 0 0 23px; background: #00bce8;}
#themePopupWrap .share_pop .popup_head p {font-size: 18px; font-weight: 500; color: #fff; line-height: 52px; letter-spacing: -0.05em;}
#themePopupWrap .share_pop .popup_head .popup_close {display: inline-block; position: absolute; right: 16px; top: 50%; transform: translateY(-50%); width: 18px; height: 18px; font-size: 0; background: url('../../images/teachware/ico_pop_close.png')no-repeat center; }

#themePopupWrap .share_pop .popup_body {padding: 22px 78px 30px 78px; background: #eef5f8;}
#themePopupWrap .share_pop .popup_body strong {display: block; font-size: 16px; font-weight: 600; color: #333333; letter-spacing: -0.05em; text-align: center;}
#themePopupWrap .share_pop .popup_body .share_box.qr {display: flex; justify-content: center; align-items: center; width: 220px; height: 220px; margin: 6px auto 0; background: #fff; border: 1px solid #d3d3d3; border-radius: 20px; overflow: hidden;}
#themePopupWrap .share_pop .popup_body .share_box.qr .qr_wrap {position: relative; width: 100%; height: 100%; padaing: 0;}
#themePopupWrap .share_pop .popup_body .share_box.qr .qr_wrap img {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 85%;}
#themePopupWrap .share_pop .popup_body .share_box.copy {margin-top: 15px; text-align: center; }
#themePopupWrap .share_pop .popup_body .share_box.copy p {font-size: 15px; font-weight: 500; color: #333333; letter-spacing: -0.05em;  text-align: center;}
#themePopupWrap .share_pop .popup_body .share_box.copy .pop_btn_share {display: inline-block; width: 130px; padding-left: 48px; margin-top: 10px; font-size: 15px; font-weight: 500; color: #fff; line-height: 37px; letter-spacing: -0.05em; text-align: left; background: #4d8bef url('../../images/teachware/ico_share.png')no-repeat left 12px center; background-size: 20px auto; border: 1px solid #3374dc; border-radius: 4px; box-sizing: border-box;}
#themePopupWrap .share_pop .popup_body .share_box.copy span {display: inline-block; margin-top: 8px; font-size: 15px; font-weight: 400; color: #e76557; letter-spacing: -0.04em; opacity: 0;}
#themePopupWrap .share_pop .popup_body .share_box.copy span.on {opacity: 1;}


@media all and (max-height: 850px) {
	.galleryWarp {position: relative; top: -60px; z-index: 14;}
}



/**************************************/
/* contents
/**************************************/

/* 시대사조 */
#container.period {width: 100%; padding-top: 10px; }
.tab_period {background:#fff url(../../images/gallery/line2.gif) repeat-x 0 22px; z-index: 100;}
.tab_period > ul {width: 880px; margin: 0 auto;*zoom:1}
.tab_period > ul:after {content:""; display:block; clear:both;}
.tab_period > ul > li {float: left;width: 160px;margin: 0 30px;}
.tab_period > ul > li > a {display: block;height: 44px; border: 1px #dbdbdb solid;-webkit-border-radius: 23px;-moz-border-radius: 23px;border-radius: 23px; font-size: 18px; color: #fff; font-weight: 700; line-height: 44px; text-align: center; text-decoration: none;}
.tab_period > ul > li.p1 > a {background-color: #72b6ac;}
.tab_period > ul > li.p2 > a {background-color: #7bb9e0;}
.tab_period > ul > li.p3 > a {background-color: #6082c9;}
.tab_period > ul > li.p4 > a {background-color: #b38acc;}
.tab_period > ul > li.on > a {height:38px;border-width: 4px; line-height: 38px;}
.tab_period > ul > li.p1.on > a {border-color: #009881;}
.tab_period > ul > li.p2.on > a {border-color: #1092e4;}
.tab_period > ul > li.p3.on > a {border-color: #255ac7;}
.tab_period > ul > li.p4.on > a {border-color: #8d30c5;}
.tab_period .history_section {width: 1120px; margin: 0 auto;}
.tab_period .history_section ul {*zoom:1}
.tab_period .history_section ul:after {content:""; display:block; clear:both;}
.tab_period .history_section ul li {float: right;width:507px;height: 134px; text-align: center; font-size: 64px; color: #bfbfbf; font-family: 'Nanum Myeongjo'; font-weight: 700; line-height: 134px;}
.tab_period .history_section ul li:first-child {float: left;}

.period .content h2 {position: fixed; top:27%;left:50%;height: 65px;padding-top: 15px;font-size: 12px; color: #fff; margin-left: -20px; font-weight:400; text-align: center; z-index: 100;}
.period .content h2 strong {font-size: 18px;font-weight: 700;}
.period_cont {width: 1120px; margin: 0 auto;}
.period_cont .inner {position: relative; margin-bottom: 55px;*zoom:1}
.period_cont .inner:after {content:""; display:block; clear:both;} 
.period_cont .inner .year {position: absolute;top:0;left:50%;width: 84px; height: 100%; margin-left: -42px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px; text-align: center; overflow:hidden; background-position: 0 100%; background-repeat: no-repeat; padding-bottom: 35px;}
.period_cont .inner .year span {position: fixed; top:30%;margin-left:17px; display: block; width: 50px; height: 70px; z-index:100}
.period_cont .inner.active .year span:after {content: ""; display: block; position: absolute; top: -15px; left: 0; width: 100%; height: 7px; background: url(../../images/gallery/bul_w.png) no-repeat 50% 0;}
.period_cont#periodA .year {background-color: #72b6ac; background-image: url(../../images/gallery/bg_bar_year.png);}
.period_cont#periodB .year {background-color: #7bb9e0; background-image: url(../../images/gallery/bg_bar_year2.png);}
.period_cont#periodC .year {background-color: #6082c9; background-image: url(../../images/gallery/bg_bar_year3.png);}
.period_cont#periodD .year {background-color: #b38acc; padding-bottom: 0;}
.period_cont#periodA .inner:first-child .year span {position: absolute;top:32%; background: url(../../images/gallery/year.png) no-repeat 50% 0;}
.period_cont#periodA .inner:first-child .year span:after {content: ""; display: block; position: absolute; top: -15px; left: 0; width: 100%; height: 7px; background: url(../../images/gallery/bul_w.png) no-repeat 50% 0;}
.period_cont#periodA .inner.active .year span {background: url(../../images/gallery/year2.png) no-repeat 50% 0;}
.period_cont#periodA .inner.active:first-child .year span {background: url(../../images/gallery/year.png) no-repeat 50% 0;}
.period_cont#periodB .inner.active:first-child .year span {background: url(../../images/gallery/year3.png) no-repeat 50% 0;}
.period_cont#periodB .inner.active .year span {background: url(../../images/gallery/year4.png) no-repeat 50% 0;}
.period_cont#periodC .inner.active .year span {background: url(../../images/gallery/year5.png) no-repeat 50% 0;}
.period_cont#periodD .inner.active .year span {background: url(../../images/gallery/year6.png) no-repeat 50% 0;}

.period_cont .inner ul {width: 505px;}
.period_cont .inner ul > li {position: relative;min-height: 120px;background-color: #fff;margin-top: 10px;border:1px #dbdbdb solid;padding: 35px;}
.period_cont .inner ul.left {float: left;}
.period_cont .inner ul.left > li {text-align: right;}
.period_cont .inner ul.right {float: right;}
.period_cont .inner ul.right > li {text-align: left;}
.period_cont .inner ul > li:first-child {margin-top: 0;}
.period_cont .inner ul > li h3 {margin-bottom: 10px; font-size: 22px; letter-spacing: -0.065em;}
.period_cont#periodA .inner ul > li h3 {color: #72b6ac;}
.period_cont#periodB .inner ul > li h3 {color: #7bb9e0;}
.period_cont#periodC .inner ul > li h3 {color: #6082c9;}
.period_cont#periodD .inner ul > li h3 {color: #b38acc;}
.period_cont .inner ul > li h3 span {font-size: 18px; font-weight: 400; color: #222;}
.period_cont .inner ul > li > p {font-size: 14px; color: #666;}
.period_cont .inner ul > li .icon {position: absolute;top:50px; margin-top: -27px;}
.period_cont .inner ul.left > li .icon {right: -33px;}
.period_cont .inner ul.right > li .icon {left: -33px;}
.period_cont .inner ul > li > ul {width: auto;}
.period_cont .inner ul > li > ul > li {position: static; min-height: auto;margin-top: 5px;background: url(../../images/gallery/bul_list.png) 0 8px no-repeat; padding:0 0 0 10px; font-size: 14px; color: #666; border:none;}
.period_cont .inner ul > li > ul > li:first-child {margin-top: 0;}
.period_cont .inner ul > li .author_link { margin-top: 15px; padding-top: 15px;border-top: 1px #b2b2b2 dashed;}
.period_cont .inner ul > li .author_link dt {display: inline-block;*display: inline;*zoom:1; margin-right: 10px; font-size: 16px; font-weight: 700; color: #333;}
.period_cont .inner ul > li .author_link dd {display: inline-block;*display: inline;*zoom:1;}
.period_cont .inner ul > li .author_link dd a.btn_link {display: inline-block; height: 21px; background-color: #fff;padding:0 6px; line-height: 21px; border: 1px #888 solid; font-size: 12px; color: #666; margin: 0 2px; vertical-align: top; text-decoration: none;}
.period_cont#periodB .inner ul > li .author_link dd a.btn_link:hover {background-color: #7bb9e0; border: 1px #7bb9e0 solid;  color: #fff;}
.period_cont#periodC .inner ul > li .author_link dd a.btn_link:hover {background-color: #6082c9; border: 1px #6082c9 solid;  color: #fff;}
.period_cont#periodD .inner ul > li .author_link dd a.btn_link:hover {background-color: #b38acc; border: 1px #b38acc solid;  color: #fff;}

/* 장르 */
.search_box {padding: 0 0 30px 295px;*zoom:1}
.search_box:after {content:""; display:block; clear:both;}
.search_box .location {float:left;width: 60%;line-height: 48px;font-size: 22px;}
.search_box .location strong {color: #0968ff; font-weight: 700;}
.search_box .search_word {float:left;width: 60%;line-height: 48px; font-weight: 700;}
.search_box .search_word strong {color:#0968ff}
.search_box .inputbox {float:right;width:305px;height:47px;border: 1px #cfcfcf solid;}
.search_box input[type="text"] {width:243px;height:37px;padding:5px 0 5px 15px;*padding:6px 0 3px 15px;border: none; font-size: 14px; vertical-align: top; color: #888;}
.search_box button {width:47px;height:47px;background: url(../../images/gallery/icon_search.png) no-repeat 50% 50%; vertical-align: top;cursor: pointer;}

.thumb_list {width:905px;}
.thumb_list ul {width:928px;*zoom:1}
.thumb_list ul:after {content:""; display:block; clear:both;}
.thumb_list ul li {float:left;width:209px;height:200px;margin-right:23px;padding-bottom: 25px;}
.thumb_list .no_result {background: url(../../images/gallery/icon_search_result.png) no-repeat 50% 150px; padding:250px 0 200px 0; text-align: center; font-size: 20px; color:#333}

/* 작가 */
.author_index {padding-top: 50px;}
.author_index .tab {padding: 2px 0 0 0;background-color: #939393;-webkit-border-radius: 20px 20px 0 0;-moz-border-radius: 20px 20px 0 0;border-radius: 20px 20px 0 0;}
.author_index .tab:after {content:""; display:block; clear:both;}
.author_index .tab li {float:left;width:10%; }
.author_index .tab li a {display: block;height:44px;line-height: 44px; border: 1px #939393 solid; border-bottom:1px #cecac2 solid; font-weight: 700; font-size: 20px; color:#fff;text-align: center; text-decoration: none;-webkit-border-radius: 18px 18px 0 0;-moz-border-radius: 18px 18px 0 0;border-radius: 18px 18px 0 0;}
.author_index .tab li a:hover {color: #ffbb0e;}
.author_index .tab li.on a {background-color: #fff; border: 1px #cecac2 solid; border-bottom:1px #fff solid; color: #4782e1;}
.author_index .bx-wrapper {margin-bottom: 30px;padding:20px;border: 1px #cecac2 solid; border-top: none; *zoom:1}
.author_index .author_list {}
.author_index .author_list ul {padding:15px 20px;*zoom:1}
.author_index .author_list ul:after {content:""; display:block; clear:both;}
.author_index .author_list ul li {float:left;width:14.8%;padding:0 10px;}
.author_index .author_list ul li a {display: inline-block;color: #333; line-height: 1.2em;}
.author_index .author_list ul li a:hover,
.author_index .author_list ul li a.on {color:#397be2; font-weight: 700; text-decoration: none;	}
.author_index .bx-controls,
.author_index .bx-controls .bx-pager {text-align: center; line-height: 0; font-size: 0;}
.author_index .bx-controls .bx-pager-item {display: inline-block; *display: inline; *zoom:1; margin: 0 5px;}
.author_index .bx-controls .bx-pager-item a {display: inline-block;width: 10px; height: 10px;background-image: url(../../images/gallery/btn_slider_page.png); background-position: 0 0;background-repeat: no-repeat; text-indent: -1000px; font-size: 0; line-height: 0;}
.author_index .bx-controls .bx-pager-item a.active {background-position: -20px 0;}

.author_cont {position: relative;margin: 60px 0 40px 0; *zoom:1}
.author_cont:after {content:""; display:block; clear:both;}
.author_cont .thumb {position: relative;float:left;width:284px;height: 284px; overflow: hidden; margin: 0 60px;text-align: center; vertical-align: middle;}
.author_cont .thumb .mask {position: absolute;top:0;left:0;display: block;width: 284px; height: 284px; background: url(../../images/gallery/bg_mask.png) no-repeat 50% 50%; }
.author_cont .thumb img {max-width: 100%; height: 100%;}
.author_cont .info {float:right;width: 796px; margin-top: 25px;}
.author_cont .info h2 {font-size: 24px; color:#3d78d6; font-weight: normal;}
.author_cont .info ul {margin: 10px 0 15px;}
.author_cont .info ul li {padding: 2px 0;line-height: 1.4em;color: #666; font-weight: 700;}
.author_cont .info .txt {padding-top: 15px;border-top: 1px #bcbcbc solid; line-height: 1.6em;}

.work_silder {position: relative;}
.work_silder h2 {background:url(../../images/gallery/line.gif) 0 50% repeat-x;margin: 40px 0 20px;text-align: center;}
.work_silder h2 span {display: inline-block; height: 32px; padding: 0 30px 0 65px;background:#fff url(../../images/gallery/icon_author.png) 30px 0 no-repeat;font-size: 18px; font-weight: 700; color: #333; line-height: 32px;}
.work_silder li {float:left;width:209px;}
.work_silder .bx-controls-direction a {position: absolute;top:112px;display: inline-block;width: 37px; height: 37px;background-image: url(../../images/gallery/btn_slider_control.png); background-repeat: no-repeat; text-indent: -1000px; font-size: 0; line-height: 0;}
.work_silder .bx-controls-direction a.bx-prev {background-position: 0 0;left:-40px;}
.work_silder .bx-controls-direction a.bx-next {background-position: -40px 0;right: -40px;}
.work_silder .bx-controls-direction a.bx-prev.disabled,
.work_silder .bx-controls-direction a.bx-next.disabled {opacity: 0.4; filter:Alpha(Opacity=40); cursor:default}

/* 윈도우 팝업 용 */
.pop_new_window {min-width:1000px;}
.pop_new_window #dataArea {padding:30px;}
.pop_new_window .author_cont {margin:0;}
.pop_new_window .author_cont .thumb {margin:0 30px 0 0}
.pop_new_window .author_cont .info {float:left;width:626px}
.pop_new_window .work_silder .bx-controls-direction a.bx-prev {left:-10px;}
.pop_new_window .work_silder .bx-controls-direction a.bx-next {right:-10px}
.pop_new_window #bgLayer {height:100% !important;}

/* 주요소장처 */
#wrapper.map {background: url(../../images/gallery/bg_map.jpg) no-repeat 50% 204px;}
#wrapper.map .tab {margin-top: 29px;} 
.map_possession {position: relative; height: 703px;}
.map_possession > li {position: absolute;}
.map_possession > li .btn_layer {display: block; text-indent:-1000px; font-size: 0; line-height: 0; cursor: pointer;}
.map_possession > li.m1 .btn_layer {height: 30px; background: url(../../images/gallery/map_point_usa.png) 0 0 no-repeat;}
.map_possession > li.m2 .btn_layer {height: 70px; background: url(../../images/gallery/map_point_europe.png) 0 0 no-repeat;}
.map_possession > li.m3 .btn_layer {height: 30px; background: url(../../images/gallery/map_point_korea.png) 0 0 no-repeat;}
.map_possession > li .layer_open {display: none;position: absolute;width: 283px; height: 290px; z-index: 20;}
.map_possession > li.m1 .layer_open {top:-136px;left:-112px;background: url(../../images/gallery/map_detail_usa.png) 0 0 no-repeat;}
.map_possession > li.m2 .layer_open {top:-37px;left:-142px;background: url(../../images/gallery/map_detail_europe.png) 0 0 no-repeat;}
.map_possession > li.m3 .layer_open {top:-126px;left:-123px;background: url(../../images/gallery/map_detail_korea.png) 0 0 no-repeat;}
.map_possession > li .point {position: absolute;}
.map_possession > li.m1 .point {top:-63px;left:-112px;}
.map_possession > li.m1 {top:327px; left: 151px;width: 33px; height: 30px;}
.map_possession > li.m2 {top:263px; left: 513px;width: 68px; height: 70px;}
.map_possession > li.m3 {top:353px; right: 61px;width: 30px; height: 30px;}
.map_possession > li .point > li > a {position: absolute;display: inline-block;width: 25px; height: 25px;background: url(../../images/gallery/btn_map.png) 0 0 no-repeat; text-indent:-1000px; font-size: 0; line-height: 0; z-index:5}
.map_possession > li .point > li > a:hover ,
.map_possession > li .point > li.on > a {background: url(../../images/gallery/btn_map_on.png) 0 0 no-repeat;}
.map_possession > li .point > li > .img_view {position: absolute;}
.map_possession > li .point .img_view img {position: relative; z-index: 30;}
.map_possession > li .point .img_view:after {content: ""; display: block;position:absolute;width:2px;height:180px; background:#31c1f0; border:1px #fff solid; z-index:1}
.map_possession > li.m1 .point > li.d1 > a {top:170px; left:246px}
.map_possession > li.m1 .point > li.d2 > a {top:145px; left:260px}
.map_possession > li.m1 .point > li.d3 > a {top:170px; left:275px}
.map_possession > li.m1 .point > li.d4 > a {top:234px; left:175px}
.map_possession > li.m1 .point > li > .img_view {top:-168px; left:105px}
.map_possession > li.m1 .point > li > .img_view:after {top:80%;}
.map_possession > li.m1 .point > li.d1 > .img_view:after {left:69%;transform: rotate(-14.5deg);}
.map_possession > li.m1 .point > li.d2 > .img_view:after {left:72.5%;transform: rotate(-20.5deg);height:145px;}
.map_possession > li.m1 .point > li.d3 > .img_view:after {left:77.5%;transform: rotate(-20.5deg);height:166px;}
.map_possession > li.m1 .point > li.d4 > .img_view:after {left:46%;transform: rotate(3.5deg);height:230px;}
.map_possession > li.m2 .point > li.d1 > a {top:40px; left:47px}
.map_possession > li.m2 .point > li.d2 > a {top:62px; left:129px}
.map_possession > li.m2 .point > li.d3 > a {top:70px; left:51px}
.map_possession > li.m2 .point > li.d4 > a {top:213px; left:218px}
.map_possession > li.m2 .point > li.d5 > a {top:145px; left:79px}
.map_possession > li.m2 .point > li.d6 > a {top:144px; left:109px}
.map_possession > li.m2 .point > li.d7 > a {top:120px; left:93px}
.map_possession > li.m2 .point > li > .img_view {top:78px; left:298px}
.map_possession > li.m2 .point > li > .img_view:after {bottom:10%;}
.map_possession > li.m2 .point > li.d1 > .img_view:after {left:-54%;transform: rotate(-63.5deg);height:315px;}
.map_possession > li.m2 .point > li.d2 > .img_view:after {left:-24%;transform: rotate(-60.5deg);height:280px;}
.map_possession > li.m2 .point > li.d3 > .img_view:after {left:-50%;transform: rotate(-68.5deg);height:280px;}
.map_possession > li.m2 .point > li.d4 > .img_view:after {bottom:0;left:16%;transform: rotate(-97.5deg);}
.map_possession > li.m2 .point > li.d5 > .img_view:after {bottom:-20%;left:-32%;transform: rotate(-79.5deg);height:320px;}
.map_possession > li.m2 .point > li.d6 > .img_view:after {bottom:-5%;left:-27%;transform: rotate(-78.5deg);height:260px;}
.map_possession > li.m2 .point > li.d7 > .img_view:after {bottom:-8.5%;left:-19%;transform: rotate(-76.5deg);height:300px;}
.map_possession > li.m3 .point > li.d1 > a {top:178px; left:156px}
.map_possession > li.m3 .point > li.d2 > a {top:116px; left:101px}
.map_possession > li.m3 .point > li.d3 > a {top:92px; left:120px}
.map_possession > li.m3 .point > li > .img_view {top:-214px; left:-212px}
.map_possession > li.m3 .point > li > .img_view:after {top:50%;}
.map_possession > li.m3 .point > li.d1 > .img_view:after {left:133%;transform: rotate(-227deg);height:350px;}
.map_possession > li.m3 .point > li.d2 > .img_view:after {left:115%;transform: rotate(-227deg);height:265px;}
.map_possession > li.m3 .point > li.d3 > .img_view:after {left:122%;transform: rotate(-234deg);height:250px;}

.tab_cont .map_cont {display: none;*zoom:1}
.tab_cont .map_cont:after {content:""; display:block; clear:both;}
.tab_cont .map_cont .thumb {float: left;width: 376px; height: 282px;}
.tab_cont .map_cont dl {float: left; width: 448px; height: 282px; background-color: #f2f8ff; padding: 0 40px;}
.tab_cont .map_cont dl dt {padding: 25px 0 15px 0;font-size: 20px; color: #22b3e3;line-height: 1.2em; border-bottom: 1px #b8bdc1 solid;}
.tab_cont .map_cont dl dt strong {font-weight: 700;}
.tab_cont .map_cont dl dd {color: #333; line-height: 1.6em;}
.tab_cont .map_cont dl dd strong {padding: 12px 0 8px 0;display: block;font-weight: 700;}

.tab_cont .map_cont .art_list {float: left;width: 264px; height: 255px; padding: 25px 0 0 30px;border: 1px #dfdfdf solid;background:#fff}
.tab_cont .map_cont .art_list h2 {padding-left: 30px;margin-bottom: 10px;background: url(../../images/gallery/icon_tit_possession.png) 0 5px no-repeat; font-size: 20px; color: #333;}
.tab_cont .map_cont .art_list .art_list_scroll {height: 200px;overflow: hidden;}
.tab_cont .map_cont .art_list .art_list_scroll li {margin-top: 5px;background: url(../../images/gallery/bul_list.png) 0 8px no-repeat; padding-left:10px}
.tab_cont .map_cont .art_list .art_list_scroll li:first-child {margin-top: 0;}
.tab_cont .map_cont .art_list .art_list_scroll li a {color: #333;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color: #e6e6e6; background-color: rgba(230,230,230,1);
	filter: "alpha(opacity=100)"; -ms-filter: "alpha(opacity=100)"; 
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background-color: #e6e6e6; background-color: rgba(230,230,230,1);
	filter: "alpha(opacity=100)"; -ms-filter: "alpha(opacity=100)"; 
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background-color: #e6e6e6; background-color: rgba(230,230,230,1);
	filter: "alpha(opacity=100)"; -ms-filter: "alpha(opacity=100)"; 
}
.mCS-light-3.mCSB_scrollTools .mCSB_draggerRail, 
.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {background-color: #fff;}

/* 자료실 */
.data_wrap {padding-top: 50px;}
.data_wrap h1 {min-height: 34px;padding-left: 40px;font-size: 30px; color: #333;}
.data_wrap h1.tit_active {margin-bottom: 10px;background: url(../../images/gallery/icon_tit_data.png) 0 5px no-repeat;}
.data_wrap h1.tit_book {margin-bottom: 20px;background: url(../../images/gallery/icon_tit_data2.png) 0 5px no-repeat;}
.data_wrap .txt_dsc {margin-bottom: 30px;font-size: 18px; color: #666;}
.data_wrap .data_list {background: url(../../images/gallery/line.gif) 50% 0 repeat-y;margin-bottom: 60px;*zoom:1}
.data_wrap .data_list:after {content:""; display:block; clear:both;}
.data_wrap .data_list .left {float: left;width:46%}
.data_wrap .data_list .right {float: right;width:46%}
.data_wrap .data_list ul li {position: relative;background: url(../../images/gallery/icon_plus.png) 0 20px no-repeat;padding: 12px 0 12px 15px; border-bottom: 1px #d4d4d4 dashed;}
.data_wrap .data_list ul li a {display: inline-block;position: absolute;top:11px;right:12px;width: 82px;height: 22px;background: url(../../images/gallery/btn_down.png) 0 0 no-repeat; text-indent: -1000px; font-size: 0; line-height: 0;}
.data_wrap .data_list ul li a:hover {background-image: url(../../images/gallery/btn_down_on.png);}

.data_link {border:1px #e5e5e5 solid; border-bottom:none;*zoom:1}
.data_link:after {content:""; display:block; clear:both;}
.data_link dl {float:left;width:50%;}
.data_link dl dt {padding: 17px 0;font-weight:700; font-size:19px; color: #333;text-align: center;	}
.data_link dl.mid dt {background-color: #d9eff4; border-right:1px #e5e5e5 solid;}
.data_link dl.high dt {background-color: #e8def5;}
.data_link dl dd {padding:12px 30px; border-bottom:1px #e5e5e5 solid; }
.data_link dl.mid dd {border-right:1px #e5e5e5 solid;}
.data_link dl dd a {display: inline-block;padding-right: 20px;background: url(../../images/new/arr_menu_3.gif) 100% 7px no-repeat;  font-size:15px; text-align: left; color: #333;}
.data_link dl dd a strong{display: inline-block;margin: 0 15px 0 10px;color: #333; font-weight: 700;}
.data_link dl dd a:hover {color:#0968ff; text-decoration: none;}
.data_link dl dd a:hover strong {color:#0968ff;}




