@charset "utf-8";
/* 공통 */
.eventDetail {
	width: 747px;
	font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;
	position: relative;
}
.eventDetail img {vertical-align: top;}
.eventDetail input,
.eventDetail label,
.eventDetail textarea {font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}

.eventDetail #addressFindPop input[type="text"] {width:255px;height:25px;padding: 0 10px;border:1px solid #d9d9d9;float:left;}
.eventDetail .dimed {display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:transparent;z-index: 19}
/* //공통 */


.eventDetail .entry_form .radio_list {position: absolute; top: 120px; left: 75px; *zoom:1}
.eventDetail .entry_form .radio_list:after {content: ""; display: block; clear: both;}
.eventDetail .entry_form .radio_list li:first-child {margin-left: 0;}
.eventDetail .entry_form .radio_list li.radio_01 {background-position: 0 0;}
.eventDetail .entry_form .radio_list li.radio_02 {background-position: -106px 0;}
.eventDetail .entry_form .radio_list li.radio_03 {background-position: -208px 0;}
.eventDetail .entry_form .radio_list li.radio_04 {background-position: -310px 0;}
.eventDetail .entry_form .radio_list li.radio_05 {background-position: -412px 0;}
.eventDetail .entry_form .radio_list li.radio_06 {background-position: -516px 0;}
.eventDetail .entry_form .radio_list li input {margin: 0 0 0 -4px;}
.eventDetail .entry_form .radio_list li label {letter-spacing: -1.5px; font-weight: bold; font-size: 16px; color: #333;}
.eventDetail .entry_form .msg {position: absolute; top: 389px; left: 75px; width: 595px; }
.eventDetail .entry_form .msg textarea {width: 565px; height: 90px; padding: 15px; border: none; background: #f2f2f2; font-size: 13px; color: #444;}
.eventDetail .entry_form .msg .count {margin-top: 5px; text-align: right; font-size: 12px; color: #666;}
.eventDetail .entry_form .btn {position: absolute; left: 50%; bottom: 40px; margin-left: -132px; background: none;}
.eventDetail .entry_form .after {position: absolute; top: 0; left: 0; width: 100%; height: 55px; padding: 247px 0; background: url(../../images/event/event181029/bg_close.png) no-repeat 0 0;  font-size: 28px; font-weight: bold; color: #ff0; text-align: center;}

