@charset "utf-8";

/* 공통 */
.eventDetail {
    width: 910px;
    font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;
    position: relative;
}
.eventDetail img {vertical-align: top;}
.eventDetail input,
.eventDetail label,
.eventDetail textarea {font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}
/* //공통 */


.eventTitle {margin-top:50px;}


.eventDetail .section2 {
    background:#f6d3c6; padding-bottom: 60px;
    text-align: center;
}
.eventDetail .cont .msg_box { padding: 0 80px;}
.eventDetail .cont .msg {position: relative;margin-top: 30px;height:156px;background:#fff; }
.eventDetail .cont .msg textarea { background: #fff; padding: 15px 150px 15px 24px; font-size: 13px; color: #757575; line-height: 1.4; outline: none;
     width: 100%; box-sizing: border-box;
    height: 120px; margin: 0 auto;border:none;
}
.eventDetail .cont .btn_submit {position: absolute; top:0; right: 0; display: inline-block; cursor:pointer;}
.eventDetail .cont .msg_box .count {
    position: absolute; right: 148px; top: 133px; text-align: right; font-size: 12px; color: #999; font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}


.section3 {
    padding: 60px 80px;
    background:#ace8e8;
}


.item li {display:inline-block;margin:15px;text-align:center;}
.item li img {display:block;}
.contenttitle {margin:50px 0;}
.contantClass {padding-top:30px}


.eventDetail .list_wrap {margin-top: 15px; position: relative; }
.eventDetail .list_wrap ul {text-align: left; width: 84%; margin: 0 auto; }
.eventDetail .list_wrap ul li {    position: relative;
    display: inline-block;
    width: 33%;
    text-align: left;
    box-sizing: border-box;
    padding: 3.5% 3.5% 3.5% 4.5%}
.eventDetail .list_wrap ul { width: 780px; margin-left: -15px;  height: 347px;
    background: url(../../images/event/2020/event200827/textbox.png) no-repeat center top;
}
.eventDetail .list_wrap ul li strong {display: inline-block;width:auto;height:30px; text-align: left;font-weight: 800;vertical-align: middle; letter-spacing: -0.5px;
    color: #333; line-height: 30px; font-size: 14px;
}
.eventDetail .list_wrap ul li .btns {position: absolute;top:5btnAreapx;right:0}
.eventDetail .list_wrap ul li .btns a {display: inline-block;height: 19px;background: #fbfbfb; border:1px #bebebe solid; padding: 0 7px; font-size: 12px; font-weight: 700; line-height: 19px; color: #666; text-decoration: none;}
.eventDetail .list_wrap ul li .msg {margin-top:7px}
.eventDetail .list_wrap ul li p {margin-top: 8px; line-height: 1.7em; font-size: 13px; height: 250px; overflow-y: auto; }


.eventDetail .list_wrap a.btn_roll {position:absolute;top: 50%;display:inline-block;width:14px;height:23px;background-repeat: no-repeat; background-position: 0 0;text-indent:-1000px;font-size:0;line-height:0}
.eventDetail .list_wrap a.btn_roll.prev {left:-38px; background-image: url(../../images/event/2020/event200723/arr_prev.png);}
.eventDetail .list_wrap a.btn_roll.prev:hover {background-image: url(../../images/event/2020/event200723/arr_prev_hover.png);}
.eventDetail .list_wrap a.btn_roll.next {right:-38px; background-image: url(../../images/event/2020/event200723/arr_next.png);}
.eventDetail .list_wrap a.btn_roll.next:hover {background-image: url(../../images/event/2020/event200723/arr_next_hover.png);}
.eventDetail .list_wrap a.btn_roll.dis { opacity: 0; }

.eventDetail #paging { text-align: center; margin-top:45px; margin-bottom: 20px; }
.eventDetail #paging a {padding: 0 6px 0 10px;font-size: 16px; color:#397285;text-decoration: none; line-height: 30px; vertical-align: middle;}
.eventDetail #paging a { background-repeat: no-repeat; background-position: center; }
.eventDetail #paging a.btn_roll { color: transparent; }
.eventDetail #paging a.btn_roll.prev {background-image: url(../../images/event/2020/event200723/btn_prev.png);}
.eventDetail #paging a.btn_roll.next {background-image: url(../../images/event/2020/event200723/btn_next.png);}
.eventDetail .paginate {display: inline-block; margin-left: -6px; }
.eventDetail .paginate strong {display: inline-block; margin-right:-5px; margin-left: 6px; font-weight: 700; color: #ff6354; border: 2px solid #ff6354; width: 30px; line-height: 30px; box-sizing: border-box; }
.eventDetail .paginate a img {position: relative;top: 12px;}

.page_prev {}
.page_first {}
.page_next {}
.page_last {}



.msgPopCnt {border-radius:20px;}
#popApply.msgPopup {border-radius:20px;}
#popApply.msgPopup .contWrap  {border-radius: 0 0 20px 20px;border:none;}

/* Popup Title */
#popApply.msgPopup .tit {  background: #fd8263;border-radius: 20px 20px 0 0 }

#popApply table { border-top: 2px solid #c1c1c1; }
#popApply table tbody th {background: #f2f2f2; text-align: center; padding-left: 0; border-right: 1px solid #dfdfdf; }
#popApply table tbody td { padding-left: 14px !important; }
#popApply.msgPopup .agree_info {

    margin: 0 0 10px !important; padding: 25px 25px 20px;
    text-align: left;
    font-family: "돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;
    font-weight: normal;
}
#popApply.msgPopup .agree_info dt { color: #666666; font-size: 12px; font-weight: bold;}
#popApply.msgPopup .agree_info dd { color: #666666; font-size: 11px; }
#popApply.msgPopup .agree_info dd p {color: #919191; }

#popApply.msgPopup .sub_text {padding:10px 0 20px 0;}
#popApply.msgPopup .sub_text p {color:#fd8263}

#popApply .btnArea a { display: inline-block;  padding: 10px 0; color: #fff; background: #eb4e1d; font-size: 18px; font-family: "Noto Sans KR", sans-serif; font-weight: 600;
    border-radius: 3px;
    width: 200px;
}
#popApply .btnArea a span { line-height: 1; }
#popApply .btnArea a:hover { text-decoration: none; }

#popApply td.count {}
#popApply td.count input { text-align: right; padding-right: 2em; }
#popApply td.count i { position: relative; left: -2em;}
#popApply td.count em { color:#e73f25;}
#popApply td.count ul {font-size: 11px; color: #888888; padding-top: 10px; line-height: 1.8; }

