@charset "utf-8";

/* 공통 */
.eventDetail{position:relative;box-sizing:border-box;width:910px;font-family:'Noto Sans KR', sans-serif;background:#46e4e6;}
.eventDetail img{vertical-align:top;}
/* //공통 */
/* START */
.eventDetail a{text-decoration:none;}
.eventDetail [class^="section"] .inner{padding:0 60px;}
.caseBookWrap{position:relative;box-sizing:border-box;padding:24px 40px 44px 40px;background:#fff9f0;}
/* 이벤트 체크박스 공통 */
.caseBookWrap input[type="checkbox"]{overflow:hidden;position:absolute;top:-10px;left:-10px;width:1px;height:1px;margin:0;}
.caseBookWrap input[type="checkbox"] + label{display:block;width:100%;height:100%;cursor:pointer;}
/**/
.chkAllWrap{overflow:hidden;position:absolute;top:-30px;right:18px;border:5px solid #46e4e6;border-radius:30px;}
.chkAllWrap input[type="checkbox"] + label{display:inline-block;width:190px;height:47px;background:#fff;border-radius:25px;border-bottom:3px solid #ebebeb;font-size:18px;font-weight:600;color:#4c5773;line-height:47px;letter-spacing:-1px;}
.chkAllWrap input[type="checkbox"] + label:before{content:'';display:inline-block;box-sizing:border-box;width:29px;height:29px;margin:10px 18px 0 9px;background:#e9e4db;border:1px solid #dfd7ca;border-radius:30px;vertical-align:top;}
.chkAllWrap input[type="checkbox"]:checked + label:after{content:'';position:absolute;top:16px;left:15px;display:inline-block;width:17px;height:17px;background:#ff5a18;border-radius:9px;}
.caseBookList{overflow:hidden;}
.caseBookList li{float:left;position:relative;width:335px;height:197px;margin:31px 7px 0;background-image:url(../../images/event/2020/event201110/bg_casebook01.png);background-position:0 0;background-repeat:no-repeat;}
.caseBookList li:nth-child(2){background-image:url(../../images/event/2020/event201110/bg_casebook02.png);}
.caseBookList li:nth-child(3){background-image:url(../../images/event/2020/event201110/bg_casebook03.png);}
.caseBookList li:nth-child(4){background-image:url(../../images/event/2020/event201110/bg_casebook04.png);}
.caseBookList li:nth-child(even){margin-left:16px;}
/* 이벤트 체크박스 활성화 */
.caseBookList li input[type="checkbox"]:checked + label:before{content:'';position:absolute;top:70px;left:45px;display:inline-block;box-sizing:border-box;width:64px;height:64px;background-image:url(../../images/event/2020/event201110/icon_chk.png);background-position:0 0;background-repeat:no-repeat;}
.caseBookList li:nth-child(2) input[type="checkbox"]:checked + label:before{background-position:-64px 0;}
.caseBookList li:nth-child(3) input[type="checkbox"]:checked + label:before{background-position:0 -64px;}
.caseBookList li:nth-child(4) input[type="checkbox"]:checked + label:before{background-position:-64px -64px;}
.caseBookList li input[type="checkbox"]:checked + label:after{content:'';display:inline-block;width:146px;height:189px;border:4px solid #ff3442;}
.caseBookList li:nth-child(2) input[type="checkbox"]:checked + label:after{border:4px solid #446fd8;}
.caseBookList li:nth-child(3) input[type="checkbox"]:checked + label:after{border:4px solid #297f6f;}
.caseBookList li:nth-child(4) input[type="checkbox"]:checked + label:after{border:4px solid #6658a6;}
/* 이벤트 체크박스 비활성화 */
.caseBookList li input[type="checkbox"]:disabled + label{cursor:default;}
.caseBookList li input[type="checkbox"]:disabled + label:before{content:'';position:absolute;top:0;left:0;display:inline-block;box-sizing:border-box;width:163px;height:197px;background-image:url(../../images/event/2020/event201110/chk_done_casebook01.png);background-position:0 0;background-repeat:no-repeat;background-color:#fff9f0;}
.caseBookList li:nth-child(2) input[type="checkbox"]:disabled + label:before{background-image:url(../../images/event/2020/event201110/chk_done_casebook02.png);}
.caseBookList li:nth-child(3) input[type="checkbox"]:disabled + label:before{background-image:url(../../images/event/2020/event201110/chk_done_casebook03.png);}
.caseBookList li:nth-child(4) input[type="checkbox"]:disabled + label:before{background-image:url(../../images/event/2020/event201110/chk_done_casebook04.png);}
/**/
.caseBookInfo{overflow:hidden;margin-top:45px;padding-top:15px;border-top:1px solid #e9e4e0;}
.caseBookInfo .txtInfo{float:left;}
.caseBookInfo .btnLink01{float:right;}
.bannerWrap{position:relative;margin-top:10px;}
.bannerWrap .btnLink02{position:absolute;top:58px;right:40px;}
.section4 .btnWrap{padding:50px 0 86px;font-size:0;text-align:center;}
.section4 .btnWrap .btnApply{display:inline-block;}
/* POPUP */
#popApply{width:490px !important;z-index:100;}
#popApply .dimed{position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,0.8);z-index:1;}
#popApply .msgPopCnt{overflow:hidden;position:relative;border-radius:20px;z-index:1;}
#popApply .msgPopCnt .tit{background:#46e4e6;}
#popApply .msgPopCnt .popClose{position:absolute;top:17px;right:19px;}
#popApply.msgPopup .contWrap{padding:15px 15px 30px !important;}
#popApply table{border-top:2px solid #c1c1c1;border-bottom:1px solid #dfdfdf;}
#popApply table tbody th{height:33px;padding-left:0;background:#f2f2f2;border-right:1px solid #dfdfdf;font-size:12px;color:#666;text-align:center;}
#popApply table tbody td{padding-left:10px !important;}
#popApply .examInfo{margin-bottom:15px;}
#popApply .examInfo table tr td .txt{height:20px;}
#popApply .examInfo table tr td select{height:23px;border:1px solid #707070;color:#666;}
#popApply .sub_text{margin:0 20px;}
#popApply .sub_text p{font-size:11px;color:#ff5656;line-height:17px;}
#popApply.msgPopup .agree_info{margin-top:15px;border-top:1px solid #dfdfdf;}
#popApply.msgPopup .agree_info dt{font-size:12px;font-weight:600;color:#666;}
#popApply.msgPopup .agree_info dd ul + p{margin:15px 10px 0 !important;font-size:11px;color:#888 !important;line-height:18px;}
#popApply.msgPopup .agree label{font-size:12px;}