@charset "utf-8";

/* 공통 */
.eventDetail{position:relative;box-sizing:border-box;width:910px;font-family:'Noto Sans KR', sans-serif;}
.eventDetail img{vertical-align:top;}
/* //공통 */
/* START */
.section1,
.section2{position:relative;box-sizing:border-box;background:#f3f3f3;text-align:center;}
.section1 .mainTit{height:428px;margin:0 auto 20px;background:url(../../images/event/2022/event220321/main_tit.png) 0 0 no-repeat;}
.section1 p{font-size:18px;font-weight:500;color:#46494c;line-height:1.5;letter-spacing:-0.01em;}
.section1 p + p{margin-top:12px;font-size:20px;font-weight:600;color:#0bab70;}
.section1 p strong{font:inherit;font-weight:600;color:#e71b11;}
.section1 .evtInfoWrap{margin:35px 60px auto;padding:40px 170px 664px;background:url(../../images/event/2022/event220321/bg_info.png) -2px -2px no-repeat #fff;border:2px solid #dedede;text-align:left;}
.section1 .evtInfoWrap .evtPeriod li + li{margin-top:8px;}
.section1 .evtInfoWrap .evtPeriod li .tit,
.section1 .evtInfoWrap .evtPeriod li .txt{display:inline-block;min-width:90px;height:28px;vertical-align:top;}
.section1 .evtInfoWrap .evtPeriod li .tit{background:#737881;border-radius:14px;font-size:16px;font-weight:500;color:#fff;text-align:center;line-height:1.75;letter-spacing:-0.075em;}
.section1 .evtInfoWrap .evtPeriod li .txt{width:calc(100% - 98px);margin-left:8px;font-size:24px;font-weight:600;color:#2b2e31;line-height:1.16;letter-spacing:-0.04em;}
.section1 .evtInfoWrap .evtPeriod li .txt em{font:inherit;color:#e71b11;}
.section1 .evtIntroWrap{width:790px;height:625px;margin:30px 60px auto;background:url(../../images/event/2022/event220321/bg_intro.png) 0 0 no-repeat;}
.section2{padding:27px 0 60px;border-radius:0 0 30px 30px;}
.section2 .evtFormWrap{width:790px;margin:0 auto;padding-top:56px;background:url(../../images/event/2022/event220321/form_tit.png) 50% 0 no-repeat;}
.section2 .evtFormWrap .formInner{padding:0 50px;background:#fff;border-right:2px solid #dedede;border-left:2px solid #dedede;}
.section2 .evtFormWrap .formItem + .formItem{margin-top:50px;}
.section2 .evtFormWrap .formQ{font-size:20px;font-weight:600;color:#2b2e31;text-align:left;line-height:1;letter-spacing:-0.025em;}
.section2 .evtFormWrap .formQ + p{position:relative;padding:30px 0;font-size:18px;font-weight:600;color:#2b2e31;z-index:1;}
.section2 .evtFormWrap .formQ + p:before{content:'';position:absolute;top:48px;display:inline-block;width:171px;height:10px;background:#fffc00;z-index:-1;}
/* RDO */
.section2 .rdoWrap{margin-top:20px;font-size:0;}
.section2 .rdoWrap .rdo{position:relative;display:inline-block;}
.section2 .rdoWrap .rdo + .rdo{margin-left:16px;}
.section2 .rdoWrap .rdo input[type="radio"]{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;margin:-1px;padding:0;border:0;font-size:1px;line-height:1;clip:rect(0,0,0,0);}
.section2 .rdoWrap .rdo input[type="radio"] + label{display:inline-block;width:163px;height:278px;}
.section2 .rdoWrap .rdo input[type="radio"] + label span{position:absolute;bottom:0;left:0;width:100%;font-size:16px;font-weight:600;color:#2b2f32;line-height:1;}
.section2 .rdoWrap .rdo:nth-child(1) input[type="radio"] + label{background:url(../../images/event/2022/event220321/bg_rdo01.png) 50% 34px no-repeat;}
.section2 .rdoWrap .rdo:nth-child(2) input[type="radio"] + label{background:url(../../images/event/2022/event220321/bg_rdo02.png) 50% 34px no-repeat;}
.section2 .rdoWrap .rdo input[type="radio"] + label:before{content:'';display:inline-block;box-sizing:border-box;width:23px;height:23px;background:#fff;border:2px solid #abadb5;border-radius:100%;vertical-align:top;}
.section2 .rdoWrap .rdo input[type="radio"]:checked + label:after{content:'';position:absolute;top:4px;left:74px;display:inline-block;width:15px;height:15px;background:#e71b11;border-radius:100%;}
/* */
.section2 .textareaWrap{position:relative;margin-top:10px;font-size:0;line-height:1;}
.section2 .textareaWrap textarea{display:inline-block;box-sizing:border-box;width:565px;height:106px;padding:15px;border:2px solid #c8c9c5;border-right:0;font-family:'Noto Sans KR', sans-serif;font-size:16px;vertical-align:top;}
.section2 .textareaWrap textarea::-moz-placeholder{color:#929292;}
.section2 .textareaWrap textarea:-moz-placeholder{color:#929292;}
.section2 .btnApply{display:inline-block;width:118px;height:106px;background:#e71b11;font-size:22px;font-weight:600;color:#fff;letter-spacing:-0.025em;vertical-align:top;}
.section2 .count{margin-right:120px;padding-bottom:30px;font-size:16px;font-weight:400;color:#969696;text-align:right;}
.section2 .count span{color:#2b2f32;}
#commentList{position:relative;width:790px;margin:0 auto;text-align:left;}
/* EVTLIST */
.evtListWrap{position:relative;padding:0 50px;background:#fff;border-right:2px solid #dedede;border-bottom:2px solid #dedede;border-left:2px solid #dedede;z-index:1;}
.evtListWrap .evtList li{padding:25px 0;border-bottom:1px solid #e3e4e2;}
.evtListWrap .evtList li strong{font-size:16px;font-weight:400;color:#000;line-height:1;letter-spacing:-0.02em;}
.evtListWrap .evtList li .txt{height:auto;margin-top:14px;font-size:16px;font-weight:400;color:#737373;line-height:1.625;letter-spacing:-0.025em;}
/* PAGING */
.eventDetail .paging{padding:0;text-align:center;line-height:1;}
.eventDetail .paging > *{display:inline-block;box-sizing:border-box;width:25px;height:25px;margin:30px 2px;font-size:14px;color:#fff;line-height:25px;vertical-align:middle;}
.eventDetail .paging a, .eventDetail .paging a:hover{padding:0;border:0;color:#a2917e;text-align:center;line-height:25px;}
.eventDetail .paging strong{border:1px solid #484848;font-size:14px;color:#484848;}
.eventDetail .paging [class^="btnPage"]{position:relative;}
.eventDetail .paging .btnPageFirst{background:url(../../images/event/2021/event210113/bg_paging.png) no-repeat 8px 50%;}
.eventDetail .paging .btnPagePrev{background:url(../../images/event/2021/event210113/bg_paging.png) no-repeat -13px 50%;}
.eventDetail .paging .btnPageNext{background:url(../../images/event/2021/event210113/bg_paging.png) no-repeat -40px 50%;}
.eventDetail .paging .btnPageLast{background:url(../../images/event/2021/event210113/bg_paging.png) no-repeat -60px 50%;}
/* POPUP */
#popApply{width:570px !important;z-index:100;font-family:'돋움', sans-serif;}
#popApply .dimed{position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,0.8);z-index:1;}
#popApply .msgPopCnt{overflow:hidden;position:relative;border-radius:20px;z-index:1;}
#popApply .msgPopCnt .tit{box-sizing:border-box;height:60px;padding:16px 0 0 30px;background:#ffe785;font-size:22px;font-weight:700;letter-spacing:-0.04em;}
#popApply .msgPopCnt .tit h2{font-family:'Noto Sans KR', sans-serif;color:#393d49;}
#popApply .msgPopCnt .tit h2 strong{color:#ff8025;}
#popApply .msgPopCnt .popClose{position:absolute;top:17px;right:19px;}
#popApply.msgPopup .contWrap{padding:15px 15px 30px !important;}
#popApply table{border-top:2px solid #c1c1c1;border-bottom:1px solid #dfdfdf;}
#popApply table tbody th{height:33px;padding-left:0;background:#f2f2f2;border-right:1px solid #dfdfdf;font-size:12px;color:#666;text-align:center;}
#popApply table tbody td{padding:10px !important;}
#popApply table tbody td .pointColor{margin-left:10px;font-size:12px;color:#ff8025;}
#popApply .inputList + .inputList{margin-top:10px;}
#popApply .examInfo{margin-bottom:15px;}
#popApply .examInfo table tr td .txt{height:20px;}
#popApply .examInfo table tr td select{height:23px;border:1px solid #707070;color:#666;}
#popApply .sub_text{margin:0 10px;}
#popApply .sub_text p{font-size:11px;color:#ef0000;line-height:17px;}
#popApply.msgPopup .agree_info{margin-top:15px;padding:20px;border-top:1px solid #dfdfdf;}
#popApply.msgPopup .agree_info dt{font-size:12px;font-weight:700;color:#666;}
#popApply.msgPopup .agree_info dd ul li {font-size:11px;line-height:18px;letter-spacing:-0.5px;}
#popApply.msgPopup .agree_info dd ul + p{margin:15px 10px 0 !important;font-size:11px;color:#888 !important;line-height:18px;letter-spacing:-0.5px;}
#popApply.msgPopup .agree label{font-size:12px;letter-spacing:-0.5px;}
#popApply.msgPopup [class^="agree"] .pointColor{color:#f04e37;}
#popApply.msgPopup .btnArea button{width:178px;height:56px;background:#ff8025;border-radius:28px;font-family:'Noto Sans KR', sans-serif;font-size:20px;font-weight:600;color:#fff;text-align:center;letter-spacing:-0.025em;}
#popApply.msgPopup .searchSchool,
#popApply.msgPopup .search_address2 {display:inline-block;height:21px;padding:0 21px 0 7px;margin-left:3px;font-family:'돋움', sans-serif;background-color:#bebebe;background-image:url(../../images/event/2021/event210416/right_ico.png);background-repeat:no-repeat;background-position:top 50% right 7px;border:1px solid #a8a8a8;border-radius:3px;font-size:11px;color:#fff;line-height:22px;}
#popApply.msgPopup .searchSchoolTxt {font-size:11px;color:#a0a0a0;line-height:15px;letter-spacing:-0.6px;margin:6px 0 0 2px;font-family:'돋움', sans-serif;}
#popApply.msgPopup .searchSchoolTxt span {display:block;padding-left:8px;}

/* 학교 검색 팝업 */
.eventDetail .joinSchool {display: none; top: 300px; width: 550px; margin-left: -240px; margin-top: 0; z-index:9901; box-shadow: 5px 5px 4px 2px rgba(0, 0, 0, 0.2);}
.eventDetail .layerPop {position:absolute;background: #fff}
.eventDetail .joinSchool .popContent {padding-top: 20px;}
.eventDetail .joinSchool .school_list {height: 260px;}