@charset "utf-8";

/* 공통 */
.eventDetail{position:relative;box-sizing:border-box;width:910px;font-family:'Noto Sans KR', sans-serif;}
.eventDetail img{vertical-align:top;}
.eventDetail a{text-decoration:none;}
.eventDetail input,
.eventDetail label,
.eventDetail textarea{font-family:'Noto Sans KR', sans-serif;}
/* //공통 */
/* START */
[class^="section"]{position:relative;}
[class^="section"] .imgWrap{display:block;}
[class^="section"] input::-webkit-input-placeholder,
[class^="section"] textarea::-webkit-input-placeholder{color:#a1a1a1;}
[class^="section"] input::-moz-placeholder,
[class^="section"] textarea::-moz-placeholder{color:#a1a1a1;}
[class^="section"] input:-ms-input-placeholder,
[class^="section"] textarea:-ms-input-placeholder{color:#a1a1a1;}
[class^="section"] input:-moz-placeholder,
[class^="section"] textarea:-moz-placeholder{color:#a1a1a1;}

/* EVENT */
.section1 {position:relative;}
.section1 a {position:absolute;top:485px;left:409px;}
.section2 {padding:0 130px 67px 130px;background:#ffe2a0;}
.section2 .viewWrap {width:650px;height:40px;border:1px solid #d9ba74;border-radius:20px;box-sizing:border-box;}
.section2 .viewWrap:after {display:block;content:"";clear:both;}
.section2 .viewWrap p {float:left;line-height:40px;padding-left:50px;font-size:15px;color:#3c3c48;font-weight:bold;letter-spacing:-0.5px;} 
.section2 .viewWrap p span {vertical-align:middle;}
.section2 .viewWrap button {float:right;width:130px;background:#3c3c48;border-radius:0 20px 20px 0;height:40px;}
.section2 .btnWrap {padding:30px 0 0 177px;}

/* POPUP */
#popApply{width:490px !important;z-index:100;font-family:'돋움', sans-serif;}
#popApply .dimed{position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,0.8);z-index:1;}
#popApply .msgPopCnt{overflow:hidden;position:relative;border-radius:20px;z-index:1;}
#popApply .msgPopCnt .tit{background:#f66757;}
#popApply .msgPopCnt .popClose{position:absolute;top:17px;right:19px;}
#popApply.msgPopup .contWrap{padding:15px 15px 30px !important;border:0;}
#popApply table{border-top:2px solid #c1c1c1;border-bottom:1px solid #dfdfdf;}

#popApply table tbody th{height:33px;padding-left:0;background:#f2f2f2;border-right:1px solid #dfdfdf;font-size:12px;color:#666;text-align:center;font-family:'돋움', sans-serif;}
#popApply table tbody td{padding-left:10px !important;font-family:'돋움', sans-serif;}
#popApply table tr td .txt {height:20px;}
#popApply table tbody tr td select {height:21px;border:1px solid #707070;color:#666;font-family:'돋움', sans-serif;}
#popApply .popTxt {padding:15px 0 0 15px;color:#ff5656;font-size:12px;line-height:16px;font-family:'돋움', sans-serif;}
#popApply .sub_text {font-family:'돋움', sans-serif;color:#eb000b;line-height:15px;padding:5px 0 0 15px;font-size:11px;}
#popApply.msgPopup .agree_info{margin-top:15px;border-top:1px solid #dfdfdf;}
#popApply.msgPopup .msgPopCnt .agree_info dt{font-size:12px;font-weight:600;color:#666;}
#popApply.msgPopup .msgPopCnt .agree_info dd ul + p{margin:15px 10px 0 !important;letter-spacing:-0.5px;font-size:11px;color:#888 !important;line-height:18px;}
#popApply.msgPopup .msgPopCnt .agree_info dd li{color:#666;line-height:18px;font-size:11px;letter-spacing:0;}
#popApply.msgPopup .agree label{font-size:12px;color:#666;letter-spacing:-0.5px;}
#popApply.msgPopup .btnArea button{width:150px;height:40px;font-family:'Noto Sans KR', sans-serif;font-size:16px;background:#3e3a51;color:#fff;}
/* td > multiWrap */
#popApply table tr td .multiWrap{padding:8px 0;}
#popApply table tr td .multiWrap .sub_text{margin:5px 0 0 0;}
/* 우편번호 검색 버튼 */
#search_address2{display:inline-block;height:20px;padding:0 7px;font-family:'돋움', sans-serif;background:#bebebe;border:1px solid #a8a8a8;border-radius:4px;font-size:11px;color:#fff;line-height:20px;vertical-align:top;}