@charset "utf-8";

/* 공통 */
.eventDetail{position:relative;box-sizing:border-box;width:910px;font-family:'Noto Sans KR', sans-serif;}
.eventDetail img{vertical-align:top;}
.eventDetail a{text-decoration:none;}
/* //공통 */
/* START */
[class^="section"]{position:relative;}
[class^="section"] .imgWrap{display:block;}
[class^="section"] input,
[class^="section"] label,
[class^="section"] textarea{font-family:'Noto Sans KR', sans-serif;}
[class^="section"] textarea::-webkit-input-placeholder{color:#969696;}
[class^="section"] textarea::-moz-placeholder{color:#969696;}
[class^="section"] textarea:-ms-input-placeholder{color:#969696;}
[class^="section"] textarea:-moz-placeholder{color:#969696;}

/* EVENT */
.section2 {background:#52d6cb;width:910px;padding-bottom:65px;}
.section2 .evtWrap {margin:0 65px;width:780px;background:#FFF;border-right:2px solid #053251;border-left:2px solid #053251;border-bottom:2px solid #053251;box-sizing:border-box;border-radius:0 0 30px 30px;text-align:center;}
.section2 .evtWrap .evtCont>img {text-align:center;padding:34px 0;}
.section2 .evtWrap .commendWrap {}
.section2 .evtWrap .commendWrap p {text-align:right;margin:20px 40px 3px 0;color:#a1a1a1;}
.section2 .evtWrap .commendWrap p span {color:#053251;}
.section2 .evtWrap .commendWrap .evtTextarea textarea {width:700px;height:105px;border:1px solid #0c2e51;border-radius:7px;box-sizing:border-box;padding:15px 18px;font-size:14px;}
.section2 .evtWrap .evtCont .btnWrap {margin:auto;padding:20px 0 60px 0;width:700px;border-bottom:3px solid #053251;}

/* checkWrap */
.checkWrap {margin-top:16px;font-size:0;text-align:center;}
.checkWrap ul {width:650px;margin:auto;}
.checkWrap ul:after {content:'';display:block;clear:both;}
.checkWrap ul li {position:relative;float:left;width:100px;margin-right:10px;margin-bottom:35px; }
.checkWrap ul li:nth-child(6), .checkWrap ul li:nth-child(12) {margin-right:0;}
.checkWrap ul li input[type="checkbox"] {display:none;position:absolute;top:0;left:0;width:20px;height:20px;margin:0;border-radius:10px;border:3px solid #e5e5e5;}

.checkWrap ul li input[type="checkbox"] + label {display:block;width:100px;font-family:'Nanum Gothic', sans-serif;font-size:13px;letter-spacing:-0.25px;font-weight:700;line-height:16px;text-align:center;cursor:pointer;}
.checkWrap ul li input[type="checkbox"] + label:before {position:absolute;top:142px;left:40px;display:block;content:'';width:21px;height:21px;background:url(../../images/event/2021/event210203/check_off.png);}
.checkWrap ul li label span {display:block;font-family:'Nanum Gothic', sans-serif;font-size:13px;letter-spacing:-0.25px;font-weight:bold;line-height:16px;}
.checkWrap ul li label .ckeckMunth {color:#a5a5a5;padding-top:45px;}
.checkWrap ul li label .checkTxt {color:#333;}
.checkWrap input[type="checkbox"]:checked + label:before {position:absolute;top:142px;left:40px;display:block;content:'';width:21px;height:21px;background:url(../../images/event/2021/event210203/check_on.png);}
.checkWrap input[type="checkbox"]:checked + label:after {position:absolute;left:00;top:0;display:block;content:'';width:100px;height:128px;background:url(../../images/event/2021/event210203/check_bg.png);}

.evtListWrap .evtList li{margin:0 40px;padding:25px 0;border-bottom:1px solid #e3e4e2;text-align:left;}
.evtListWrap .evtList li strong{font-size:16px;font-weight:400;color:#000;line-height:1;letter-spacing:-1px;}
.evtListWrap .evtList li strong + .txt{height:auto;margin-top:25px;font-size:14px;font-weight:400;color:#737373;line-height:1.65;letter-spacing:-1px;}
/* PAGING */
.eventDetail .paging{margin-top:35px;text-align:center;line-height:1;padding-bottom:70px;font-family:'Noto Sans KR', sans-serif;font-size:14px;}
.eventDetail .paging > *{display:inline-block;box-sizing:border-box;width:25px;height:25px;padding:0;color:#fff;line-height:23px;vertical-align:middle;margin:0 2.5px;}
.eventDetail .paging a, .eventDetail .paging a:hover{border:0;color:#adadad;line-height:25px;font-family:'Noto Sans KR', sans-serif;}
.eventDetail .paging strong{background:#fff;border:1px solid #ff6841;font-size:14px;color:#ff6841;}
.eventDetail .paging [class^="btnPage"]{position:relative;}
.eventDetail .paging .btnPageFirst{background:url(../../images/event/2021/event210113/bg_paging.png) no-repeat 8px 50%;}
.eventDetail .paging .btnPagePrev{background:url(../../images/event/2021/event210113/bg_paging.png) no-repeat -13px 50%;}
.eventDetail .paging .btnPageNext{background:url(../../images/event/2021/event210113/bg_paging.png) no-repeat -39px 50%;}
.eventDetail .paging .btnPageLast{background:url(../../images/event/2021/event210113/bg_paging.png) no-repeat -60px 50%;}
/* POPUP */
#popApply{width:490px !important;z-index:100;}
#popApply .dimed{position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,0.8);z-index:1;}
#popApply .msgPopCnt{overflow:hidden;position:relative;border-radius:20px;z-index:1;}
#popApply .msgPopCnt .tit{background:#52d6cb;}
#popApply .msgPopCnt .popClose{position:absolute;top:17px;right:19px;}
#popApply.msgPopup .contWrap{padding:15px 15px 30px !important;border:0;}
#popApply table{border-top:2px solid #c1c1c1;border-bottom:1px solid #dfdfdf;}
#popApply table tbody th{height:33px;padding-left:0;background:#f2f2f2;border-right:1px solid #dfdfdf;font-size:12px;color:#666;text-align:center;}
#popApply table tbody td{padding-left:10px !important;}
#popApply .examInfo{margin-bottom:15px;}
#popApply .examInfo table tr td .txt{height:20px;}
#popApply .examInfo table tr td select{height:23px;border:1px solid #707070;color:#666;}
#popApply .applyInfo{font-size:0;}
#popApply .applyInfo > *{display:inline-block;vertical-align:middle;}
#popApply .applyInfo .infoTit{width:80px;height:26px;background:#b3181f;border-radius:12px;font-size:11px;color:#fff;text-align:center;line-height:2.5;}
#popApply .applyInfo .infoList{margin-left:10px;}
#popApply .applyInfo .infoList p{font-size:11px;color:#eb000b;line-height:1.5;}
#popApply.msgPopup .agree_info{margin-top:15px;border-top:1px solid #dfdfdf;}
#popApply.msgPopup .agree_info dt{font-size:12px;font-weight:600;color:#666;}
#popApply.msgPopup .agree_info dd ul + p{margin:15px 10px 0 !important;font-size:11px;color:#888 !important;line-height:18px;}
#popApply.msgPopup .agree_info dd li{color:#666;letter-spacing:-0.25px !important;text-indent:-13px !important;line-height:18px !important;}
#popApply.msgPopup .agree label{font-size:12px;}
#popApply.msgPopup .btnArea button{width:150px;height:40px;font-family:'Noto Sans KR', sans-serif;font-size:18px;font-weight:400;background:#053251;color:#fff;}
/* td > multiWrap */
#popApply table tr td .multiWrap{padding:8px 0;}
#popApply table tr td .multiWrap .sub_text{margin:5px 0 0 0;}
/* 우편번호 검색 버튼 */
#search_address2{display:inline-block;height:20px;padding:0 7px;font-family:'돋움', sans-serif;background:#bebebe;border:1px solid #a8a8a8;border-radius:4px;font-size:11px;color:#fff;line-height:20px;vertical-align:top;}