@charset "utf-8";

/* 공통 */
.eventDetail{position:relative;box-sizing:border-box;width:910px;font-family:'Noto Sans KR', sans-serif;background:#feeae3;}
.eventDetail img{vertical-align:top;}
/* //공통 */
/* START */
.eventDetail a{text-decoration:none;}
.eventDetail [class^="section"] .inner{padding:0 57px;margin:0 75px;border-radius:15px;background:#FFF;}
.txtWrap {padding-top:45px;margin-left::5px;}
.txtWrap ul li {padding-left:25px;background:url(../../images/event/2021/event210407/list_icon.png) 0 50% no-repeat;font-size:18px;line-height:30px;letter-spacing:-0.5px;color:#494949;font-weight:600;}
.caseBookWrap{margin-top:30px;}

/* 이벤트 체크박스 공통 */
.caseBookWrap input[type="checkbox"]{overflow:hidden;position:absolute;top:-10px;left:-10px;width:1px;height:1px;margin:0;}
.caseBookWrap input[type="checkbox"] + label{display:block;width:100%;height:100%;cursor:pointer;}
/**/
.chkAllWrap{position:relative;background:url(../../images/event/2021/event210407/allbtn_bg.png) right 50% no-repeat;margin-bottom:10px;}
.chkAllWrap input[type="checkbox"] + label{display:inline-block;width:190px;height:47px;font-size:21px;font-weight:600;color:#404040;line-height:47px;letter-spacing:-1px;}
.chkAllWrap input[type="checkbox"] + label:before{content:'';display:inline-block;box-sizing:border-box;width:29px;height:29px;margin:10px 8px 0 0;background:#e9e4db;border:1px solid #dfd7ca;border-radius:30px;vertical-align:top;}
.chkAllWrap input[type="checkbox"]:checked + label:after{content:'';position:absolute;top:16px;left:6px;display:inline-block;width:17px;height:17px;background:#fb4f7f;border-radius:9px;}
.caseBookList{overflow:hidden;}
.caseBookList li{float:left;position:relative;width:178px;height:278px;margin-right:55px;background-image:url(../../images/event/2021/event210407/bg_casebook01.png);background-position:0 18px;background-repeat:no-repeat;}
.caseBookList li:nth-child(2){background-image:url(../../images/event/2021/event210407/bg_casebook02.png);}
.caseBookList li:nth-child(3){background-image:url(../../images/event/2021/event210407/bg_casebook03.png);margin-right:0;}
.caseBookList span {position:absolute;bottom:0;left:0;right:0;text-align:center;font-size:18px;letter-spacing:-0.5px;color:#292929;font-weight:600;}
.caseBookWrap .caseTxt {display:block;margin-top:35px;text-align:right;}
/* 이벤트 체크박스 활성화 */
.caseBookList li input[type="checkbox"]:checked + label:before{content:'';position:absolute;top:94px;left:53px;display:inline-block;box-sizing:border-box;width:70px;height:70px;background:url(../../images/event/2021/event210407/bg_casebook01_on.png);}
.caseBookList li:nth-child(2) input[type="checkbox"]:checked + label:before{background:url(../../images/event/2021/event210407/bg_casebook02_on.png);}
.caseBookList li:nth-child(3) input[type="checkbox"]:checked + label:before{background:url(../../images/event/2021/event210407/bg_casebook03_on.png);}
.caseBookList li input[type="checkbox"]:checked + label:after,
.caseBookList li input[type="checkbox"]:hover + label:after{content:'';display:inline-block;width:167px;height:213px;border:5px solid #ff3442;margin-top:18px;}
.caseBookList li:nth-child(2) input[type="checkbox"]:checked + label:after,
.caseBookList li:nth-child(2) input[type="checkbox"]:hover + label:after{border:5px solid #128e06;}
.caseBookList li:nth-child(3) input[type="checkbox"]:checked + label:after,
.caseBookList li:nth-child(3) input[type="checkbox"]:hover + label:after{border:5px solid #2540b7;}
/* 이벤트 체크박스 비활성화 */
.caseBookList li input[type="checkbox"]:disabled + label{cursor:default;}
.caseBookList li input[type="checkbox"]:disabled + label:after,
.caseBookList li:nth-child(2) input[type="checkbox"]:disabled + label:after,
.caseBookList li:nth-child(3) input[type="checkbox"]:disabled + label:after {border:none;}
.caseBookList li input[type="checkbox"]:disabled + label:before{content:'';position:absolute;top:0;left:0;display:inline-block;width:195px;height:242px;background:url(../../images/event/2021/event210407/bg_casebook01_off.png);}
/**/
.caseBookInfo{width:760px;overflow:hidden;margin:15px auto 50px auto;box-sizing:border-box;padding:23px 23px 23px 72px;background-color:#c5e3e9;background-image:url(../../images/event/2021/event210407/txt_bg.png);background-repeat:no-repeat;background-position:18px 50% ;border-top:1px solid #e9e4e0;border-radius:15px;}
.caseBookInfo .txtInfo{float:left;margin-top:6px;}
.caseBookInfo .btnLink01{float:right;margin-top:10px;}
.section2 .btnWrap{padding-bottom:55px;margin-top:30px;font-size:0;text-align:center;}
.section2 .btnWrap .btnApply{display:inline-block;}
/* POPUP */
#popApply{width:490px !important;z-index:100;}
#popApply .dimed{position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,0.8);z-index:1;}
#popApply .msgPopCnt{overflow:hidden;position:relative;border-radius:20px;z-index:1;}
#popApply .msgPopCnt .tit{background:#3d3bb6;}
#popApply .msgPopCnt .popClose{position:absolute;top:17px;right:19px;}
#popApply.msgPopup .contWrap{padding:15px 15px 30px !important;}
#popApply table{border-top:2px solid #c1c1c1;border-bottom:1px solid #dfdfdf;}
#popApply table tbody th{height:33px;padding-left:0;background:#f2f2f2;border-right:1px solid #dfdfdf;font-size:12px;color:#666;text-align:center;}
#popApply table tbody td{padding-left:10px !important;}
#popApply .examInfo{margin-bottom:15px;}
#popApply .examInfo table tr td .txt{height:20px;}
#popApply .examInfo table tr td select{height:23px;border:1px solid #707070;color:#666;}
#popApply .sub_text{margin:0 20px;}
#popApply .sub_text p{font-size:11px;ine-height:17px;}
#popApply.msgPopup .agree_info{margin-top:15px;border-top:1px solid #dfdfdf;}
#popApply.msgPopup .agree_info dt{font-size:12px;font-weight:600;color:#666;}
#popApply.msgPopup .agree_info dd ul + p{margin:15px 10px 0 !important;font-size:11px;color:#888 !important;line-height:18px;}
#popApply.msgPopup .agree label{font-size:12px;}
#popApply.msgPopup .agree_info .break {display:block;padding-left:12px;}
#popApply.msgPopup .agree_info .agreeClr1 {color:#3d3bb6;}
#popApply.msgPopup .agree_info .agreeClr1 a {color:#3d3bb6;}
#popApply.msgPopup .agree_info .agreeClr2 {color:#eb000b;}
#popApply.msgPopup .btnArea button {width:130px;height:40px;background:#3d3bb6;color:#FFF;font-size:18px;text-align:center;font-family:'Noto Sans KR', sans-serif;letter-spacing:-0.3px;}
#popApply.msgPopup .search_address1 {display: inline-block;height: 20px;padding: 0 7px;font-family: '돋움', sans-serif;background: #bebebe;border: 1px solid #a8a8a8;border-radius: 4px;font-size: 11px;color: #fff;line-height: 20px;vertical-align: top;}