@charset "utf-8";

/* 공통 */
.eventDetail{position:relative;box-sizing:border-box;width:910px;font-family:'Noto Sans KR', sans-serif;background:#feeae3;}
.eventDetail img{vertical-align:top;}
/* //공통 */
/* START */
.eventDetail a{text-decoration:none;}
.eventDetail [class^="section"] .inner{padding:0 35px;background:#ffe55f;}

.chkListWrap {border-radius:20px;padding:20px 16px;background:#FFF;}

/* 이벤트 체크박스 공통 */
.chkListWrap input[type="radio"]{overflow:hidden;position:absolute;top:-10px;left:-10px;width:1px;height:1px;margin:0;}
.chkListWrap input[type="radio"] + label{display:block;width:100%;height:100%;cursor:pointer;}
/**/
.chkList {overflow:hidden;}
.chkList li {float:left;position:relative;width:264px;height:360px;margin-right:8px;margin-bottom:20px;background-repeat:no-repeat;}
.chkList li:nth-child(1) {background-image:url(../../images/event/2021/event210617/map1.png);}
.chkList li:nth-child(2) {background-image:url(../../images/event/2021/event210617/map2.png);}
.chkList li:nth-child(3) {background-image:url(../../images/event/2021/event210617/map3.png);margin-right:0;}
.chkList li:nth-child(4) {background-image:url(../../images/event/2021/event210617/map4.png);}
.chkList li:nth-child(5) {background-image:url(../../images/event/2021/event210617/map5.png);}
.chkList li:nth-child(6) {background-image:url(../../images/event/2021/event210617/map6.png);margin-right:0;}
.chkList li:nth-child(7) {background-image:url(../../images/event/2021/event210617/map7.png);margin-bottom:0;}
.chkList li:nth-child(8) {background-image:url(../../images/event/2021/event210617/map8.png);margin-bottom:0;}
.chkList li:nth-child(9) {background-image:url(../../images/event/2021/event210617/map9.png);margin-right:0;margin-bottom:0;}
/* 이벤트 체크박스 활성화 */
.chkList li input[type="radio"]:checked + label:after {content:'';position:absolute;top:264px;left:108px;display:block;width:48px;height:48px;background:url(../../images/event/2021/event210617/chk_on.png) no-repeat;}

/*이벤트 체크박스 비활성화*/
.chkList li.done:nth-child(1) {background-image:url(../../images/event/2021/event210617/map1_done.png);}
.chkList li.done:nth-child(2) {background-image:url(../../images/event/2021/event210617/map2_done.png);}
.chkList li.done:nth-child(3) {background-image:url(../../images/event/2021/event210617/map3_done.png);margin-right:0;}
.chkList li.done:nth-child(4) {background-image:url(../../images/event/2021/event210617/map4_done.png);}
.chkList li.done:nth-child(5) {background-image:url(../../images/event/2021/event210617/map5_done.png);}
.chkList li.done:nth-child(6) {background-image:url(../../images/event/2021/event210617/map6_done.png);margin-right:0;}
.chkList li.done:nth-child(7) {background-image:url(../../images/event/2021/event210617/map7_done.png);margin-bottom:0;}
.chkList li.done:nth-child(8) {background-image:url(../../images/event/2021/event210617/map8_done.png);margin-bottom:0;}



.btnWrap {padding:40px 0 60px 0;text-align:center;}

/* POPUP */
#popApply{width:570px !important;z-index:100;font-family:'돋움', snas-serif;}
#popApply .dimed{position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,0.8);z-index:1;}
#popApply .msgPopCnt{overflow:hidden;position:relative;border-radius:20px;z-index:1;}
#popApply .msgPopCnt .tit{box-sizing:border-box;height:60px;padding:15px 0 0 20px;background:#293776;}
#popApply .msgPopCnt .tit h2{font-family:'Noto Sans KR', sans-serif;font-size:22px;font-weight:700;color:#fff;line-height:1.27;letter-spacing:-0.05em;}
#popApply .msgPopCnt .tit strong{font:inherit;color:#ffe55f;}
#popApply .msgPopCnt .popClose{position:absolute;top:17px;right:19px;}
#popApply.msgPopup .contWrap{padding:15px 15px 30px !important;}
#popApply table{border-top:2px solid #c1c1c1;border-bottom:1px solid #dfdfdf;}
#popApply table tbody th{height:33px;padding-left:0;background:#f2f2f2;border-right:1px solid #dfdfdf;font-size:12px;color:#666;text-align:center;}
#popApply table tbody td{padding:10px !important;}
#popApply .examInfo{margin-bottom:15px;}
#popApply .examInfo table tr td .txt{height:20px;}
#popApply .examInfo table tr td select{height:23px;border:1px solid #707070;color:#666;}
#popApply .sub_text{margin:0 10px;}
#popApply .sub_text p{font-size:11px;color:#ef0000;line-height:17px;}
#popApply.msgPopup .agree_info{margin-top:15px;padding:18px 16px !important;border-top:1px solid #dfdfdf;}
#popApply.msgPopup .agree_info dt{font-size:12px;font-weight:600;color:#666;}
#popApply.msgPopup .agree_info dd ul li {font-size:11px;line-height:18px;letter-spacing:-0.5px;word-break:keep-all;}
#popApply.msgPopup .agree_info li > p{margin-left:10px;font-size:11px;color:#888;}
#popApply.msgPopup .agree_info li > p a{color:#005ef9;}
#popApply.msgPopup .agree_info dd ul + p{margin:15px 10px 0 !important;font-size:11px;color:#888 !important;line-height:18px;letter-spacing:-0.5px;}
#popApply.msgPopup .agree_info span {color:#ef0000;}
#popApply.msgPopup .agree label{font-size:12px;letter-spacing:-0.5px;}
#popApply.msgPopup [class^="agree"] .pointColor{color:#f04e37;}
#popApply.msgPopup .btnArea button{width:150px;height:40px;background:#293776;font-family:'Noto Sans KR', sans-serif;font-size:16px;font-weight:500;color:#fff;text-align:center;letter-spacing:-0.3px;}

#popApply.msgPopup .searchSchool,
#popApply.msgPopup .search_address2 {display:inline-block;height:21px;padding:0 21px 0 7px;margin-left:3px;font-family:'돋움', sans-serif;background-color:#bebebe;background-image:url(../../images/event/2021/event210416/right_ico.png);background-repeat:no-repeat;background-position:top 50% right 7px;border:1px solid #a8a8a8;border-radius:3px;font-size:11px;color:#fff;line-height:22px;}
#popApply.msgPopup .searchSchoolTxt {font-size:11px;color:#a0a0a0;line-height:15px;letter-spacing:-0.6px;margin:6px 0 0 2px;font-family:'돋움', sans-serif;}
#popApply.msgPopup .searchSchoolTxt span {display:block;padding-left:8px;}

/* 학교 검색 팝업 */
.eventDetail .joinSchool {display: none; top: 300px; width: 550px; margin-left: -240px; margin-top: 0; z-index:9901; box-shadow: 5px 5px 4px 2px rgba(0, 0, 0, 0.2);}
.eventDetail .layerPop {position:absolute;background: #fff}
.eventDetail .joinSchool .popContent {padding-top: 20px;}
.eventDetail .joinSchool .school_list {height: 260px;}