@charset "utf-8";

/* 공통 */
.eventDetail {
	width: 747px;
	font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;
	position: relative;
}
.eventDetail img {vertical-align: top;}
.eventDetail input,
.eventDetail label,
.eventDetail select,
.eventDetail textarea {font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}
.eventDetail caption {text-indent:-100%;*text-indent:0;white-space:nowrap;overflow:hidden;font-size:0;line-height:0;text-shadow:none;color:transparent;}
/* //공통 */

/* 이벤트 */
.eventDetail {}
.eventDetail .btn_apply {position: absolute; top: 1300px;left:310px; text-align: center;}

.eventDetail .msgPopup  .dimed{position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,0.8);z-index:1;}
.eventDetail .msgPopup {display:none;position:absolute;top:50%;left:50%;width:500px;height:auto;margin:-350px 0 0 -250px;z-index:9900;border-radius:20px;} 
.eventDetail .msgPopup .msgPopCnt {position:relative;background:#fff;border-radius:20px;z-index:1;}
.eventDetail .msgPopup .msgPopCnt .tit {background:#2ec896;border-radius:20px 20px 0 0;}
.eventDetail .msgPopup .contWrap {padding:25px 20px 20px 20px;border-radius:0 0 20px 20px;}
.eventDetail .msgPopup .commentT {font-weight: bold; font-size:13px; letter-spacing: -1px; padding-bottom:10px;}
.eventDetail .msgPopup .commentB {color:#999;font-size:12px;padding-bottom:10px;}
.eventDetail .msgPopup table {width:100%;}
.eventDetail .msgPopup table caption {text-indent:-1000px;font-size:0;line-height:0;}
.eventDetail .msgPopup table tbody td.input_area {padding:8px 0 0 10px;margin-bottom:10px;}
.eventDetail .msgPopup .inputList > li {margin-top:7px;}
.eventDetail .msgPopup .inputList > li:first-child {margin-top:0;}
.eventDetail .msgPopup .inputList input {}
.eventDetail .msgPopup table {border-top:2px solid #c1c1c1;border-bottom:0;width:460px;}
.eventDetail .msgPopup table tr {border-bottom:1px solid #dfdfdf;}
.eventDetail .msgPopup table tbody th {padding-left:0;background:#f2f2f2;text-align:center;border-right:#dfdfdf;}
.eventDetail .msgPopup table tbody td {padding-left:10px;}
.eventDetail .msgPopup table tbody td textarea {padding:10px;border:1px solid #d9d9d9;color:#999;font:12px "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif}
.eventDetail .msgPopup table tbody td .caution {margin-top:7px;color:#e85e51}
.eventDetail .msgPopup table tbody td select,
.eventDetail .msgPopup table tbody td input,
.eventDetail .msgPopup table tbody td .txt,
.eventDetail .msgPopup table tbody td .school_search {vertical-align:middle;}
.eventDetail .msgPopup table tbody td .school_search {display:inline-block}
.eventDetail .msgPopup table tbody td input[type="checkbox"]:read-only { background:red}
.eventDetail .msgPopup table tbody td label.dis {color:#999;}
.eventDetail .msgPopup table tbody td label.dis em {color:#e85e51}
.eventDetail .msgPopup .btnArea {margin-top:20px;border-top:0 none;text-align:center;padding:0;}
.eventDetail .msgPopup .btnArea a {float:none !important;}
.eventDetail .msgPopup .agree input,
.eventDetail .msgPopup .agree label {vertical-align:middle;margin:0}
.eventDetail .msgPopup .agree input {margin-right:5px;}
.eventDetail .msgPopup .agree label {font-weight:bold;}
.eventDetail #addressFindPop input[type="text"] {width:255px;height:25px;padding: 0 10px;border:1px solid #d9d9d9;float:left;}
.eventDetail .msgPopup ul.comment {margin-bottom:10px;}
.eventDetail .msgPopup ul.comment li {padding:0 0 4px 10px;text-indent:-10px;font-size:11px;color:#666;line-height:1.4}

.joinSchool {display:none;top:0;height:auto;margin-top:0;}
.joinSchool input[type=text] {float:left;width:255px;height:25px;padding:0 10px;border:1px solid #d9d9d9;}
.popContent ul li ul.school_Search li a {float:left;}
.eventDetail .msgPopup .agree_info {margin-top: 10px;}
.eventDetail .agree_info {background-color: #f6f6f6;padding: 20px 25px;}
.eventDetail .agree_info dt {margin-bottom: 10px;font-size: 13px; color: #333; font-weight:800;}
.eventDetail .agree_info dd li {padding-left: 8px; font-size: 12px; color: #888; line-height: 1.45em;}
.eventDetail .agree_info dd li span {display:block;padding-left:13px;}
.eventDetail .agree_info p {margin:10px 0 0 10px;font-size:11px;line-height:16px;}
.eventDetail .infoList {color:#ed1800;font-size:11px;padding:5px 0 0 10px;line-height:16px;}
.eventDetail .msgPopup .btnArea {margin-top:7px;}
.eventDetail .msgPopup .btnArea a {display:block;margin:auto;margin-bottom:20px;width:150px;height:40px;font-size:16px;color:#FFF;text-align:center;line-height:40px;background:#2d373f;text-decoration:none;}
